/* bindinator.js Copyright ©2016-2017 Tonio Loewald */

:root {
  --ui-font: 13px system-ui;
  --bg-color: #cff2a6;
  --content-bg-color: white;
  --text-color: #222;
  --dark-text-color: #ddd;
  --code-text-color: #444;
  --faded-text-color: #666;
  --hint-text-color: #aaa;
  --accent-color: #57A700;
  --dark-accent-color: #2B5300;
  --light-accent-color: #BCED85;
  --bright-accent-color: #7ED321;
  --default-bg-color: #cfb;
  --cancel-bg-color: #ffb;
  --selection-color: rgba(128,255,0,0.75);
  --focus-color: rgba(64,255,0,0.5);
  --pullquote-bg-color: #dfd;
  --black-10: rgba(0,0,0,0.1);
  --black-20: rgba(0,0,0,0.2);
  --black-40: rgba(0,0,0,0.4);
  --white-50: rgba(255,255,255,0.5);
  --white-75: rgba(255,255,255,0.75);

  --link-color: rgba(64,0,255,0.5);
  --link-active-color: #40f;
}

body {
  font: var(--ui-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

* {
  box-sizing: border-box;
  /* overflow issue */
  min-height: 0;
  min-width: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}

a:hover {
  border-bottom: 2px solid var(--link-color);
}

a:visited {
  color: var(--faded-text-color);
}

a:active {
  border-bottom: 2px solid var(--link-active-color);
}

.dark {
  color: var(--dark-text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin: 0 0 8px 0;
}

.content h1,
.content h2,
.content h3 {
  margin-top: 16px;
}

.content h4,
.content h5,
.content h6 {
  margin-top: 8px;
}

h1, h2, h3, h4, h5, h6, b, strong, .b8r-color, summary {
  color: var(--accent-color);
}

.header > h1 {
  color: white;
  font-weight: 100;
  text-align: center;
  align-self: center;
}

.hidden,
[data-list] {
  display: none !important;
}

.layout {
  display: flex;
  flex-direction: column;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.fullscreen .layout,
.fullscreen #example {
  position: fixed;
  transform: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  max-width: none;
  background: white;
  box-sizing: content-box;
}

.fullscreen #example {
  overflow-y: scroll;
  overflow-y: overlay;
  padding: 16px;
}

.header,
.footer {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-user-select: none;
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--accent-color);
  top: 0;
  -webkit-app-region: drag;
}

.fullscreen .header {
  transform: translateX(-100%);
}

.fullscreen .footer {
  transform: translateY(100%);
}

.header > * {
  margin: 0;
  padding: 0;
  width: 920px;
}

.footer {
  bottom: 0;
  height: 32px;
  padding: 8px;
  background-color: var(--bright-accent-color);
}

.footer > * {
  text-align: center;
  align-self: center;
}

.content {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -240px;
  right: 0;
  padding: 64px 0 32px;
  background: var(--content-bg-color);
  min-height: 100vh;
}

.content > * {
  width: 616px;
}

.content > *,
.nav > * {
  margin: 6px 12px;
}

.nav {
  position: fixed;
  left: 0;
  top: 64px;
  right: 50%;
  bottom: 32px;
  margin-right: 240px;
  overflow-y: scroll;
  overflow-y: overlay;
  background-color: var(--light-accent-color);
  text-align: right;
}

.nav > * {
  margin-left: auto;
  width: 160px;
  text-align: left;
}

::-webkit-details-marker {
  color: var(--accent-color);
}

summary {
  cursor: pointer;
}

.nav summary {
  font-weight: 500;
  color: var(--faded-text-color);
  text-transform: uppercase;
  font-size: 12px;
}

details[open] summary ~ *,
.fade-in {
  animation: fade-in 0.25s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0 !important;
  animation: fade-out 0.5s ease-out;
}

@keyframes fade-out {
  from {
    opacity: inherit;
  }
  to {
    opacity: 0 !important;
  }
}

.loadable {
  padding: 2px 8px;
  margin-bottom: 4px;
  cursor: pointer;
  margin: 0 -12px;
}

.loadable:hover {
  background-color: var(--bright-accent-color);
}

.loadable.current {
  padding: 3px 8px 3px 4px;
  margin: -1px -12px -1px -8px;
  background-color: white;
}

label {
  vertical-align: baseline;
}

button, .button,
select, .select,
input, textarea, [contenteditable="true"] {
  font: var(--ui-font);
  color: black;
  line-height: 16px;
  padding: 2px 4px;
  background: white;
  border: 1px solid var(--black-10);
  outline: none;
}

:not(input)[placeholder]:empty:after {
  content: attr(placeholder);
  color: var(--hint-text-color);
}

::placeholder {
  color: var(--hint-text-color);
};

select, .select {
  vertical-align: top;
}

button, .button,
input, textarea, [contenteditable="true"] {
  vertical-align: baseline;
}

input, textarea {
  padding: 2px 4px;
  border-radius: 2px;
}

textarea {
  vertical-align: bottom;
  resize: none;
}

input[type=range] {
  vertical-align: bottom;
}

input[type=color] {
  border: none;
  width: 24px;
  height: 24px;
}

[currency]:before {
  content: attr(currency);
  display: inline-block;
}

input.search {
  border-radius: 50px;
  padding: 2px 12px;
}

button {
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 13px;
  outline: none;
  vertical-align: bottom;
}

button.default, button[type="submit"] {
  background-color: var(--default-bg-color);
}

button.cancel, button[type="cancel"] {
  background-color: var(--cancel-bg-color);
}

.iconic {
  border: 0;
  background: var(--white-50);
  width: 24px;
  height: 24px;
  border-radius: 16px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.iconic:focus,
.iconic:hover {
  border: 0;
  background: var(--white-75);
}

.iconic:active {
  border: 0;
  background: white;
}

.hidden-checkbox {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.show-after-checked,
:checked+.show-after-unchecked,
:checked+.show-after-checked+.show-after-unchecked {
  display: none;
}

:checked+.show-after-checked,
.show-after-unchecked {
  display: inline-block;
}

button:hover, .button:hover,
button.cancel:hover, .button.cancel:hover,
button.default:hover, .button.default:hover,
button:focus, .button:focus,
button.cancel:focus, .button.cancel:focus,
button.default:focus, .button.default:focus {
  background-color: var(--light-accent-color);
  border: 1px solid var(--black-20);
}

button:active, .button:active,
button.cancel:active, .button.cancel:active,
button.default:active, .button.default:active {
  background-color: var(--accent-color);
  color: white;
  border: 1px solid var(--black-40);
}

hr {
  border: 0;
  border-top: 1px solid var(--black-20);
}

form {
  padding: 8px 12px;
  margin: 8px 0;
  background-color: var(--black-10);
}

fieldset {
  border: 1px solid var(--black-20);
  margin: 4px 0;
  padding: 4px 8px;
}

:focus, :focus+.focus-follower {
  box-shadow: 0 0 0 4px var(--focus-color);
  outline: none;
}

pre {
  font-family: Menlo, Monaco, Monospace;
  padding: 4px 8px;
  background-color: var(--pullquote-bg-color);
  color: var(--code-text-color);
  border-radius: 4px;
  overflow: scroll;
  overflow: overlay;
}

code {
  color: var(--accent-color);
  font-family: Menlo, Monaco, Monospace;
  font-size: 90%;
}

pre > code {
  color: var(--code-text-color);
}

.content blockquote {
  margin: 0;
  padding: 5px 10px 10px 10px;
  border-radius: 2px;
  background: var(--pullquote-bg-color);
  border-right: 4px solid var(--accent-color);
}

.content blockquote h2,
.content blockquote h3,
.content blockquote p {
  margin-left: 10px;
  padding: 0;
}

.select {
  background: white;
  cursor: pointer;
}

.select > * {
  padding: 4px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select > :hover {
  background: var(--black-10);
}

.select > :active {
  background: black;
  color: white;
}

.select > .selected {
  background: var(--black-20);
  color: black;
}

[data-component] {
  opacity: 0;
  display: none !important;
}

::selection {
  color: black;
  background: var(--selection-color);
}


progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  vertical-align: baseline;
  width: 100px;
  height: 10px;

  border: 2px solid var(--light-accent-color);
  background: white;
  border-radius: 5px
}

progress::-webkit-progress-bar {
  background: white;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: var(--accent-color);
  border-radius: 5px;
}

/* used by tooltips.js */
.tooltips-tooltip {
  position: fixed;
  background: rgba(0,0,0,0.75);
  padding: 2px 6px;
  border: 1px solid rgba(255,255,255,0.25);
  border-radius: 4px;
  color: white;
  max-width: 25vw;
  opacity: 0;
  transition: opacity 0.4s;
}
