<!--
# animated switch

This is an example of implementing an animated control using bodymovin.

[bodymovin is documented in its README](https://github.com/bodymovin/bodymovin).

*toggle_switch* animation by [Shafiu Hussain](https://www.lottiefiles.com/s)
-->
<style>
  .animated-switch-component {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: rgba(0,0,0,0.5);
  }
</style>
<input
  type="hidden"
>
<script>
/* global b8r, set, component, data, get, on */
'use strict';

  const {viaTag} = await import('../lib/scripts.js');

  await viaTag('third-party/bodymovin.min.js');
  const {bodymovin} = window;

  const input = findOne('input');

  const animation = bodymovin.loadAnimation({
    container: component,
    renderer: 'svg',
    loop: false,
    autoplay: false,
    path: component.dataset.src || 'test/toggle_switch.json'
  });

  const toggle = () => {
    set({value: ! get('value')});
    b8r.trigger('change', component);
  };

  const update = () => {
    if (animation) {
      animation.setSpeed(4);
      if (get('value')) {
        animation.playSegments([0,50], true);
      } else {
        animation.playSegments([50,100], true);
      }
    }
  };

  set({
    toggle,
    update,
  });

  b8r.addDataBinding(input, 'method(_component_.update)', '_component_.value');

  animation.addEventListener('DOMLoaded', update, {once: true});

  on('mouseup,touchend', '_component_.toggle');
</script>
