<!--
# babylonjs example
[Babylonjs](http://www.babylonjs.com/) is a 3D engine originally from Microsoft France.
It's probably the most capable native 3D engine available for browsers. Unlike threejs
it has first class support for glb/gltf files, making it very easy to import content.

This scene contains elements modeled in Cheetah3D and exported as .glb, this was
imported into Blender to adjust the materials (Blender's internal shaders retain
more information when exported.)

This scene demonstrates support for:
- skeletal animation
- diffuse color
- specular color
- roughness
- metallicity
- transparency
- embedded texture maps
- keyframe animation (the cube)
- reflection probe (the cube)
- glow layer (allowing emissive materials to glow)

**Note**: getting keyframe animation to export was incredibly unintuitive. I got it to work
by toggling off `Animation > Animation > Group` by NLA Track in the export dialog.
-->
<style>
  .babylonjs {
    width: 640px;
    height: 360px;
  }
</style>
<canvas class="babylonjs">
</canvas>
<script type="module">
/* global findOne */
  const {viaTag} = await import('../lib/scripts.js');
  const {BABYLON} = await viaTag('https://cdn.babylonjs.com/babylon.max.js');
  await viaTag('https://cdn.babylonjs.com/loaders/babylonjs.loaders.min.js');
  const canvas = findOne('canvas');
  const engine = new BABYLON.Engine(canvas, true);
  const createScene = async function () {
    const scene = new BABYLON.Scene(engine);
    const hemi = new BABYLON.HemisphericLight();
    hemi.intensity = 0.5;
    hemi.diffuse = hemi.specular = new BABYLON.Color3(0.3, 0.3, 1);
    const sun = new BABYLON.DirectionalLight('sun', new BABYLON.Vector3(0.5, -1, -1), scene);
    const shadowGenerator = new BABYLON.ShadowGenerator(1024, sun);
    shadowGenerator.bias = 0.001;
    shadowGenerator.normalBias = 0.01;
    sun.shadowMaxZ = 5;
    sun.shadowMinZ = 0.1;
    shadowGenerator.useContactHardeningShadow = true;
    shadowGenerator.contactHardeningLightSizeUVRatio = 0.05;
    shadowGenerator.setDarkness(0.1);

    //Adding an Arc Rotate Camera
    const camera = new BABYLON.ArcRotateCamera("Camera", 0, 0.8, 10, BABYLON.Vector3.Zero(), scene);
    b8r.register('babylonjs', {camera, scene});

    // The first parameter can be used to specify which mesh to import. Here we import all meshes
    BABYLON.SceneLoader.Append("./test/", "omnidude.glb", scene, function (newMeshes) {
      scene.activeCamera = null;

      scene.createDefaultCameraOrLight(true);
      scene.activeCamera.attachControl(canvas, false);
      scene.activeCamera.setPosition(new BABYLON.Vector3(-1.5, 1, 1.5));

      const probe = new BABYLON.ReflectionProbe("main", 512, scene);
      const cube = scene.getMeshByName('Cube.001');

      for(const mesh of newMeshes.meshes) {
        shadowGenerator.addShadowCaster(mesh);
        mesh.receiveShadows = true;
        if (mesh !== cube) {
          probe.renderList.push(mesh)
        }
      }

      const cubeMaterial = cube.material;
      probe.attachToMesh(cube)
      set({probe})
      
      cubeMaterial.reflectionTexture = probe.cubeTexture;
      cubeMaterial.reflectionFresnelParameters = new BABYLON.FresnelParameters();
      cubeMaterial.reflectionFresnelParameters.bias = 0.02;
    });
    // const xr = scene.createDefaultXRExperienceAsync();

    return scene;
  }
  const scene = await createScene();

  const glowLayer = new BABYLON.GlowLayer("glow", scene)
  glowLayer.intensity = 1
  set({scene})
  engine.runRenderLoop(scene.render.bind(scene));
</script>
