<!--
# babylonjs example

[Babylonjs](http://www.babylonjs.com/) is a 3D engine originally from Microsoft France.

It's an "old school" Javascript library that expects to be included via a script tag and
then sets a global. It does not play well with require() so I added a viaTag method to
require that lets it work.
-->
<style>
  .babylonjs {
    width: 512px;
    height: 288px;
  }
</style>
<canvas class="babylonjs">
</canvas>
<script>
/* global findOne, require */
'use strict';
  const canvas = findOne('canvas');

  const run = BABYLON => {
    const engine = new BABYLON.Engine(canvas, true);

    const createScene = () => {
      // Now create a basic Babylon Scene object
      var scene = new BABYLON.Scene(engine);

      // Change the scene background color to green.
      scene.clearColor = new BABYLON.Color3(0.2,0.2,0.25);

      // This creates and positions a free camera
      var camera = new BABYLON.FreeCamera("camera1", new BABYLON.Vector3(0, 5, -10), scene);

      // This targets the camera to scene origin
      camera.setTarget(BABYLON.Vector3.Zero());

      // This attaches the camera to the canvas
      camera.attachControl(canvas, false);

      // This creates a light, aiming 0,1,0 - to the sky.
      var light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(-1, 1, 0), scene);

      // Dim the light a small amount
      light.intensity = 0.5;

      // Let's try our built-in 'sphere' shape. Params: name, subdivisions, size, scene
      var sphere = BABYLON.Mesh.CreateSphere("sphere1", 16, 2, scene);

      // Move the sphere upward 1/2 its height
      sphere.position.y = 1;

      // Let's try our built-in 'ground' shape.  Params: name, width, depth, subdivisions, scene
      BABYLON.Mesh.CreateGround("ground1", 6, 6, 2, scene);
      // Leave this function
      return scene;
    };

    const scene = createScene();
    engine.runRenderLoop(scene.render.bind(scene));
  };

  require.
  lazy('https://cdnjs.cloudflare.com/ajax/libs/babylonjs/2.5.0/babylon.js').
  then(run);
</script>
