<!--
# biggrid test

This component serves as a testbed for the [bigrid.js](./?source=lib/biggrid.js) library.

Each of the elements is an input field, so you can try editing the values and verify that 
the modified values are correctly stored in state.
-->
<style>
  ._component_ {
    display: flex;
    flex-direction: column;
    height: 600px;
    position: relative;
  }

  ._component_ .toolbar {
    display: flex;
    flex: 0 0 auto;
    position: relative;
    align-items: baseline;
    margin: 5px;
  }

  ._component_ .toolbar > * {
    margin: 0 5px;
  }

  .biggrid-test-scroller {
    overflow-y: scroll;
    flex: 1 1 auto;
    border: 1px solid rgba(0,0,0,0.25);
  }

  .biggrid-test-item {
    width: 120px;
    height: 80px;
    margin: 8px;
    display: inline-block;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
  }

  .biggrid-test-info {
    position: absolute;
    background: #444;
    color: white;
    padding: 2px 4px;
    bottom: 0;
    left: 0;
  }
</style>
<div class="toolbar">
  <span>Scroll to specified index:</span>
  <button data-event="click:biggrid-test.scrollToIndex">0</button>
  <button data-event="click:biggrid-test.scrollToIndex">1000</button>
  <button data-event="click:biggrid-test.scrollToIndex">49999</button>
  <button data-event="click:biggrid-test.scrollToIndex">50003</button>
  <button data-event="click:biggrid-test.scrollToIndex">50004</button>
  <button data-event="click:biggrid-test.scrollToIndex">50005</button>
  <button data-event="click:biggrid-test.scrollToIndex">99970</button>
  <button data-event="click:biggrid-test.scrollToIndex">100000</button>
</div>
<div class="biggrid-test-scroller resizer-target">
  <input
    class="biggrid-test-item"
    data-list="biggrid.slice(biggrid-test.list):id"
    data-bind="
      style(backgroundColor)=.color;
      value=.caption;
    "
  >
</div>
<span data-component="resizer"></span>
<div
  class="biggrid-test-info"
  data-bind="text=total items: ${biggrid-test.list.length}, items in DOM: ${biggrid-test.dom.items}"
></div>
<script>
  /* global b8r, component, find */
  const {scrollToIndex} = await import('../lib/biggrid.js');
  const {domInterval} = await import('../lib/dom-timers.js');
  const {cssColorNames} = await import('../lib/color.js');
  const colors = cssColorNames();
  const list = [];
  b8r.component('resizer');
  for (let i = 0; i < 100000; i++) {
    list.push({
      id: i,
      caption: i,
      color: colors[Math.floor(Math.random() * colors.length)],
    });
  }
  const listTemplate = findOne('[data-list]')
  domInterval(component, () => {
    b8r.set('biggrid-test.dom.items', find('[data-list-instance]').length);
  }, 1000);
  b8r.register('biggrid-test', {list, dom: {items: 0}, scrollToIndex: (event, element) => {
    scrollToIndex(listTemplate, Number(element.textContent))
  }});
</script>
