<!--
# biglist

This implements support for *virtual scrolling lists* of rows of *varying height*. It does 
this would tracking the heights of individual rows, but requires a "minimum height" per
row.

Only a minimal number of elements are in the DOM at any given time.

IF, as is more common, you want to scroll lots of things of uniform height,
use [biggrid.js](./?source=biggrid-test.component.html) instead.

## TODO
* fix breakage for efficient list updates (try using :id)
* efficient list updates should get you nicer selection behavior on scroll
-->
<style>
  ._component_ {
    position: relative;
  }

  .biglist-viewport {
    overflow-y: scroll;
    position: relative;
    height: 400px;
    opacity: 1;
    border: 1px solid rgba(0,0,0,0.1);
  }

  .fullscreen #example .biglist-viewport {
    height: 100%;
  }

  .biglist-visible-items {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .biglist-visible-items > * {
    border-bottom: 1px solid var(--light-accent-color);
    box-sizing: border-box;
  }

  .biglist-info {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--dark-text-color);
    background-color: var(--dark-accent-color);
    padding: 2px 6px;
  }

  .selected {
    background-color: var(--bright-accent-color);
  }
</style>
<div class="biglist-viewport" data-event="scroll:_component_.update">
  <div class="biglist-scroller">
    <div class="biglist-visible-items" data-children>
      <div data-list="_component_.visible(_component_.list):id" data-bind="class(selected)=.selected;style(borderColor)=.color" style="padding: 4px; border: 4px solid black; display: flex; box-sizing: border-box;">
        <div>
          <input type="checkbox" data-bind="checked=.selected">
        </div>
        <div style="flex-grow: 1;">
          <input style="border: 0;" data-bind="style(fontSize)=.fontSize;value=.caption">
          <span data-bind="text=.caption"></span>
        </div>
        <div>
          <input type="color" data-bind="value=.color">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="biglist-info">
  Progress:
  <span data-bind="text=_component_.t"></span>
  Scroll Position:
  <span data-bind="text=_component_.position"></span>
  Items in DOM:
  <span data-bind="text=_component_.rowsToShow"></span>
  Total Items:
  <span data-bind="text=_component_.list.length"></span>
</div>
<script>
/*
  TODO
  - handle items being added to the top/bottom of the list gracefully
*/
/* global findOne, b8r, component, get, set, touch */
'use strict'
const viewport = findOne('.biglist-viewport')
const scroller = findOne('.biglist-scroller')
const visibleItemContainer = findOne('.biglist-visible-items')
set({
  pin: get().pin || component.getAttribute('pin') || 'top',
  minRowHeight: get().minRowHeight || 35
})
if (!get().list) {
  get().list = []
  for (var i = 0; i < 10000; i++) {
    get().list.push({
      caption: 'Item ' + i,
      fontSize: (Math.random() * 36 + 12) + 'px',
      color: '#eeeeee',
      selected: false,
      id: i
    })
  }
}
function clamp (x) {
  return x < 0 ? 0 : (x > 1 ? 1 : x)
}
function update (specifiedProgress) {
  const rowsToShow = Math.min(get().list.length, Math.floor(viewport.offsetHeight / get().minRowHeight + 2))
  const maxPosition = get().list.length - rowsToShow + 1
  const scrollerHeight = get().list.length * get().minRowHeight
  const maxScroll = scrollerHeight - viewport.offsetHeight
  scroller.style.height = scrollerHeight + 'px'
  var t, position
  if (rowsToShow >= get().list.length || rowsToShow === 0) {
    t = 0
    position = 0
    viewport.scrollTop = 0
  } else if (typeof specifiedProgress === 'number') {
    t = clamp(specifiedProgress)
    viewport.scrollTop = t * maxScroll
  } else {
    t = clamp(viewport.scrollTop / maxScroll)
  }
  position = t * maxPosition
  const firstVisibleItem = Math.max(Math.min(Math.floor(position), get().list.length - rowsToShow), 0)
  set('position', position.toFixed(2))
  set('rowsToShow', rowsToShow)
  set('t', (t * 100).toFixed(2) + '%')
  set({ rowsToShow, firstVisibleItem })
  touch('list')
  const rows = b8r.makeArray(visibleItemContainer.children).filter(elt => !elt.matches('[data-list]'))
  if (!rows.length) {
    return
  }
  const offsetElementIndex = Math.floor(rows.length * t)
  const offsetElement = rows[offsetElementIndex] || rows.pop()
  const pinTopOffset = viewport.scrollTop
  const pinBottomOffset = viewport.scrollTop + viewport.offsetHeight - visibleItemContainer.offsetHeight
  const offset = t * pinBottomOffset + (1 - t) * pinTopOffset - (position % 1) * offsetElement.offsetHeight
  visibleItemContainer.style.top = offset + 'px'
}
function visible (list) {
  return list.slice(get().firstVisibleItem, get().firstVisibleItem + get().rowsToShow)
}
set({ update, visible })
update(get().pin === 'bottom' ? 1 : 0)
</script>
