<!--
# biglist
Copyright ©2016-2017 Tonio Loewald

This implements support for arbitrarily large scrolling lists (of items that can be
constant or variable row height). Only a minimal number of elements are in the DOM at
any given time.

## TODO

* fix breakage for efficient list updates (try using :id)
* efficient list updates should get you nicer selection behavior on scroll
-->
<style>
	.biglist-viewport {
		overflow-y: scroll;
		position: relative;
		height: 400px;
		background-color: #eee;
		opacity: 1;
		border: 1px solid rgba(0,0,0,0.1);
	}

	.fullscreen #example .biglist-viewport {
		height: 100%;
	}

	.biglist-visible-items {
		background-color: white;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	.biglist-visible-items > * {
		border-bottom: 1px solid rgba(0,0,0,0.1);
		box-sizing: border-box;
	}

	.biglist-info {
		position: fixed;
		bottom: 32px;
		right: 0;
		background-color: #444;
		color: white;
		padding: 2px 6px;
	}

	.selected {
		background-color: rgba(0,0,255,0.25);
	}
</style>
<div class="biglist-viewport" data-event="scroll:_component_.update">
	<div class="biglist-scroller">
		<div class="biglist-visible-items" data-children>
			<div data-list="_component_.visible_items" data-bind="class(selected)=.selected;style(borderColor)=.color" style="padding: 4px; border: 4px solid black; display: flex; box-sizing: border-box;">
				<div>
					<input type="checkbox" data-bind="checked=.selected">
				</div>
				<div style="flex-grow: 1;">
					<input style="border: 0; background: transparent; border-color: rgba(0,0,0,0.25);" data-bind="style(fontSize)=.fontSize;value=.caption">
				</div>
				<div>
					<input type="color" data-bind="value=.color">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="biglist-info">
	Progress:
	<span data-bind="text=_component_.t"></span>
	Scroll Position:
	<span data-bind="text=_component_.position"></span>
	Items in DOM:
	<span data-bind="text=_component_.rows_to_show"></span>
	Total Items:
	<span data-bind="text=_component_.list.length"></span>
</div>
<script>
/*
	TODO
	- handle items being added to the top/bottom of the list gracefully
*/

/* global findOne, b8r, component, data, set */
	'use strict';

	const viewport = findOne('.biglist-viewport');
	const scroller = findOne('.biglist-scroller');
	const visible_item_container = findOne('.biglist-visible-items');

	set({
		pin: data.pin || component.getAttribute('pin') || 'top',
		minRowHeight: data.minRowHeight || 35
	});

	if (!data.list) {
		data.list = [];
		for (var i = 0; i < 1000; i++) {
			data.list.push({
				caption: "Item " + i,
				fontSize: (Math.random() * 36 + 12) + 'px',
				color: '#eeeeee',
				selected: false,
				id: i,
			});
		}
	}

	function clamp(x) {
		return x < 0 ? 0 : (x > 1 ? 1 : x);
	}

	function update(specified_progress) {
		const rows_to_show = Math.min(data.list.length, Math.floor(viewport.offsetHeight / data.minRowHeight + 2));
		const max_position = data.list.length - rows_to_show + 1;
		const scroller_height = data.list.length * data.minRowHeight;
		const max_scroll = scroller_height - viewport.offsetHeight;
		scroller.style.height = scroller_height + 'px';
		var t, position;
		if (rows_to_show >= data.list.length) {
			t = 0;
			position = 0;
			viewport.scrollTop = 0;
		} else if (typeof specified_progress === 'number') {
			t = clamp(specified_progress);
			viewport.scrollTop = t * max_scroll;
		} else {
			t = clamp(viewport.scrollTop / max_scroll);
		}
		position = t * max_position;
		const first_visible_item = Math.max(Math.min(Math.floor(position) - 1, data.list.length - rows_to_show), 0);
		const visible_items = data.list.slice(first_visible_item, first_visible_item + rows_to_show);
		set('visible_items', visible_items);
		set('position', position.toFixed(2));
		set('rows_to_show', rows_to_show);
		set('t', (t * 100).toFixed(2) + '%' );
    const rows = b8r.makeArray(visible_item_container.children).filter(elt => !elt.matches('[data-list]'));
    const offsetElementIndex = Math.floor(rows.length * t);
		const offsetElement = rows[offsetElementIndex] || rows.pop();
		const pin_top_offset = viewport.scrollTop;
		const pin_bottom_offset = viewport.scrollTop + viewport.offsetHeight - visible_item_container.offsetHeight;
		const offset = t * pin_bottom_offset + (1 - t) * pin_top_offset - (position % 1) * offsetElement.offsetHeight;
		visible_item_container.style.top = offset + 'px';
	}

	set({update});

	update(data.pin === 'bottom' ? 1 : 0);
</script>
