<!--
# bodymovin

Set the component's `data-src` to specify an animation

[bodymovin is documented in its README](https://github.com/bodymovin/bodymovin).

*Motorcycle* animation by [Mohammed Zourob](https://www.lottiefiles.com/mzourob)
-->
<script>
/* global set, component */
'use strict';

  require.
  lazy('https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.11.1/bodymovin.min.js').
  then(bodymovin => {
    set({
      animation: bodymovin.loadAnimation({
        container: component,
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: component.dataset.src || 'test/motorcycle.json'
      })
    });
  });
</script>
