<style>
	.carousel {
		width: 100%;
		min-height: 400px;
		position: relative;
		text-align: center;
		perspective: 1000px;
	}

	.carousel > div {
		color: white;
		font-size: 48px;
		position: absolute;
		width: 280px;
		margin-left: -140px;
		top: 0;
		bottom: 0;
		left: 50%;
		border-radius: 6px;
	}

	.carousel > .windoid:after {
		content: " ";
		position :absolute;
		display: block;
		background-color: rgba(255,255,255,0.5);
		top: 44px;
		bottom: 22px;
		left: 4px;
		right: 4px;
	}
</style>
<div class="carousel" data-event="mouseup:_component_.setTarget" data-children>
	<div class="windoid" style="background-color: #d00">
	</div>
	<div class="windoid" style="background-color: #d70">
	</div>
	<div class="windoid" style="background-color: #dd0">
	</div>
	<div class="windoid" style="background-color: #7d0">
	</div>
	<div class="windoid" style="background-color: #0d0">
	</div>
	<div class="windoid" style="background-color: #0d7">
	</div>
	<div class="windoid" style="background-color: #0dd">
	</div>
	<div class="windoid" style="background-color: #07d">
	</div>
	<div class="windoid" style="background-color: #00d">
	</div>
	<div class="windoid" style="background-color: #70d">
	</div>
	<div class="windoid" style="background-color: #d0d">
	</div>
	<div class="windoid" style="background-color: #d07">
	</div>
</div>
<div style="text-align: center; padding: 20px;">
	<input type="range" min=0 max=1 step=0.01 data-event="input,change:_component_.update" />
</div>
<script>
	function ease_in_out(t) {
		var s = t > 0 ? 0.5 : -0.5;
		var a = Math.abs(t);
		return (1 - Math.cos(a * Math.PI)) * s;
	}

	function ease_out(t) {
		var s = t > 0 ? 1 : -1;
		var a = Math.abs(t);
		return (1 - Math.cos(a * 0.5 * Math.PI)) * s;
	}

	function ease_in(t) {
		return 1 - ease_out(1 - t);
	}

	// offset 0: element is in the center
	// offset 1: the element is one to the right of center
	// offset 0.5: element is halfway between center and offset 1
	// offset -2: the element is two to the left of center
	function setItemPosition(element, offset) {
		var abs_offset = Math.abs(offset);
		var dx = 0;
		var dz = 0;
		var ry = 0;
		if( abs_offset > 0.01) {
			dx = (abs_offset < 1 ? abs_offset : Math.sqrt(abs_offset)) * (offset < 0 ? -160 : 160);
			if (abs_offset < 1) {
				dz = -100 * ease_in_out(abs_offset);
				ry = ease_in(offset) * -80;
			} else {
				dz = -100;
				ry = offset < 0 ? 80 : -80;
			}
		} else {
			offset = 0;
			abs_offset = 0;
		}
		element.style.transform = 'translateX(' + dx + 'px) translateZ(' + dz + 'px) rotateY(' + ry + 'deg)';
		element.style.zIndex = Math.round(30 - 10 * abs_offset);
	}

	var test_elt = findOne('.test');
	var position = 0;
	var target = 0;
	var items = find('.carousel > div');
	var slider = findOne('input');

	function updateItems(){
		items.forEach((element, idx) => {
			setItemPosition(element, idx - position);
		});
		slider.value = position / (items.length - 1);
	}

	function snapToTarget(){
		if (Math.abs(position - target) < 0.01) {
			position = target;
		} else {
			position = (position * 15 + target) / 16;
			requestAnimationFrame(snapToTarget);
		}
		updateItems();
	}

	updateItems();

	return {
		setTarget: (evt) => {
			target = items.indexOf(evt.target);
			snapToTarget();
		},
		update: (evt) => {
			position = slider.value * (items.length - 1);
			updateItems();
			if(evt.type === 'change') {
				target = Math.round(position);
				snapToTarget();
			}
		}
	}
</script>