 <!--
# Charts

Chart.js integration
-->
<style>
.chart {
  width: 512px;
  height: 384px;
}
</style>
<canvas class="chart"></canvas>
<script>
/* global findOne */

const {viaTag} = await import('../lib/scripts.js');
const {Chart} = await viaTag('./third-party/Chart.min.js');

const _data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "My First dataset",
            backgroundColor: "rgba(255,99,132,0.2)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 2,
            hoverBackgroundColor: "rgba(255,99,132,0.4)",
            hoverBorderColor: "rgba(255,99,132,1)",
            data: [65, 59, 20, 81, 56, 55, 40],
        }
    ]
};
const options = {
  scales: {
    yAxes:[{
        stacked:true,
        gridLines: {
          display:true,
          color:"rgba(255,99,132,0.2)"
        }
    }],
    xAxes:[{
        gridLines: {
          display:false
        }
    }]
  }
};

// eslint-disable-next-line no-unused-vars
const myBarChart = Chart.Bar(findOne('canvas'),{data: _data, options});
</script>
