<!--
# Circle
Copyright ©2016-2022 Tonio Loewald
An SVG circle which can be parametrically constrolled via attributes:
* diameter: size in pixels
* fill
* opacity
* inner-radius (pixels)
* angle: starting angle (degrees)
* arc: total arc (degrees)
-->
<div>
  <svg viewBox="0, 0, 128, 128">
    <path d="M 0 64 a 64 64, 0, 0, 0, 128 0 a 64 64, 0, 0, 0, -128 0 z">
  </svg>
</div>
<script>
/* global component, findOne */
'use strict'
const r = 64 * (parseFloat(component.getAttribute('radius')) || 1)
const c = 64
const degrees_to_radians = Math.PI / 180
const circle = findOne('svg')
const path = findOne('path')
const diameter = component.getAttribute('diameter') || 64
const fill = component.getAttribute('fill') || '#7ED321'
const arc = parseFloat(component.getAttribute('arc') || 330)
const opacity = component.getAttribute('opacity') || 0.75
const ir = parseFloat(component.getAttribute('inner-radius')) * r || 16 // false;
if (arc > 0 && (arc < 360 || ir)) {
  const angle = parseFloat(component.getAttribute('angle') || 15) * degrees_to_radians
  const f = arc > 180 ? 1 : 0
  // 359.9 is close enough to 360 for hollow circles.
  const end_angle = angle + (arc > 360 ? 359.9 : arc) * degrees_to_radians
  const x = Math.sin(angle)
  const y = Math.cos(angle)
  const x1 = Math.sin(end_angle)
  const y1 = Math.cos(end_angle)
  if (ir) {
    path.setAttribute('d', `M ${x * r + c} ${y * r + c} a ${r} ${r}, 0, ${f}, 0, ${(x1 - x) * r} ${(y1 - y) * r} L ${x1 * ir + c} ${y1 * ir + c} a ${ir} ${ir}, 0, ${f}, 1, ${(x - x1) * ir} ${(y - y1) * ir} z`)
  } else {
    path.setAttribute('d', `M ${x * r + c} ${y * r + c} a ${r} ${r}, 0, ${f}, 0, ${(x1 - x) * r} ${(y1 - y) * r} L ${c} ${c} z`)
  }
}
circle.style.display = arc > 0 ? '' : 'none'
circle.setAttribute('width', diameter + 'px')
circle.setAttribute('height', diameter + 'px')
findOne('path').setAttribute('fill', fill)
findOne('path').setAttribute('fill-opacity', opacity)
</script>
