<!--
# Clock

Inspired by the React "stateful component" example. **Note** that the DOM is only
updated when the time actually changes (even though the timer fires 10x per second).

Also note that the domInterval is automatically removed when/if element provided
is no longer in the DOM (versus needing to be manually stopped as part of a life-cycle).
-->
<style>
  ._component_ > input {
    display: inline-block;
    font-size: 30px;
    font-family: Monaco, Menlo, monospace;
    color: #2f8;
    background: black;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: right;
    width: 240px;
  }
</style>
<input data-bind="value=_component_.time" disabled>
<script>
  /* global require, set, findOne */
  'use strict';
  const clock = findOne('input');
  const {domInterval} = require('lib/dom-timers.js');
  domInterval(clock, () => set('time', new Date().toLocaleTimeString()), 100);
</script>
