<style>
  ._component_ .tab-selector-tabs {
    justify-content: center;
  }
  ._component_ .tab-selector-bodies > * { 
    padding: 10px; 
    text-align: center;
    height: 200px;
    overflow-y: scroll;
    overflow-y: overlay;
  }
</style>
<div data-component="tab-selector">
  <div name="clock" data-component="clock"></div>
  <div name="analog clock" data-component="analog-clock"></div>
  <div name="photos" data-component="photos"></div>
  <div name="to do" style="text-align: left">
    <p>
      Here's another instance of the <b>To Do</b> list example. Note that it
      is synced to the same <code>data-path</code>, so it automatically syncs
      to the previous example.
    </p>
    <div data-component="todo"></div>
  </div>
</div>
<script>
  b8r.component('tab-selector');
  b8r.component('clock');
  b8r.component('analog-clock');
  b8r.component('photos');
  b8r.component('todo');
</script>