<div class="info"></div>
<b8r-component path="../components/component-editor.js"></b8r-component>
<script>
/* global b8r, get, findOne */
  const {md} = await import('../lib/text-render.js');
  const editor = findOne('b8r-component')
  const info = findOne('.info');
  b8r.component('./path-browser');
  b8r.component(get().url, undefined, true).then(c => {
    let docs_md, source;
    if (c._source.indexOf('<!--') === 0) {
      [docs_md] = c._source.substr(4).split('-->');
    } else {
      docs_md = `# ${get().url}`;
    }
    md({elt: info, source: docs_md});
    editor.ready().then(() => {
      editor.data.loadSource(c._source)
    })
  });
</script>
