<div class="info"></div>
<div class="example"></div>
<div class="hidden">
  <pre>
    <code style="font-size: 12px; white-space: pre-wrap;" class="language-markup"></code>
  </pre>
</div>
<script>
/* global b8r, data, findOne, require */
'use strict';
  const code = findOne('code');
  const info = findOne('.info');
  const {md} = require('../lib/text-render.js');

  b8r.component(data.url, undefined, true).
  then(c => {
    b8r.insertComponent(c, findOne('.example'));
    var docs_md, source;
    if (c._source.indexOf('<!--') === 0) {
      [docs_md, source] = c._source.substr(4).split('-->');
    } else {
      docs_md = `# ${data.url}`;
      source = c._source;
    }
    if(docs_md) {
      md(info, docs_md);
    }
    code.textContent = source.replace(/\t/g, '  ');
    code.closest('.hidden').classList.remove('hidden');

    require.lazy('../third-party/prism.min.js').
    then(Prism => {
      Prism.highlightElement(code);
      b8r.show(code.closest('div'));
    });
  });
</script>
