<!--
# Input Replacement using contenteditable="true"
This is a simple example of a component that can directly replace a typical text `<input>`.
The key point is that you can bind to this component's `value` and it should work as expected.
**Note** that it does not synthesize submit events (although it does prevent newlines from being entered)
-->
<style>
  .contenteditable-component {
    display: inline-block;
    vertical-align: middle;
  }
  .contenteditable-component > div {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
  .contenteditable-component > div:empty[data-placeholder]:after {
    content: attr(data-placeholder);
    position: absolute;
    color: rgba(0,0,0,0.5);
  }
</style>
<div
  contenteditable="true"
  data-bind="text=_component_.value"
  data-event="
    keydown(Enter),keydown(NumpadEnter):_b8r_.stopEvent;
    focus:_component_.select_all;
  "
></div>
<script>
/* global component, findOne, set */
  const {setSelection} = await import('../lib/selection.js');
  const placeholder = component.getAttribute('placeholder');
  const field = findOne('div');
  if (placeholder) {
    field.dataset.placeholder = placeholder;
  }
  set({
    select_all: () => setSelection(field, 0, field.textContent.length)
  });
</script>
