<!-- Copyright ©2016-2017 Tonio Loewald -->
<style>
  .disclose {
    display: inline-block;
  }
  .disclose > input {
    display: none;
  }
  .disclose > input+span {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    border: 6px solid transparent;
    border-left: 6px solid #57A700;
    transition: 0.25s ease-out;
    transform-origin: 15% 50%;
    transform: scaleY(0.8) translateX(50%);
    vertical-align: middle;
  }

  .disclose > input:checked+span {
    transform: scaleX(0.8) translateX(50%) rotateZ(90deg);
  }
</style>
<label class="disclose">
  <input
    type="checkbox" 
    data-bind="checked=_component_.disclosed"
    title="disclose"
  >
  <span>&nbsp;</span>
  <span data-children></span>
</label>
<script>
  const triangle = findOne('.disclose > input+span');
  triangle.style.borderColorLeft = data.color || '#57A700';
</script>
