<!--
# Documentation

b8r's self-hosted documentation used to be a bespoke page. Now it's a component.
-->
<style>
  .floater-component {
    z-index: 3;
  }
</style>
<div class="layout">
  <div class="header">
    <img
      alt="bindinator.js"
      style="height: 64px; width: 64px; margin: 0 12px;"
      src="images/bindinator-logo-notext-mono.svg"
    >
    <h1
      style="flex-grow: 1; filter: drop-shadow(0 1px 1px rgba(0,0,0,0.75));"
    >
      bindinator.js
    </h1>
  </div>
  <div class="nav" data-event="click:details-accordion-controller.click">
    <details data-list="_component_.docs:title">
      <summary data-bind="text=.title">Title</summary>
      <div
        class="loadable"
        data-list=".parts"
        data-bind="text=.name;data(ref)=.path"
        data-event="click,keydown(Space):documentation-controller.showDocs"
        tabindex="0"
      >
        File Name
      </div>
    </details>
  </div>
  <div class="content" id="example"></div>
  <div class="footer">
    <div>
      ©2016-<span data-bind="text=_component_.year">xxxx</span> Tonio Loewald | <a href="http://loewald.com">loewald.com</a> | <a href="#source=LICENSE.md">License</a>
    </div>
  </div>
</div>
<script>
/* jshint latedef:false */
/* global on, b8r, alert, component, set */
  'use strict';

  on('keydown(alt-Space)', 'documentation-controller.fullscreen');
  on('keydown(alt-I)', 'documentation-controller.inspector');

  // for convenience when debugging
  window.b8r = b8r;

  var content = b8r.id('example');
  const nav = b8r.findOne('.nav');
  set({year: new Date().getFullYear()});

  function markCurrent() {
    b8r.after_update(() => {
      const doc = window.location.hash.split('=').pop();
      b8r.findWithin(nav, '.current').forEach(elt => {
        elt.classList.remove('current');
      });
      const current = b8r.findOne('[data-ref="' + doc + '"]');
      if (current) {
        current.classList.add('current');
        b8r.find('.nav details').forEach(details => {
          details.open = details.contains(current);
        });
      }
    });
  }

  b8r.register('details-accordion-controller', {
    click (evt) {
      const details = evt.target.closest('details');
      // TODO shim for summary / details
      if (details && !details.open) {
        b8r.makeArray(details.parentElement.children).forEach(elt => {
          if(elt.tagName === 'DETAILS'){
            elt.open = false;
          }
        });
      }
      return true;
    }
  });

  b8r.register('documentation-controller', {
    showDocs: function(evt) {
      if (evt.target.matches('.current')) {
        return;
      }
      const part = b8r.getListInstance(evt.target) || {path: 'README.md'};
      window.location.hash = 'source=' + part.path;
    },
    inspector: () => b8r.componentOnce('components/inspector'),
    alertKeystroke: evt => alert(b8r.keystroke(evt)),
    fullscreen: () => {
      if (!document.body.matches('.fullscreen')) {
        document.body.classList.add('fullscreen');
      } else {
        document.body.classList.remove('fullscreen');
      }
      b8r.trigger('resize', window);
    },
  });

  b8r.json(component.dataset.sourceFiles || 'documentation.json')
     .then(docs => {
        docs.forEach(section => {
          if (section.sort) {
            section.parts.sort((a, b) => a.name.toLocaleLowerCase() > b.name.toLocaleLowerCase() ? 1 : -1);
          }
        });
        set({docs});
        update();
      });

  var last_component_path;
  function update() {
    var component_path = window.location.hash.substr(1).split('?')[0];
    if(component_path === last_component_path) {
      console.warn('ignoring hash change within component');
      return;
    }
    last_component_path = component_path;
    var pairs = component_path.split('&').map(pair => {
      var [key, value] = pair.split('=');
      return {key, value};
    });
    var {key, value} = pairs[0];
    if (key && value) {
      if (value.substr(0, 11) === 'components/' && value.split('.').length === 1) {
        value += '.component.html';
      }
      b8r.component('components/file-viewer').then(viewer => {
        b8r.removeComponent(content);
        b8r.insertComponent(viewer, content, {url: value});
      });
    } else {
      // FIXME don't do this, behave as though there's a default hash so history behaves nicely
      b8r.trigger('click', b8r.findOne('.loadable'));
    }

    markCurrent();
  }

  window.addEventListener('hashchange', update);
</script>
