<!--
# Documentation
`b8r``'s self-hosted documentation used to be a bespoke page. Now it's a component.
## Features
- provides a navigation and search interface for all documents in documents.json
- supports javascript, markdown, and html component files
- automatically generates a keyword index based on headings and function definitions
- automatically runs inline tests and flags failures
-->
<style>
  @media not print {
    ._component_ {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }

    ._component_ > .content {
      left: 190px;
      overflow-y: scroll;
      overflow-y: overlay;
    }
  }
  @media print {
    ._component_ > .nav {
      display: none;
    }

    ._component_ > .content {
      left: 0;
    }
  }

  ._component_ {
    background-color: var(--bg-color);
  }

  ._component_ > * {
    position: absolute;
    transition: var(--hover-transition);
  }

  ._component_ > .nav {
    top: 0;
    left: 10px;
    bottom: 0;
    width: 180px;
    padding: 10px 0;
    background-color: var(--bright-accent-color);
    box-shadow: -10px 0 0 0 var(--bright-accent-color);
    overflow-y: scroll;
    overflow-y: overlay;
    text-align: right;
  }

  ._component_ > .content {
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    padding: 0;
    background: var(--content-bg-color);
  }

  ._component_ > .content > *,
  ._component_ > .nav > * {
    max-width: 100%;
    margin: 6px 12px;
  }

  ._component_ > .content img {
    max-width: 100%;
  }

  ._component_ > .nav > * {
    margin-left: auto;
    width: 160px;
    text-align: left;
  }

  ._component_ > .nav ::-webkit-details-marker {
    color: var(--accent-color);
  }

  ._component_ > .content details {
    border: 1px solid var(--bright-accent-color);
    padding: 0 5px;
  }

  ._component_ > .content details > pre {
    margin: 0 -5px;
    border-radius: 0;
  }

  ._component_ > .content summary {
    margin: 0 -5px;
    padding: 6px 12px;
    color: var(--text-color);
    background: var(--bright-accent-color);
    cursor: pointer;
  }

  ._component_ > .nav details[open] summary {
    margin: 0 -5px 5px 0;
  }

  ._component_ > .nav summary {
    cursor: pointer;
    font-weight: 500;
    color: var(--faded-text-color);
    text-transform: uppercase;
    font-size: 12px;
  }

  ._component_ > .nav details[open] summary ~ * {
    animation: fade-in var(--hover-transition);
  }

  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6,
  .content p,
  .content blockquote,
  .content ul,
  .content ol {
    max-width: 600px;
  }

  .content pre,
  .content pre code {
    background: #272822;
    color: #eee;
  }

  .content h1,
  .content h2,
  .content h3 {
    margin-top: 16px;
  }

  .content h4,
  .content h5,
  .content h6 {
    margin-top: 8px;
  }

  .content blockquote {
    margin: 8px 0;
    padding: 5px 10px 10px 10px;
    border-radius: 2px;
    background: var(--pullquote-bg-color);
    border-radius: 6px;
  }

  .content blockquote h2,
  .content blockquote h3,
  .content blockquote p {
    margin-left: 10px;
    padding: 0;
  }

  .loadable {
    padding: 3px 8px 3px 8px;
    margin: -1px -12px -1px 5px;
    cursor: pointer;
    transition: background-color ease-out 0.25s;
  }

  .loadable:hover {
    background-color: var(--white-25);
  }

  .loadable.current {
    background-color: var(--content-bg-color);
  }

  ._component_ :not([open]) > summary.hasErrors:after,
  ._component_ .loadable.hasErrors:after {
    content: " ";
    display: inline-block;
    border-radius: 99px;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    vertical-align: baseline;
    background-color: var(--error-color);
    animation: error-blink 2s infinite ease-in-out;
  }
  @keyframes error-blink {
    0% {
      opacity: 0.25;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0.25;
    }
  }

  .in-page-nav {
    z-index: 3;
    background: var(--faded-bg-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    border-radius: 5px;
    opacity: 0.25;
    transition: opacity ease-out 0.1s;
    padding: 0 0 5px;
    width: 320px;
    max-height: 30px;
    overflow: hidden;
  }

  .in-page-nav:hover {
    opacity: 1;
    max-height: 100%;
  }

  .in-page-nav > h5 {
    margin: 0;
    padding: 5px 10px;
  }

  .in-page-nav > * {
    padding: 2px 10px;
  }

  .in-page-nav > div {
    cursor: default;
  }

  .in-page-nav > div:hover {
    background: var(--content-bg-color);
  }
</style>
<div class="content" data-event="md-render:_component_.updateNav"></div>
<div class="nav">
  <div style="text-align: center; padding-bottom: 10px">
    <img
      class="nav-logo"
      alt="bindinator logo"
      style="height: 24px"
      src="images/bindinator-logo-notext-mono.svg"
    >
  </div>
  <b8r-component
    data-placeholder="search docs"
    path="./components/search-field"
    data-bind="value=_component_.searchFilter"
    data-event="
      focus:_component_.buildIndex
      input,change:_component_.filterDocs
    "
  ></b8r-component>
  <details
    data-list="_component_.docs:title"
    data-bind="hide_if=._hide;prop(open)=._open"
    data-event="click:_component_.toggle"
  >
    <summary data-bind="text=.title;class(hasErrors)=.hasErrors">Title</summary>
    <div
      class="loadable"
      data-list=".parts"
      data-bind="text=.name;data(ref)=.path;hide_if=._hide;class(current)=._current;class(hasErrors)=.hasErrors"
      data-event="click,keydown(Space):documentation-controller.showDocs"
      tabindex="0"
    >
      File Name
    </div>
  </details>
</div>
<b8r-float
  drag="true"
  class="in-page-nav" 
  data-bind="show_if=_component_.pageLinks.length" 
  style="top: 10px; right: 10px;"
>
  <h5 class="floater-title">Contents</h5>
  <div 
    data-list="_component_.pageLinks"
    data-bind="text=.title;style(padding-left)=calc(10px + ${.indent}0px)"
    data-event="mousedown:_component_.showLink"
  ></div>
</b8r-float>
<script>
/* jshint latedef:false */
/* global b8r, alert, component, set, findOne */
  const windows = await import('../lib/windows.js');
  const {configuredTest} = await import('../lib/test.js');
  const {parseSearch} = await import('../lib/url-utils.js');
  import('../web-components/float.js');
  const getSource = () => parseSearch().source || get('docs')[0].parts[0].path
  const content = findOne('.content');
  const nav = findOne('.nav');
  function markCurrent() {
    b8r.afterUpdate(() => {
      const path = getSource()
      get('docs').forEach(section => {
        section.parts.forEach(part => {
          part._current = part.path === path
          if (part._current) section._open = true
        })
      })
      touch('docs')
    });
  }
  b8r.register('documentation-controller', {
    showDocs: function(evt) {
      if (evt.target.matches('.current')) {
        return;
      }
      const part = b8r.getListInstance(evt.target) || {path: 'README.md'};
      if (evt.metaKey && part.path.endsWith('.component.html')) {
        const component_name = part.path.split('.').shift();
        const {origin, pathname} = window.location;
        const url = `${origin}${pathname}?body=components/${component_name}`;
        const w = windows.open(url, {width: 800, height: 450});
        w.window.addEventListener('load', () => w.window.document.body.classList.add('fullscreen'))
      } else {
        const newUrl = window.location.href.split('?')[0] + '?' + 'source=' + part.path
        window.history.pushState({}, part.name, newUrl)
        update()
      }
    },
    alertKeystroke: evt => alert(b8r.keystroke(evt)),
  });
  // in the background, we're going to run every test block in every library
  const AsyncFunction = (async () => {}).constructor
  const runTests = async (sectionTitle, partIdx) => {
    const path = get(`docs[title=${sectionTitle}].parts[${partIdx}].path`)
    if (path.endsWith('.js')) {
      const source = await b8r.ajax(path)
      const tests = source.split('~~~~').filter((_, idx) => idx % 2)
      tests.forEach(testSource => {
        const t = new AsyncFunction('Test', 'b8r', testSource + `////# sourceURL=${path}`)
        try {
          t.call(null, configuredTest({
            onError: () => {
              set(`docs[title=${sectionTitle}].hasErrors`, true);
              set(`docs[title=${sectionTitle}].parts[${partIdx}].hasErrors`, true);
            },
            reportContainer: document.createElement('div'),
          }), b8r);
        } catch (_) {
          set(`docs[title=${sectionTitle}].hasErrors`, true);
          set(`docs[title=${sectionTitle}].parts[${partIdx}].hasErrors`, true);
        }
      });
    }
  }
  async function buildIndex() {
    set('buildIndex', () => {})
    const items = get('docs').map(doc => doc.parts).flat()
    const start = Date.now()
    await Promise.all(items.map(async (item) => {
      const {path} = item;
      if (path.endsWith('.js')) {
        const source = await b8r.ajax(path)
        const headings = (source.match(/^#{1,3}\s*[^\n]+/mg) || [])
        const exported = (source.match(/export\s+const\s+\w[\w\d]+\s+=|export\s+\{[^}]+\}/mg) || [])
          .map(s => s.endsWith('=') ? s.match(/(\w[\w\d]+)\s+=/)[1] : s.match(/\w[\w\d]+/g).slice(1))
          .flat()
        item.keywords = [...headings, ...exported].map(w => w.toLocaleLowerCase())
      } else if (path.endsWith('.component.html')) {
        const source = await b8r.ajax('./components/' + path)
        const headings = (source.match(/^#{1,3}\s*[^\n]+/mg) || [])
        Object.assign(item, {headings, keywords: headings.map(w => w.toLocaleLowerCase())})
      } else if (path.endsWith('.md')) {
        const source = await b8r.ajax(path)
        const headings = (source.match(/^#{1,3}\s*[^\n]+/mg) || [])
        Object.assign(item, {headings, keywords: headings.map(w => w.toLocaleLowerCase())})
      }
    }))
    console.log('Index built', Date.now() - start)
  }
  const updateNav = b8r.debounce(() => {
    const pageLinks = b8r.findWithin(content, '.markdown-viewer-component > h1,.markdown-viewer-component > h2,.markdown-viewer-component > h3,[name=fiddle],[data-component=fiddle]').map(element => {
      return {
        title: element.dataset.componentId ? `example: ${element.dataset.path}` : element.textContent,
        indent: element.dataset.componentId ? 4 : parseInt(element.tagName[1] - 1),
        element,
      }
    })
    console.log(pageLinks)
    set({pageLinks})
  }, 100);
  b8r.json(component.dataset.sourceFiles || 'documentation.json')
     .then(docs => {
        docs.forEach(section => {
          if (section.sort) {
            section.parts.sort((a, b) => a.name.toLocaleLowerCase() > b.name.toLocaleLowerCase() ? 1 : -1)
          }
        });
        set({docs});
        update();
        // buildIndex();
        if (location.hostname === 'localhost') {
          docs.forEach(section => section.parts.forEach((part, idx) => runTests(section.title, idx)))
        }
      });
  let last_component_path;
  function update() {
    let component_path = getSource()
    if(component_path !== undefined && component_path === last_component_path) {
      // ignoring hash change within component
      return;
    }
    last_component_path = component_path;
    b8r.component('file-viewer').then(viewer => {
      b8r.removeComponent(content);
      b8r.insertComponent(viewer, content, {url: component_path});
    });
    markCurrent();
  }
  window.addEventListener('popstate', update);
  set({
    year: new Date().getFullYear(),
    searchFilter: '',
    filterDocs: b8r.debounce(() => {
      const docs = get('docs')
      const searchField = get('searchFilter').toLocaleLowerCase()
      const isFiltered = !!searchField
      docs.forEach(section => {
        section._hide = isFiltered
        section.parts.forEach(part => {
          part._hide = isFiltered
            && !part.name.toLocaleLowerCase().includes(searchField)
            && !(part.keywords || []).find(h => h.includes(searchField))
          if (!part._hide) section._hide = false
        })
        section._open = isFiltered ? !section._hide : section.parts.find(part => part._current)
      })
      set({docs})
    }),
    buildIndex,
    updateNav,
    pageLinks: [],
    showLink: (evt) => {
      const {element} = b8r.getListInstance(evt.target)
      element.scrollIntoView({behavior: 'smooth'})
    },
    toggle (evt, details) {
      const {title} = b8r.getListInstance(details);
      get('docs').forEach(doc => doc._open = doc.title === title ? !doc._open : false)
      touch('docs')
    },
    destroy() {
      window.removeEventListener('popstate', update);
    },
  });
</script>
