<!--
# electron-richtext
-->
<style>
  body {
    background-color: white;
  }

  .header {
    -webkit-app-region: drag;
    padding: 5px 8px;
    flex-shrink: 0;
    border-top: 1px solid #eeedee;
    border-bottom: 1px solid #939293;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e6e9+0,d1cfd1+100 */
    background: #e9e6e9; /* Old browsers */
    background: linear-gradient(to bottom,  #e9e6e9 0%,#d1cfd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  .maxtoggle-component {
    display: none !important;
  }
</style>
<div class="header" style="position: fixed; top: 0; left: 0; bottom: 0; height: 44px"></div>
<div data-component="richtext" style="position: fixed; top: 44px; left: 0; right: 0; bottom: 0"></div>
<script>
/* global b8r */
'use strict';

	b8r.component('./components/richtext');
</script>