<!--
# Fiddle

Provides an interactive demo for data.source.

![puppetteer screenshot](/screencap/?body=components/richtext)

> This is a simple interactive example tool, inspited by [js-fiddle](https://jsfiddle.net) et al. 
> It runs examples inside the page (no iframes) and this hasn't run into problems in four years!

If the source includes an HTML close tag `</…>` then it will be treated as a `b8r` component,
if the source includes `export default` it will be treated as a `b8r` javascript component,
otherwise it will be treated as pure javascript, which will be passed a reference to bindinator
as  `b8r` and the output element as `example`.
-->
<style>
  .fiddle-component {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-height: 80vh;
    visibility: hidden;
  }

  .fiddle-header {
    height: 35px;
  }

  .fullscreen > .fiddle-header,
  .fullscreen > .fiddle-bodies {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .fullscreen > .fiddle-header {
    top: 0;
  }

  .fullscreen > .fiddle-bodies {
    top: 35px;
    bottom: 0;
    overflow-y: scroll;
    overflow-y: overlay;
  }

  .fiddle-component:not(.minimized) {
    min-height: 228px;
  }

  .fiddle-component .resizer-component {
    z-index: 9;
  }

  .fiddle-header {
    display: flex;
    padding: 0 var(--spacing-size);
    flex-shrink: 0;
    background: var(--bright-accent-color);
    color: var(--text-color);
    align-items: center;
    padding-right: 40px;
  }

  .fiddle-header > * {
    line-height: var(--body-line-height);
  }

  .fiddle-component .refresh {
    background: none;
    box-shadow: none;
    opacity: 0.5;
    color: var(--text-color);
    box-shadow: none;
    padding: 0 var(--spacing-size);
    margin: 0;
    cursor: default;
  }

  .fiddle-component .refresh:hover {
    opacity: 0.75;
  }

  .fiddle-component .refresh:active {
    opacity: 1;
  }

  .fiddle-component .sizer-component {
    background: var(--light-accent-color);
  }

  .fiddle-bodies {
    min-height: 200px;
    overflow: hidden;
    display: flex;
    background-color: var(--example-bg-color);
    border: 1px solid var(--bright-accent-color);
    border-top: 0;
    flex-grow: 1;
  }

  .fiddle-bodies > * {
    position: relative;
    min-width: 20%;
    flex: 1 1 auto;
  }

  .code {
    font-size: 13px;
    font-family: Menlo, Monaco, monospace;
    background-color: #272822;
    color: #ddd;
    padding: var(--narrow-spacing-size) var(--spacing-size);
    white-space: pre-wrap;
    box-sizing: border-box;
  }

  .fiddle-component .fiddle-bodies > .resizer-component {
    background: var(--pullquote-bg-color);
    margin: 1px;
  }

  .fiddle-component.minimized .fiddle-bodies,
  .fiddle-component.minimized .resizer-component {
    display: none;
  }

  .fiddle-header [data-selected] {
    position: relative;
  }

  .fiddle-component .maxtoggle-component {
    top: var(--narrow-spacing-size);
    right: var(--spacing-size);
  }

  .fiddle-component:not(.minimized) .fiddle-header [data-selected]:after {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border: 9px solid transparent;
    border-bottom: 9px solid var(--example-bg-color);
    animation: fade-in var(--hover-transition);
  }
</style>
<div class="fiddle-header">
  <label title="toggle visibility">
    <input
      type="checkbox"
      class="hidden-checkbox"
      data-bind="checked=_component_.minimized"
      tabindex=-1
    >
    <span class="show-after-checked icon-eye-blocked2"></span>
    <span class="show-after-unchecked icon-eye2"></span>
    &nbsp;
  </label>
  <b8r-component
    path="./components/selector"
    data-bind="value=_component_.mode"
    data-event="change:_component_.reveal"
  >
    <span data-value="all">Show All</span>
    <span data-value="example">Example</span>
    <span data-value="source">Source</span>
  </b8r-component>
  <span style="flex-grow: 1"></span>
  &nbsp;
  <span
    data-event="click:_component_.run"
    class="refresh"
    title="refresh"
  >
    <span class="icon-loop3"></span>
    Refresh
</span>
  <span data-bind="text=_component_.title"></span>
  <b8r-component path="./components/maxtoggle"></b8r-component>
</div>
<div class="fiddle-bodies">
  <div
    data-title="Example"
    data-bind="hide_if(source)=_component_.mode"
    data-event="show:_component_.run"
    style="width: 50%; margin: 10px"
  ></div>
  <b8r-component
    path="./components/sizer"
    data-bind="show_if(all)=_component_.mode"
  ></b8r-component>
  <div
    data-children
    data-title="Source"
    data-bind="hide_if(example)=_component_.mode"
    class="code"
    style="width: 50%"
    data-event="
      keydown(Tab):_component_.indent
      mouseenter:_component_.resize
    "
  ></div>
</div>
<b8r-component path="./components/resizer"></b8r-component>
<script>
/* global findOne, set, b8r, on, data, component, register, ace */
/* jshint latedef:false */

  const {vfs} = await import('../vfs.js');
  await vfs;
  const {unique} = await import('../source/uuid.js');
  const {viaTag} = await import('../lib/scripts.js');
  const {ace} = await viaTag('./third-party/ace-src-min-noconflict/ace.js');
  const code_elt = findOne('.code');
  const container = findOne('[data-title="Example"]');
  const vfsRoot = window.location.hostname === 'tonioloewald.github.io' ? 'bindinator.js/vfs' : 'vfs'
  const AsyncFunction = (async () => {}).constructor
  let last_code = '';
  let editor;
  component.classList.add('maxtoggle-target')
  const maxToggle = b8r.create('b8r-component')
  component.classList.add('resizer-target');
  b8r.addDataBinding(component, 'class(minimized)', '_component_.minimized');
  on('resize', '_component_.resize');
  const init_editor = (mode = 'ace/mode/html') => {
    editor = ace.edit(code_elt, {
      mode,
      tabSize: 2,
      useSoftTabs: true,
      useWorker: false,
    });
    ace.config.set('basePath', '../third-party/ace-src-min-noconflict/');
    editor.setTheme('ace/theme/monokai');
  };
  if(data.source) {
    code_elt.textContent = data.source;
    init_editor();
    setTimeout(run);
  } else if (code_elt.textContent.trim()) {
    code_elt.textContent = code_elt.textContent.trim();
    init_editor('ace/mode/javascript');
    setTimeout(run);
  } else if (component.dataset.source) {
    const source_path = component.dataset.source;
    const code = source_path.endsWith('js') 
      ? await b8r.ajax(source_path)
      : await b8r.ajax(source_path + '.component.html');
    code_elt.textContent = code.replace(/\t/g, '  ');
    if (source_path.endsWith('.js')) {
      init_editor('ace/mode/javascript');
    } else {
      init_editor();
    }
    run();
  } else {
    code_elt.textContent = '// enter code here\nreturn 6 * 7\n'
    init_editor('ace/mode/javascript');
  }
  function indent () {
    if (editor) {
      return true;
    }
    document.execCommand('insertText', false, '  ');
  }
  async function run() {
    const source = (editor ? editor.getValue() : code_elt.textContent).trim();
    if (last_code === source) {
      return;
    }
    b8r.empty(container);
    last_code = source;
    if (source === '') return;
    if (source.match(/^\s*<\w+[^<>]*>/)) {
      // html component
      b8r.insertComponent(
        b8r.makeComponent('fiddle-' + unique(), source, b8r._path ? `${b8r._path}/` : ''),
        container
      );
    } else if (source.match(/\bexport default\b/)) {
      // javascript component
      (async () => {
        const componentName = `fiddle-${unique()}`;
        const vfsPath = `/${vfsRoot}/${componentName}.js`;
        await b8r.ajax(vfsPath, 'POST', source)
        import(vfsPath).then(exports => {
          b8r.insertComponent(
            b8r.makeComponent(componentName, exports.default),
            container
          );
        })
      })()
    } else {
      // javascript
      try {
        const f = new AsyncFunction('b8r', 'example', source); // jshint ignore:line
        const output = await f(b8r, container);
        if (output) container.append(output);
      } catch(e) {
        container.append('(exception) ' + e);
      }
    }
    component.style.visibility = 'visible';
  }
  function fullscreen() {
    if(component.classList.contains('fullscreen')) {
      component.classList.remove('fullscreen');
    } else {
      component.classList.add('fullscreen');
    }
  }
  register ({
    run,
    fullscreen,
    indent,
    reveal: () => {
      set('minimized', false);
      run();
    },
    resize: () => editor && editor.resize(true),
    mode: component.dataset.mode || data.mode || 'all',
    title: 'inline',
  });
</script>
