<script>
/* note this is a zero content component! */
	component.textContent = data.url;
	BOM.ajax(data.url).then(content => {
		switch (data.url.split('.').pop()) {
			case 'md':
			case 'markdown':
				BOM.component('markdown-viewer', 'components/markdown-viewer').then(viewer => {
					BOM.insertComponent(viewer, component, data);
				});
				break;

			case 'text':
				BOM.component('text-viewer', 'components/text-viewer').then(viewer => {
					BOM.insertComponent(viewer, component, data);
				});
				break;

			case 'js':
				BOM.component('js-viewer', 'components/js-viewer').then(viewer => {
					BOM.insertComponent(viewer, component, data);
				});
				break;
		}
	})
</script>