<!--
# File-Viewer
Copyright ©2016-2022 Tonio Loewald
This is a contentless component - in effect it routes to other components
based on the filename (or specified file_type)
Note that something similar could just as easily be implemented using a component_map
binding, but for more complex heterogeneous collections, something like this could
implement a more sophisticated approach
-->
<style>
  ._component_ > .iframe-component {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
</style>
<div></div>
<script>
/* global get, b8r, findOne */
'use strict'
const { url, file_type } = get()
const container = findOne('div')
switch (file_type || (url.match(/\.(\w+|component\.html)$/) || [])[1]) {
  case 'md':
  case 'markdown':
    b8r.component('markdown-viewer').then(viewer => {
      b8r.insertComponent(viewer, container, { url })
    })
    break
  case 'html':
    b8r.component('iframe').then(iframe => {
      b8r.insertComponent(iframe, container, { src: url })
    })
    break
  case 'component.html':
    b8r.component('component-viewer').then(viewer => {
      b8r.insertComponent(viewer, container, { url: url.match(/^(.*)\.component\.html$/)[1] })
    })
    break
  case 'text':
    b8r.component('text-viewer').then(viewer => {
      b8r.insertComponent(viewer, container, { url })
    })
    break
  case 'js':
    b8r.component('literate-js-viewer').then(viewer => {
      b8r.insertComponent(viewer, container, { url })
    })
    break
  default:
    console.error('unknown file type', { url })
}
</script>
