<!--
# Floater
Copyright ©2016-2017 Tonio Loewald

A floating, movable component.

Use the class "floater-title" for the first child to get nice styling.
-->
<style>
  .floater-component {
    position: fixed;
    background-color: rgba(255,255,255,0.9);
    border-radius: 4px;
    cursor: move;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.5)) /* drop shadow for when using corner arrows */;
  }

  .floater-close {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 12px;
    width: 14px;
    border: 0;
    padding: 0;
  }

  .floater-component .floater-title {
    background-color: white;
    text-align: center;
    padding: 4px 32px;
    margin: 0;
    border-radius: 4px 4px 0 0;
  }
</style>
<button
  title="close"
  class="floater-close"
  data-event="
    click,touchend:floater-controller.close;
  "
>&times;</button>
<div data-children>
  <h4 class="floater-title">Drag Me!</h4>
  <p style="padding: 4px 16px">This is some test content</p>
</div>
<script>
/* global component, on, b8r, console, findOne */

  const {removeWithStyle} = await import('../lib/remove-with-style.js');
  on('mousedown', 'floater-controller.start_motion');
  on('close', 'floater-controller.close');

  if (component.dataset.hideClose !== undefined) {
    b8r.hide(findOne('.floater-close'));
  }

  if(
    !component.style.left && !component.style.right &&
    !component.style.top && !component.style.bottom
  ) {
    component.style.left = '10px';
    component.style.top = '10px';
  }

  document.body.appendChild(component);

  const remove_menu_arrow = () => {
    for (const c of component.classList)
      if (/^menu-balloon/.test(c))
        component.classList.remove(c);
  };

  b8r.set('floater-controller', {
    element: null,
    move: (evt) => {
      remove_menu_arrow();
      const target = b8r.get('floater-controller.target');
      const origin = b8r.get('floater-controller.origin');
      if(target) {
        target.style.left = (evt.pageX + origin.x) + 'px';
        target.style.top = (evt.pageY + origin.y) + 'px';
        if (!target.style.width) {
          target.style.right = 'auto';
        }
        target.style.bottom = 'auto';
      } else {
        console.error('should not occur; float drag did not terminate?');
        b8r.callMethod('floater-controller.end_motion');
      }
    },
    end_motion: () => {
      b8r.set('floater-controller.target', null);
      b8r.offAny('mousemove', 'floater-controller.move');
      b8r.offAny('mouseup', 'floater-controller.end_motion');
    },
    close: (evt, target) => {
      const floater = target.closest('.floater-component');
      removeWithStyle(floater, {
        transform: 'translateY(40px)',
        opacity: 0,
      });
    },
    start_motion: (evt) => {
      if (evt.target.closest('input,select,textarea,button,a,label,details')) {
        return true;
      }
      const target = evt.target.closest('[data-event]');
      if(target.closest('.floater-title') || target.matches('.floater-component')) {
        const floater = target.closest('.floater-component');
        const style = getComputedStyle(floater);
        const x = parseFloat(style.left) - evt.pageX;
        const y = parseFloat(style.top) - evt.pageY;
        document.body.appendChild(floater);
        b8r.set('floater-controller.origin', {x,y});
        b8r.set('floater-controller.target', floater);
        b8r.onAny('mousemove', 'floater-controller.move');
        b8r.onAny('mouseup', 'floater-controller.end_motion');
      } else {
        return true;
      }
    },
  });
</script>
