<!--
# hello
Copyright ©2016-2017 Tonio Loewald
A very simple component intended to show how easy it is for components
to operate within a private scope.
-->
<style>
  .hello {
    border: 1px solid var(--black-20);
    padding: 4px;
    margin: 4px;
    border-radius: 3px;
    background-color: var(--black-10);
  }

  .hello > h4 {
    color: red;
  }
</style>
<div class="hello">
  <h4 data-bind="format=__${_component_.greeting}__ Component"></h4>
  <label>
    Greeting: <input data-bind="value=_component_.greeting">
  </label>
  <button data-event="click:_component_.click">Click Me</button>
  <p data-bind="show_if=_component_.click_count">
    Number of times clicked:
    <span data-bind="text=_component_.click_count"></span>
  </p>
  <div data-children></div>
</div>
<script>
  /* global get, set, register */
  const greeting = component.dataset.greeting || 'Hello'
  const click = () => {
    alert(get('greeting'))
    set('click_count', get('click_count') + 1)
  }
  // establish a private scope for this component
  register({ greeting, click, click_count: 0 })
</script>
