<!--
# image editor

A simple image editor using [glfx.js](http://evanw.github.io/glfx.js/) for image-processing.


## To Do

- UI
- Load / Save image
- Multiple Filters
- Action encapsulation including a UI for each action
- Undo with editable undo queue
- Simple Editing tools (crop, line, text)
- Curves

-->
<style>
  .image-editor-component > canvas {
    max-width: 100%;
  }
</style>
<script>
  const fx = require('../third-party/glfx.js');
  const canvas = fx.canvas();

  const img = new Image();
  img.src = 'test/portraits/weasel.png';
  img.onload = () => {
    component.appendChild(canvas);
    console.time('glfs');
    const [cx, cy] = [img.width * 0.5, img.height * 0.5];
    const texture = canvas.texture(img);

    canvas.draw(texture).noise(0.5).sepia(0.75).update();
    // canvas.draw(texture).bulgePinch(cx, cy, 200, 0.8).update();
    // canvas.draw(texture).ink(0.5).colorHalftone(0,0,Math.PI/4,8).update();
    // canvas.draw(texture).zoomBlur(cx, cy, 0.25).update();
    console.timeEnd('glfs');
  };
</script>
