 <!--
# b8r inspector

Copyright ©2016-2017 Tonio Loewald
-->
<style>
  .inspector-browser {
    display: flex;
    flex-direction: row;
  }

  .inspector-browser,
  .inspector-component .tab-selector-bodies > * {
    min-width: 400px;
    min-height: 200px;
  }

  .floater-component .inspector-component {
    padding: 0;
  }

  .inspector-component * {
    background: none;
    color: white;
    border: 0;
  }

  .inspector-component .tab-selector-current {
    background-color: rgba(0,0,0,0.5);
  }

  .inspector-component textarea {
    font-family: Menlo, monaco, monospace;
    font-size: 12px;
  }

  .inspector-browser > :nth-child(1) {
    width: 100px;
  }

  .inspector-browser > :nth-child(1) > * {
    width: 100%;
  }

  .inspector-browser > * {
    padding: 4px;
    flex-grow: 1;
  }

  .inspector-component .throb {
    animation: inspector-throb 0.3s infinite alternate;
  }

  @keyframes inspector-throb {
    from {
      box-shadow: 0 0 0 8px rgba(255,0,0,0.5);
    }
    to {
      box-shadow: 0 0 0 8px rgba(0,255,0,1);
    }
  }

  .inspector-browser select[multiple] {
    flex-grow: 1;
  }

  .inspector-component .inspector-node {
    color: #ccf;
    padding: 0;
    margin: 4px 0 0;
  }

  .inspector-component .inspector-handler {
    padding-left: 12px;
  }

  .inspector-component .inspector-eventtype {
    color: #cfc;
  }

  .inspector-component .inspector-path {
    color: #ffc;
  }
</style>
<h4 class="floater-title">
  b8r inspector
</h4>
<div data-component="tab-selector">
  <div
    title="registry"
    class="inspector-registry"
    data-event-disabled="show:_component_.show_registry"
  >
    <div class="inspector-browser">
      <select
        multiple
        data-event-disabled="change:_component_.select"
      >
        <option
          data-list="_component_.registry"
          data-bind="text=.name"
        >
        </option>
      </select>
      <textarea>
      </textarea>
    </div>
  </div>
  <div
    title="components"
    class="inspector-components"
    data-event-disabled="show:_component_.show_components"
  >
    <div class="inspector-browser">
      <div
        style="display: flex; flex-direction: column;"
      >
        <h4>Types</h4>
        <select
          title="component type"
          data-event-disabled="change:_component_.show_instances"
        >
          <option
            data-list="_component_.components"
            data-bind="
              text=.name;
              value=.value;
              selected=.selected
            "
          >
          </option>
        </select>
        <h4>Instances</h4>
        <select
          multiple
          data-event-disabled="change:_component_.select"
          style="flex-grow: 1;"
        >
          <option
            data-list="_component_.instances"
            data-bind="text=.name"
          >
          </option>
        </select>
      </div>
      <textarea>
      </textarea>
    </div>
  </div>
  <div
    title="events"
    data-event-disabled="
      show:_component_.events_on;
      hide:_component_.events_off;
    "
  >
    <div data-list="_component_.event_info">
      <div class="inspector-node" data-bind="text=.tag">&lt;tag class="foo"&gt;</div>
      <div class="inspector-handler" data-list=".handlers">
        <span class="inspector-eventtype" data-bind="text=.types">event_type, other_event_type</span>
        <span class="inspector-path" data-bind="text=.path">path.to.method</span>
      </div>
    </div>
  </div>
  <div title="perf">
  </div>
</div>
<script>
/* global b8r, set, on, component, require, findOne */
'use strict';
  b8r.component('components/floater');
  b8r.component('components/tab-selector');

  b8r.wrapWithComponent('floater', component);

  const remove_methods = obj => {
    return b8r.mapEachKey(obj, value => {
      switch (typeof value) {
        case 'function':
          return '[function]';
        case 'object':
          return value === null ? null : remove_methods(value);
        default:
          return value;
      }
    });
  };

  b8r.set('inspector-controller', {
    show_events: evt => {
      const {getParsedEventHandlers} = require('source/b8r.events.js');
      const event_info = [];
      let target = evt.target.closest('[data-event]');
      do {
        let classes = target.getAttribute('class');
        classes = classes ? ` classes="${classes}"` : '';
        event_info.push({
          element: target,
          tag: `<${target.tagName.toLowerCase()}${classes}>`,
          handlers: getParsedEventHandlers(target).map(handler => {
            return {
              types: handler.types.join(', '),
              path: handler.model + '.' + handler.method,
            };
          }),
        });
      } while (target = target.parentElement.closest('[data-event]')); // jshint ignore:line
      set({event_info});
    }
  });

  const deselect = () => b8r.find('.inspector-component').forEach(elt => elt.classList.remove('inspector-component'));
  const events_on = () => {
    deselect();
    b8r.onAny('mouseover', 'inspector-controller.show_events');
  };
  const events_off = () => b8r.offAny('mouseover', 'inspector-controller.show_events');
  set({
    registry: [],
    components: [],
    instances: [],
    event_info: [],
    show_registry: () => {
      const registry = b8r.models()
                          .filter(name => name.substr(0,2) !== 'c#')
                          .map(name => {return {name};})
                          .sort();
      deselect();
      set({registry});
    },
    show_components: () => {
      const components = b8r.components()
                          .map(name => {return {name, value: name};});
      components.unshift({name: 'All', value: '', selected: true});
      deselect();
      set({components});
    },
    show_instances: (evt, target) => {
      const component = target.value;
      const partial_id = component ? `c#${component}#` : 'c#';
      const instances = b8r.models()
                            .filter(name => name.substr(0,partial_id.length) === partial_id)
                            .map(name => {return {name};})
                            .sort();
      deselect();
      set({instances});
    },
    select: (evt, target) => {
      const output = target.closest('.inspector-browser').querySelector('textarea');
      if (target.value) {
        output.value = JSON.stringify(remove_methods(b8r.get(target.value)), false, 2);
        deselect();
        if (target.value.substr(0,2) === 'c#') {
          b8r.findOne(`[data-component-id="${target.value}"]`).classList.add('inspector-component');
        }
      } else {
        output.value = '';
      }
    },
    events_on,
    events_off,
  });

  b8r.enable(component, true);
</script>
