 <!--
# b8r inspector

Copyright ©2016-2017 Tonio Loewald
-->
<style>
  .inspector-browser {
    display: flex;
    flex-direction: row;
  }

  .inspector-component .tab-selector-bodies > * {
    max-height: 500px;
    overflow: overlay;
  }

  .inspector-component table {
    border-collapse: collapse;
  }

  .inspector-component td,
  .inspector-component th {
    padding: 2px 4px;
    font-size: 11px;
  }

  .inspector-browser,
  .inspector-component .tab-selector-bodies > * {
    min-width: 400px;
    min-height: 200px;
  }

  .floater-component .inspector-component {
    padding: 0;
  }

  .inspector-component * {
    background: none;
    border: 0;
  }

  .inspector-component pre {
    font-family: Menlo, monaco, monospace;
    font-size: 11px;
    margin: 0;
    padding: 4px;
  }

  .inspector-browser > :nth-child(1) {
    width: 100px;
  }

  .inspector-browser > :nth-child(1) > * {
    width: 100%;
  }

  .inspector-browser > * {
    padding: 4px;
    flex-grow: 1;
  }

  .inspector-component .throb {
    animation: inspector-throb 0.3s infinite alternate;
  }

  @keyframes inspector-throb {
    from {
      box-shadow: 0 0 0 8px rgba(255,0,0,0.5);
    }
    to {
      box-shadow: 0 0 0 8px rgba(0,255,0,1);
    }
  }

  .inspector-browser select[multiple] {
    flex-grow: 1;
  }

  .inspector-component .inspector-node {
    color: #228;
    padding: 0;
    margin: 4px 0 0;
  }

  .inspector-component .inspector-handler {
    padding-left: 12px;
  }

  .inspector-component .inspector-eventtype {
    color: #2c2;
  }

  .inspector-component .inspector-path {
    color: #c22;
  }

  .inspector-component thead {
    background: rgba(0,0,0,0.75);
    color: white;
  }

  .inspector-component tbody tr:nth-child(even) > * {
    background: rgba(0,0,0,0.1);
  }
</style>
<h4 class="floater-title">
  b8r inspector
</h4>
<div data-component="tab-selector">
  <div
    title="registry"
    class="inspector-registry"
    data-event-disabled="show:_component_.show_registry"
  >
    <div class="inspector-browser">
      <select
        multiple
        data-event-disabled="change:_component_.set_registry_path"
      >
        <option
          data-list="_component_.registry"
          data-bind="text=.name"
        >
        </option>
      </select>
      <div
        data-component="path-browser"
        data-bind="value=_component_.registry_path"
      ></div>
    </div>
  </div>
  <div
    title="components"
    class="inspector-components"
    data-event-disabled="show:_component_.show_components"
  >
    <div class="inspector-browser">
      <div
        style="display: flex; flex-direction: column;"
      >
        <h4>Types</h4>
        <select
          title="component type"
          data-event-disabled="change:_component_.show_instances"
        >
          <option
            data-list="_component_.components"
            data-bind="
              text=.name;
              value=.value;
              selected=.selected
            "
          >
          </option>
        </select>
        <h4>Instances</h4>
        <select
          multiple
          data-event-disabled="change:_component_.set_instance_path"
          style="flex-grow: 1;"
        >
          <option
            data-list="_component_.instances"
            data-bind="text=.name"
          >
          </option>
        </select>
      </div>
      <div
        data-component="path-browser"
        data-bind="value=_component_.instance_path"
      ></div>
    </div>
  </div>
  <div
    title="events"
    data-event-disabled="
      show:_component_.events_on;
      hide:_component_.events_off;
    "
  >
    <table data-bind="show_if=_component_.event_info.length">
      <thead>
        <tr>
          <th>tag</th>
          <th>handlers</th>
        </tr>
      </thead>
      <tbody>
        <tr data-list="_component_.event_info">
          <td data-bind="text=.tag"></td>
          <td>
            <ul>
              <li data-list=".handlers">
                <span data-bind="text=.types"></span>:
                <span data-bind="text=.path"></span>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    title="perf"
    class="perf"
    data-event-disabled="show:_component_.show_logs"
  >
    <div style="display: flex">
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>Time (ms)</th>
          </tr>
        </thead>
        <tbody>
          <tr
            data-event-disabled="click:_component_.show_log_detail"
            data-list="_component_.logs:_auto_"
          >
            <td data-bind="text=.name"></td>
            <td data-bind="fixed=.total_time"></td>
          </tr>
        </tbody>
      </table>
      <table data-bind="show_if=_component_.log_detail">
        <thead>
          <tr>
            <th colspan=6 data-bind="text=_component_.log_detail.category"></th>
          </tr>
          <tr>
            <th>Item</th>
            <th>Count</th>
            <th>Best</th>
            <th>Median</th>
            <th>Worst</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr data-list="_component_.log_detail.rows:name">
            <td data-bind="text=.name"></td>
            <td data-bind="text=.count"></td>
            <td data-bind="fixed=.best"></td>
            <td data-bind="fixed=.median"></td>
            <td data-bind="fixed=.worst"></td>
            <td data-bind="fixed=.total_time"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
/* global b8r, set, component, require */
'use strict';
  b8r.component('floater');
  b8r.component('path-browser');
  b8r.component('tab-selector');

  b8r.wrapWithComponent('floater', component, null, {style: "bottom: 10px; left: 10px;"});

  const remove_methods = obj => {
    return b8r.mapEachKey(obj, value => {
      switch (typeof value) {
        case 'function':
          return '[function]';
        case 'object':
          return value === null ? null : remove_methods(value);
        default:
          return value;
      }
    });
  };

  b8r.set('inspector-controller', {
    show_events: evt => {
      const {getParsedEventHandlers} = require('../source/b8r.events.js');
      const event_info = [];
      let target = evt.target.closest('[data-event]');
      do {
        let classes = target.getAttribute('class');
        classes = classes ? ` classes="${classes}"` : '';
        event_info.push({
          element: target,
          tag: `<${target.tagName.toLowerCase()}${classes}>`,
          handlers: getParsedEventHandlers(target).map(handler => {
            return {
              types: handler.types.join(', '),
              path: handler.model + '.' + handler.method,
            };
          }),
        });
      } while (target = target.parentElement.closest('[data-event]')); // jshint ignore:line
      console.log(JSON.stringify(event_info, false, 2));
      set({event_info});
    }
  });

  const events_on = () => {
    b8r.onAny('mouseover', 'inspector-controller.show_events');
  };

  const events_off = () => b8r.offAny('mouseover', 'inspector-controller.show_events');

  set({
    registry: [],
    components: [],
    instances: [],
    event_info: [],
    show_registry: () => {
      const registry = b8r.models()
                          .filter(name => name.substr(0,2) !== 'c#')
                          .map(name => {return {name};})
                          .sort();
      set({registry});
    },
    show_components: () => {
      const components = b8r.components()
                          .map(name => {return {name, value: name};});
      components.unshift({name: 'All', value: '', selected: true});
      set({components});
    },
    show_instances: (evt, target) => {
      const component = target.value;
      const partial_id = component ? `c#${component}#` : 'c#';
      const instances = b8r.models()
                            .filter(name => name.substr(0,partial_id.length) === partial_id)
                            .map(name => {return {name};})
                            .sort();
      set({instances});
    },
    set_registry_path: (evt, target) => set('registry_path', target.value),
    set_instance_path: (evt, target) => set('instance_path', target.value),
    logs: [],
    show_logs: evt => {
      if (evt.target.getAttribute('title') === 'perf') {
        const logs = b8r.showLogs();
        set({logs});
      }
    },
    show_log_detail: (evt, target) => {
      const row = b8r.getListInstance(target);
      set('log_detail', {
        category: row.name,
        rows: b8r.showLogs(row.name, 2),
      });
    },
    events_on,
    events_off,
  });

  b8r.enable(component, true);
</script>
