<!--
# instance test
Copyright ©2016-2017 Tonio Loewald
This component nests a bunch of instances of the hello component, showing
their private scopes in action, and also component composition.
These elements have different child elements and execute their scripts in unique contexts.
One of the components is nested in a component of the same type, and the two are still mutually independent.
One of the components has had its default `greeting` overridden using a `data` attribute.
-->
<style>
  [data-id] {
    position: relative;
    display: inline-block;
  }
  [data-id]:after {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 2px 4px;
    color: white;
    background-color: red;
    display: block;
    content: attr(data-id);
  }
</style>
<div>
  <div style="display: flex">
    <b8r-component path="components/hello" data-id="a" style="flex-grow: 1">
      <p>I am an inherited child</p>
    </b8r-component>
    <b8r-component path="components/hello" data-id="b" style="flex-grow: 1">
      <p>I am a different inherited child</p>
      <b8r-component path="components/hello" data-id="c" data-greeting="Good-Bye">
        <p>
          And I am a child of another instance of myself
        </p>
      </b8r-component>
    </b8r-component>
  </div>
  <b8r-component path="components/hello" data-id="d" style="flex-grow: 1">
    <p>Amongst our weaponry are such diverse elements as</p>
    <ul>
      <li>Fear</li>
      <li>Surprise</li>
      <li>Ruthless Efficiency</li>
      <li>And a fanatical devotion to the pope</li>
    </ul>
  </b8r-component>
</div>
