<!-- Copyright ©2016-2017 Tonio Loewald -->
<details>
	<summary>
		Source Code
	</summary>
	<pre>
		<code
			style="font-size: 12px; white-space: pre-wrap;"
			class="language-js"
		></code>
	</pre>
</details>
<script>
/* global findOne, require, Prism, b8r, data */
'use strict';
	var code = findOne('code');

	function render(source) {
		require.lazy("https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js").
		then(() => {
      code.textContent = source.trim();
      Prism.highlightElement(code);
    });
	}

	if(data.source) {
		render(data.source.split('\n').filter(s => s.trim()).join('\n'));
	} else if (data.url) {
		b8r.component('loading', 'components/loading').
		then(() => b8r.ajax(data.url)).
		then(source => render(source));
	}
</script>
