<!-- Copyright ©2016-2017 Tonio Loewald -->
<details>
  <summary>
    Source Code
  </summary>
  <pre>
    <code
      style="font-size: 12px; white-space: pre-wrap;"
    ></code>
  </pre>
</details>
<script>
/* global findOne, require, b8r, data */
'use strict';
  const code = findOne('code');
  const render = require('lib/text-render.js');

  if(data.source) {
    render.code(code, data.source.split('\n').filter(s => s.trim()).join('\n'), 'js');
  } else if (data.url) {
    b8r.component('loading').
    then(() => b8r.ajax(data.url)).
    then(source => render.code(code, source, 'js'));
  }
</script>
