<div>
	<h3>KeyboardEvent Code Tool</h3>
	<p>
		This is a utility component to determine the keyboard event <b>code</b> of a given keystroke.
	</p>
	<label>
		Type here&nbsp;<input data-event="keydown:_component_.showCode">
	</label>
	&nbsp;
	<div class="keycodes" style="margin-top: 1em;">
		<h4>Keystrokes</h4>
		<div></div>
		<button style="margin-top: 0.5em;" data-event="click:_component_.clear">Clear</button>
	</div>
</div>
<script>
	var keycodes = findOne('.keycodes');
	findOne('input').focus();
	BOM.hide(keycodes);

	return {
		showCode: evt => {
			var div = BOM.create('div');
			div.textContent = BOM.keystroke(evt); 
			BOM.findOneWithin(keycodes, 'div').appendChild(div);
			BOM.show(keycodes);
			evt.preventDefault();
		},
		clear: () => {
			find('.keycodes > div > div').forEach(elt => elt.remove());
			findOne('input').focus();
		}
	}
</script>