<!--
# KeyboardEvent Code Tool
This is a utility component to determine the keyboard event <b>code</b> of a given keystroke.
You can use these codes in `b8r`'s key event handlers, e.g.
    <input data-event="keydown(shift-Enter):app.doSubmit">
You can also use them with the [shortcut](#source=lib/shortcuts.js) library and the the
menu component (which you can see in action in the
[kitchen sink demo](#source=kitchen-sink.component.html))
Copyright ©2016-2017 Tonio Loewald
-->
<div>
  <label>
    Type here&nbsp;<input data-event="keydown:_component_.showCode">
  </label>
  &nbsp;
  <div class="keycodes" style="margin-top: 1em;">
    <h4>Keystrokes</h4>
    <div></div>
    <button style="margin-top: 0.5em;" data-event="click:_component_.clear">Clear</button>
  </div>
</div>
<script>
  /* global findOne, b8r, register */
  var keycodes = findOne('.keycodes')
  findOne('input').focus()
  b8r.hide(keycodes)
  register({
    showCode: evt => {
      var div = b8r.create('div')
      div.textContent = b8r.keystroke(evt)
      b8r.findOneWithin(keycodes, 'div').appendChild(div)
      b8r.show(keycodes)
      evt.preventDefault()
    },
      clear: () => {
        find('.keycodes > div > div').forEach(elt => elt.remove())
        findOne('input').focus()
    }
  })
</script>
