<div>
	<button class="cancel">Cancel</button> <button>Whatever</button> <button class="default">Default</button>
	<hr>
	<select>
		<option selected>Default</option>
		<option>Another Option</option>
		<option>Yet Another Option</option>
	</select>
	<select multiple>
		<option>Default</option>
		<option selected>Another Option</option>
		<option>Yet Another Option</option>
		<option selected>And Yet Another Option</option>
		<option>Final Option</option>
	</select>
	<hr>
	<textarea>Text Area</textarea>
	<input placeholder="input field">
	<input class="search" placeholder="search field">
	<hr>
	<label>
		Range
		<input type="range">
	</label>
	<label>
		Date
		<input type="date" value="2014-04-01">
	</label>
	<label>
		Number
		<input type="number" value="5">
	</label>
	<label>
		Color
		<input type="color" value="#ff0000">
	</label>
	<br>
	<label>
		Progress
		<progress value="33" max="100"></progress>
	</label>
	<br>
	<form>
		<label>
			What is your quest?
			<input>
		</label><br>
		<label>
			What is average airspeed of an unladen swallow?
			<input>
		</label>
		<fieldset>
			<label>
				What is your favorite color?
			</label>
			<label>
				<input name="favorite-color" value="red" type="radio">
				Red
			</label>
			<label>
				<input name="favorite-color" value="blue" type="radio">
				Blue
			</label>
			<label>
				<input name="favorite-color" value="pink" type="radio">
				Pink
			</label>
		</fieldset>
		<button type="cancel">Cancel</button>
		<button type="submit">OK</button>
	</form>
	</form>
</div>