<style>
	.kitchen-sink {
		padding: 0 8px;
		position: relative;
		border: 1px solid rgba(0,0,0,0.25);
	}

	.kitchen-sink > hr {
		margin-left: -8px;
		margin-right: -8px;
	}

	.kitchen-sink > .menubar {
		background: #eee;
	}
</style>
<div class="kitchen-sink">
	<ul class="menubar" data-event="mouseup,keydown(Space):menubar.action;focus,mouseover,mousedown:menubar.open;blur,keydown(Escape):menubar.close;">
		<li>
			File
			<ul>
				<li>
					<a data-shortcut="ctrl-KeyN" data-event="shortcut,mouseup:_component_.test">New</a>
				</li>
				<li>
					<a data-shortcut="ctrl-KeyO" data-event="shortcut,mouseup:_component_.test">Open…</a>
				</li>
				<li>
					<span>Open Recent</span>
					<ul>
						<li>Recent File</li>
						<li>Another Recent File</li>
					</ul>
				</li>
				<li>
					<span data-shortcut="ctrl-KeyS">Save</span>
				</li>
				<li>
					<span>Save As…</span>
					<span class="shortcut">ctrl-shift-S</span>
				</li>
				<li class="separator"></li>
				<li>
					<span>Quit</span>
					<span class="shortcut">ctrl-Q</span>
				</li>
			</ul>
		</li>
		<li>
			Edit
			<ul>
				<li>
					<a data-shortcut="meta-KeyZ" data-event="shortcut,mouseup:_component_.test">Undo</a>
				</li>
				<li class="separator"></li>
				<li>
					<span>Cut</span>
					<span class="shortcut">ctrl-X</span>
				</li>
				<li>
					<span>Copy</span>
					<span class="shortcut">ctrl-C</span>
				</li>
				<li>
					<span>Paste</span>
					<span class="shortcut">ctrl-V</span>
				</li>
			</ul>
		</li>
		<li>
			Format
			<ul>
				<li>
					<span>Document</span>
				</li>
				<li>
					<span>Section</span>
				</li>
				<li>
					<span>Page</span>
				</li>
				<li>
					<span>Paragraph</span>
				</li>
				<li>
					<span>Character</span>
					<ul>
						<li>
							<v>Bold</v>
						</li>
						<li>
							<i>Italic</i>
						</li>
						<li>
							<u>Underline</u>
						</li>
						<li class="separator"></li>
						<li>
							<span>Plain</span>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<div style="height: 32px">&nbsp;</div>
	<div class="toolbar">
	</div>
	<button class="cancel">Cancel</button> <button>Whatever</button> <button class="default">Default</button>
	<hr>
	<select>
		<option selected>Default</option>
		<option>Another Option</option>
		<option>Yet Another Option</option>
	</select>
	<select multiple>
		<option>Default</option>
		<option selected>Another Option</option>
		<option>Yet Another Option</option>
		<option selected>And Yet Another Option</option>
		<option>Final Option</option>
	</select>
	<hr>
	<textarea>Text Area</textarea>
	<input placeholder="input field">
	<input class="search" placeholder="search field">
	<hr>
	<label>
		Range
		<input type="range">
	</label>
	<label>
		Date
		<input type="date" value="2014-04-01">
	</label>
	<label>
		Number
		<input type="number" value="5">
	</label>
	<label>
		Color
		<input type="color" value="#57A700">
	</label>
	<br>
	<label>
		Progress
		<progress value="33" max="100"></progress>
	</label>
	<br>
	<form onsubmit="return false;">
		<label>
			What is your quest?
			<input>
		</label><br>
		<label>
			What is the average airspeed of an unladen swallow?
			<input>
		</label>
		<fieldset>
			<label>
				What is your favorite color?
			</label>
			<label>
				<input name="favorite-color" value="red" type="radio">
				Red
			</label>
			<label>
				<input name="favorite-color" value="blue" type="radio">
				Blue
			</label>
			<label>
				<input name="favorite-color" value="pink" type="radio">
				Pink
			</label>
		</fieldset>
		<button type="cancel">Cancel</button>
		<button type="submit">OK</button>
	</form>
</div>
<script>

	// shortcuts
	b8r.on(document.body, 'keydown', 'shortcuts', 'key');
	b8r.register('shortcuts', {
		key(evt) {
			const shortcuts = b8r.find('[data-shortcut]');
			const keystroke = b8r.keystroke(evt);
			console.log(keystroke);
			const matches = shortcuts.filter(elt => elt.getAttribute('data-shortcut') === keystroke);
			if (matches.length > 0) {
				b8r.trigger('focus', matches[0]);
				b8r.trigger('shortcut', matches[0]);
				setTimeout(() => {
					b8r.trigger('blur', matches[0]);
				}, 250);
				if (matches.length > 1) {
					console.warn('shortcut has more than one match', keystroke, matches);
				}
			} else {
				return true;
			}
		}
	});

	// menubar stuff
	find('.shortcut').forEach(elt => {
		var caption = elt.textContent.split('-');
		caption.forEach((s, i) => {
			caption[i] = b8r.modifierKeys[s] || s;
		});
		elt.textContent = caption.join('');
	});
	find ('[data-shortcut]').forEach(elt => {
		var caption = elt.getAttribute('data-shortcut').split('-');
		caption.forEach((s, i) => {
			caption[i] = b8r.modifierKeys[s] || s.replace(/Key|Digit/, '');
		});
		caption = caption.join('');
		if(elt.closest('.menubar')) {
			const span = b8r.create('span');
			span.textContent = caption;
			elt.parentElement.appendChild(span);
		} else {
			elt.setAttribute('title', caption);
		}
	});
	b8r.makeArray(findOne('.menubar').querySelectorAll('li:not(.separator)')).forEach(elt => elt.setAttribute('tabindex', 0));
	b8r.register('menubar', {
		action(evt){
			if(!evt.target.matches('.menubar') && !evt.target.parentElement.matches('.menubar')) {
				b8r.find('.menubar.open,.menubar .open').forEach(elt => elt.classList.remove('open'));
				b8r.off(document.body, 'mousedown', 'menubar', 'close');
			}
		},
		open(evt){
			const li = evt.target.closest('li');
			if(li && (li.closest('.menubar.open') || evt.type !== 'mouseover')) {
				const menubar = evt.target.closest('.menubar');
				menubar.classList.add('open');
				b8r.on(document.body, 'mousedown', 'menubar', 'close');
				menubar.querySelectorAll('.open').forEach(elt => elt.classList.remove('open'));
				if(evt.target.matches('li')) {
					evt.target.classList.add('open');
				}
				b8r.findAbove(evt.target, 'li', '.menubar').forEach(elt => elt.classList.add('open'));
			}
		},
		close(evt){
			if (!evt.relatedTarget || !evt.relatedTarget.closest('.menubar')) {
				b8r.find('.menubar.open,.menubar .open').forEach(elt => elt.classList.remove('open'));
				b8r.off(document.body, 'mousedown', 'menubar', 'close');
				return true;
			}
		}
	});
	return {
		test: evt => {
			console.log('menu pick', evt.target.textContent);
			return true;
		},
	}
</script>