<!-- Copyright ©2016-2017 Tonio Loewald -->
<style>
  .literate-errors {
    display: none;
    position: fixed;
    bottom: 4px;
    right: 4px;
    background-color: var(--error-color);
    color: white;
    padding: 2px 6px;
    cursor: pointer;
    z-index: 3;
  }
</style>
<div
  class="literate-errors"
  data-event="click:_component_.show_error"
>
  There are test failures…
</div>
<div
  data-list="_component_.parts"
  data-bind="component_map(js:js-viewer|markdown:markdown-viewer|component:fiddle|test:test)=.type"
>
  <div data-component="loading"></div>
</div>
<script>
  /* global b8r, set, data, console, findOne */

  const loading = b8r.component('loading');
  b8r.component('js-viewer');
  b8r.component('markdown-viewer');
  b8r.component('fiddle');
  b8r.component('test');

  function process(complete_source) {
    b8r.hide(findOne('.literate-errors'));
    try {
      const pieces = complete_source.split('/**')
                                     .map((text, idx) => {
                                        return {
                                          type: idx ? 'docs' : 'js',
                                          text
                                        };
                                      })
                                     .filter(piece => piece.text);
      const parts = [];
      const addSource = (type, source) => {
        if (source.replace(/\s/g, '')) {
          parts.push({type, source: source.replace(/^\n+|\n+$/g, '')});
        }
      };
      const addDocs = content => parts.push({type: 'markdown', content});

      pieces.forEach(piece => {
        if (piece.type === 'js') {
          addSource('js', piece.text);
        } else {
          var cutoff = piece.text.indexOf('*/');
          if (cutoff < 0) {
            console.error('no end of comment found');
            throw 'no end of comment found';
          }
          var content = piece.text.substr(0, cutoff);
          const source = piece.text.substr(cutoff + 2);
          while(true) { // eslint-disable-line no-constant-condition
            var before, example;
            cutoff = content.search(/`{3,}|~{4,}/);
            if (cutoff < 1) {
              break;
            }
            if(content[cutoff] === '`') {
              [, before, example, content] = content.match(/^([\s\S]*?)`{3,}([\s\S]*?)`{3,}([\s\S]*)$/);
              addDocs(before);
              addSource('component', example);
            } else {
              [, before, example, content] = content.match(/^([\s\S]*?)~{4,}([\s\S]*?)~{4,}([\s\S]*)$/);
              addDocs(before);
              parts.push({
                type: 'test',
                source: example.replace(/^\n+|\n+$/g, ''),
                complete_source,
              });
            }
          }
          addDocs(content);
          addSource('js', source);
        }
      });
      set({parts});
    } catch(e) {
      console.error(data.url, `threw error when processed: ${e}`);
    }
  }

  if(data.source) {
    process(data.source);
  } else if (data.url) {
    loading.
    then(() => b8r.ajax(data.url)).
    then(source => process(source));
  }

  set({show_error: () => b8r.findOne('.test-transcript .failure').scrollIntoViewIfNeeded()});
</script>
