<!--
# Mapbox &amp; MODIS Fire Data
This is a super-simple integration of [Mapbox](https://www.mapbox.com).
If the map doesn't load then I've probably exceeded my free quota…
The markers show worldwide
[fire data from NASA MODIS](https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data)
by converting the CSV data into [geoJSON](https://geojson.org/) 
format on-the-fly (allowing very efficient OpenGL-accelerated rendering).
Red brighter the red, the more confidence (presumably the more likely it's actualy a fire).
This example also uses the (new) registry entry b8rRequestsInFlight to show when data is loading.
-->
<style>
  ._component_ > label > select {
    text-transform: capitalize;
  }

  ._component_ > .map {
    width: 100%;
    min-height: 60vh;
  }

  ._component_ > .loading {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 30px;
    background: rgba(0,0,0,0.5);
  }
</style>
<label>
  <span>Map Style</span>
  <select
    data-bind="value=_component_.currentMapStyle"
    data-event="change:_component_.setMapStyle"
  >
    <option
      data-list="_component_.mapStyles:_auto_"
      data-bind="
        text=.name
        value=.url
      "
    ></option>
  </select>
</label>
<div class="map"></div>
<div class="loading" data-bind="show_if=b8rRequestsInFlight.length">
  LOADING (<span data-bind="text=b8rRequestInFlight.length"></span>)
</div>
<script>
  const {viaTag} = await import('../lib/scripts.js')
  const {viaLink} = await import('../source/b8r.makeStylesheet.js')
  const {parseHash, serializeObj} = await import('../lib/url-utils.js')
  viaLink('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css')
  await viaTag('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js')
  const settings = {
    '@': '48.9591590,31.3392433,5.0'
  }
  Object.assign(settings, parseHash())
  set('currentMapStyle', 'mapbox://styles/mapbox/outdoors-v10')
  set('mapStyles', [
    {
      name: 'streets',
      url: 'mapbox://styles/mapbox/streets-v10'
    },
    {
      name: 'outdoors',
      url: 'mapbox://styles/mapbox/outdoors-v10'
    },
    {
      name: 'light',
      url: 'mapbox://styles/mapbox/light-v9'
    },
    {
      name: 'dark',
      url: 'mapbox://styles/mapbox/dark-v9'
    },
    {
      name: 'satellite',
      url: 'mapbox://styles/mapbox/satellite-v9'
    },
    {
      name: 'sateliite + streets',
      url: 'mapbox://styles/mapbox/satellite-streets-v10'
    },
    {
      name: 'preview day',
      url: 'mapbox://styles/mapbox/navigation-preview-day-v2'
    },
    {
      name: 'preview night',
      url: 'mapbox://styles/mapbox/navigation-preview-night-v2'
    },
    {
      name: 'guidance day',
      url: 'mapbox://styles/mapbox/navigation-guidance-day-v2'
    },
    {
      name: 'guidance night',
      url: 'mapbox://styles/mapbox/navigation-guidance-night-v2'
    },
  ])
  const [long, lat, zoom] = settings['@'].split(',').map(parseFloat)
  mapboxgl.accessToken = 'pk.eyJ1IjoicG9kcGVyc29uIiwiYSI6ImNqc2JlbWU0bjA1ZmY0YW5ycHZod3VhbWcifQ.arvqfpOqMgFYkKgQ35UScA'
  const map = new mapboxgl.Map({
    container: findOne('.map'),
    style: get('currentMapStyle'),
    zoom,
    center: [lat, long],
  })
  set('setMapStyle', () => {
    map.setStyle(get('currentMapStyle'))
  })
  window._map = map
  const updateHash = b8r.debounce(() => {
    const {lng, lat} = map.getCenter()
    const zoom = map.getZoom()
    // limit precision to keep url shorter
    settings['@'] = `${lat.toFixed(7)},${lng.toFixed(7)},${zoom.toFixed(1)}`
    history.replaceState({}, "map demo", window.location.href.split('#')[0] + '#' + serializeObj(settings));
  }, 100)
  map.on('render', updateHash)
  console.time('load fire data')
  const modisUrl = 'https://firms.modaps.eosdis.nasa.gov/data/active_fire/modis-c6.1/csv/MODIS_C6_1_Global_24h.csv'
  b8r.ajax(`https://bindinator.com/services/?rss=${modisUrl}`).then(csv => {
    console.timeEnd('load fire data')
    console.time('render markers')
    // this is a very simple csv file, so we don't need a "real" csv parser
    csv = csv.split('\n').filter(line => !!line.trim()).map(line => line.split(','));
    const columns = csv.shift();
    const fireData = csv.map(row => row.reduce((obj, value, i) => {
      obj[columns[i]] = value
      return obj
    }, {}))

    const features = fireData.map(obj => {
      const {longitude, latitude, confidence} = obj
      return {
        type: 'feature',
        properties: {
          confidence: confidence / 20
        },
        geometry: {
          type: 'Point',
          coordinates: [longitude, latitude]
        }
      }
    })

    map.addLayer({
      id: 'fires',
      type: 'circle',
      source: {
        type: 'geojson',
        data: {
          type: "FeatureCollection",
          features
        }
      },
      paint: {
        'circle-radius': [
          'interpolate',
          ['linear'],
          ['number', ['get', 'confidence']],
          0,
          4,
          5,
          12
        ],
        'circle-color': [
          'interpolate',
          ['linear'],
          ['number', ['get', 'confidence']],
          0,
          '#0f0',
          1,
          '#ff0',
          3,
          '#f80',
          5,
          '#f00'
        ],
        'circle-opacity': 0.5
      }
    })
    console.timeEnd('render markers')
  })
</script>