<!--
# Mapbox

This is a super-simple integration of [Mapbox](https://www.mapbox.com).

If the map doesn't load then I've probably exceeded my free quota…
-->
<style>
  ._component_ > label {
    display: inline-block;
    margin: 5px 0;
  }

  ._component_ > label > select {
    text-transform: capitalize;
  }

  ._component_ > .map {
    width: 100%;
    min-height: 60vh;
  }
</style>
<label>
  Map Style
  <select 
    data-bind="value=_component_.currentMapStyle"
    data-event="change:_component_.setMapStyle"
  >
    <option 
      data-list="_component_.mapStyles:_auto_"
      data-bind="
        text=.name
        value=.url
      "
    ></option>
  </select>
</label>
<div class="map"></div>
<script>
  const {viaTag} = await import('../lib/scripts.js')
  const {viaLink} = await import('../source/b8r.makeStylesheet.js')
  const {parseHash, serializeObj} = await import('../lib/hash-utils.js')

  viaLink('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css')
  await viaTag('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js')

  const settings = {
    '@': '-33.8397585,151.1258772,10'
  }

  Object.assign(settings, parseHash())

  set('currentMapStyle', 'mapbox://styles/mapbox/outdoors-v10')
  set('mapStyles', [
    {
      name: 'streets',
      url: 'mapbox://styles/mapbox/streets-v10'
    },
    {
      name: 'outdoors',
      url: 'mapbox://styles/mapbox/outdoors-v10'
    },
    {
      name: 'light',
      url: 'mapbox://styles/mapbox/light-v9'
    },
    {
      name: 'dark',
      url: 'mapbox://styles/mapbox/dark-v9'
    },
    {
      name: 'satellite',
      url: 'mapbox://styles/mapbox/satellite-v9'
    },
    {
      name: 'sateliite + streets',
      url: 'mapbox://styles/mapbox/satellite-streets-v10'
    },
    {
      name: 'preview day',
      url: 'mapbox://styles/mapbox/navigation-preview-day-v2'
    },
    {
      name: 'preview night',
      url: 'mapbox://styles/mapbox/navigation-preview-night-v2'
    },
    {
      name: 'guidance day',
      url: 'mapbox://styles/mapbox/navigation-guidance-day-v2'
    },
    {
      name: 'guidance night',
      url: 'mapbox://styles/mapbox/navigation-guidance-night-v2'
    },
  ])

  const [long, lat, zoom] = settings['@'].split(',').map(parseFloat)
  mapboxgl.accessToken = 'pk.eyJ1IjoicG9kcGVyc29uIiwiYSI6ImNqc2JlbWU0bjA1ZmY0YW5ycHZod3VhbWcifQ.arvqfpOqMgFYkKgQ35UScA'
  const map = new mapboxgl.Map({
    container: findOne('.map'),
    style: get('currentMapStyle'),
    zoom,
    center: [lat, long],
  })

  set('setMapStyle', () => {
    map.setStyle(get('currentMapStyle'))
  })

  window._map = map

  const updateHash = b8r.debounce(() => {
    const {lng, lat} = map.getCenter()
    const zoom = map.getZoom()
    settings['@'] = `${lat},${lng},${zoom}`
    history.replaceState({}, "map demo", window.location.pathname + '#' + serializeObj(settings));
  }, 100)

  map.on('render', updateHash)
</script>