<!--
# Mapbox &amp; MODIS Fire Data

This is a super-simple integration of [Mapbox](https://www.mapbox.com).

If the map doesn't load then I've probably exceeded my free quota…

The markers show US (and nearby) 
[fire data from NASA MODIS](https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/active-fire-data) 
(originally I tried showing the data for Australia but there were 6000 entries…)
Red brighter the red, the more confidence (presumably the more likely it's actualy a fire).

This example also uses the (new) registry entry b8rRequestsInFlight to show when data is loading.
-->
<style>
  ._component_ > label {
    display: inline-block;
    margin: 5px 0;
  }

  ._component_ > label > select {
    text-transform: capitalize;
  }

  ._component_ > .map {
    width: 100%;
    min-height: 60vh;
  }

  ._component_ > .loading {
    position: fixed; 
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px 30px;
    background: rgba(0,0,0,0.5);
  }
</style>
<label>
  Map Style
  <select 
    data-bind="value=_component_.currentMapStyle"
    data-event="change:_component_.setMapStyle"
  >
    <option 
      data-list="_component_.mapStyles:_auto_"
      data-bind="
        text=.name
        value=.url
      "
    ></option>
  </select>
</label>
<svg width=24 height=24 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M192 0C79.7 101.3 0 220.9 0 300.5 0 425 79 512 192 512s192-87 192-211.5c0-79.9-80.2-199.6-192-300.5zm0 448c-56.5 0-96-39-96-94.8 0-13.5 4.6-61.5 96-161.2 91.4 99.7 96 147.7 96 161.2 0 55.8-39.5 94.8-96 94.8z"></path></svg>
<div class="map"></div>
<div class="loading" data-bind="show_if=b8rRequestsInFlight.length">
  LOADING (<span data-bind="text=b8rRequestInFlight.length"></span>)
</div>
<script>
  const {viaTag} = await import('../lib/scripts.js')
  const {viaLink} = await import('../source/b8r.makeStylesheet.js')
  const {parseHash, serializeObj} = await import('../lib/hash-utils.js')
  const fireIcon = findOne('svg')
  fireIcon.remove()

  viaLink('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css')
  await viaTag('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js')

  const settings = {
    '@': '38.2641789,-120.5922877,5.8'
  }

  Object.assign(settings, parseHash())

  set('currentMapStyle', 'mapbox://styles/mapbox/outdoors-v10')
  set('mapStyles', [
    {
      name: 'streets',
      url: 'mapbox://styles/mapbox/streets-v10'
    },
    {
      name: 'outdoors',
      url: 'mapbox://styles/mapbox/outdoors-v10'
    },
    {
      name: 'light',
      url: 'mapbox://styles/mapbox/light-v9'
    },
    {
      name: 'dark',
      url: 'mapbox://styles/mapbox/dark-v9'
    },
    {
      name: 'satellite',
      url: 'mapbox://styles/mapbox/satellite-v9'
    },
    {
      name: 'sateliite + streets',
      url: 'mapbox://styles/mapbox/satellite-streets-v10'
    },
    {
      name: 'preview day',
      url: 'mapbox://styles/mapbox/navigation-preview-day-v2'
    },
    {
      name: 'preview night',
      url: 'mapbox://styles/mapbox/navigation-preview-night-v2'
    },
    {
      name: 'guidance day',
      url: 'mapbox://styles/mapbox/navigation-guidance-day-v2'
    },
    {
      name: 'guidance night',
      url: 'mapbox://styles/mapbox/navigation-guidance-night-v2'
    },
  ])

  const [long, lat, zoom] = settings['@'].split(',').map(parseFloat)
  mapboxgl.accessToken = 'pk.eyJ1IjoicG9kcGVyc29uIiwiYSI6ImNqc2JlbWU0bjA1ZmY0YW5ycHZod3VhbWcifQ.arvqfpOqMgFYkKgQ35UScA'
  const map = new mapboxgl.Map({
    container: findOne('.map'),
    style: get('currentMapStyle'),
    zoom,
    center: [lat, long],
  })

  set('setMapStyle', () => {
    map.setStyle(get('currentMapStyle'))
  })

  window._map = map

  const updateHash = b8r.debounce(() => {
    const {lng, lat} = map.getCenter()
    const zoom = map.getZoom()
    // limit precision to keep url shorter
    settings['@'] = `${lat.toFixed(7)},${lng.toFixed(7)},${zoom.toFixed(1)}`
    history.replaceState({}, "map demo", window.location.pathname + '#' + serializeObj(settings));
  }, 100)

  map.on('render', updateHash)

  console.time('load fire data')
  b8r.ajax('https://bindinator.com/services/?modis').then(csv => {
    console.timeEnd('load fire data')
    console.time('render markers')
    // this is a very simple csv file, so we don't need a "real" csv parser
    csv = csv.split('\n').filter(line => !!line.trim()).map(line => line.split(','));
    const columns = csv.shift();
    const fireData = csv.map(row => row.reduce((obj, value, i) => {
      obj[columns[i]] = value
      return obj
    }, {}))
    fireData.forEach(obj => {
      const {longitude, latitude} = obj
      const element = fireIcon.cloneNode(true)
      b8r.findOneWithin(fireIcon, 'path').setAttribute('fill', `rgb(${obj.confidence * 2.55}, 0, 0)`)
      obj.marker = new mapboxgl.Marker({
        element: fireIcon.cloneNode(true),
      })
            .setLngLat([longitude, latitude])
            .addTo(map);
    })
    set({fireData})
    console.timeEnd('render markers')
  })
</script>