<!-- Copyright ©2016-2017 Tonio Loewald -->
<div data-component="loading"></div>
<script>
	function render(source){
		require.lazy("https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.min")
					.then(() => {
				 		var converter = new showdown.Converter();
				  	component.innerHTML = converter.makeHtml(source);
					});
	}
	
	if (data.content) {
		b8r.component('loading', 'components/loading')
			.then(() => render(data.content));
	} else if (data.url) {
		b8r.component('loading', 'components/loading')
			.then(() => b8r.ajax(data.url))
		  .then(content => render(content));
	}
</script>