<!--
# markdown-editor

This is a simple markdown editor that uses the [text-render](.?source=lib/text-render.js) library.
-->
<style>
  ._component_ {
    min-height: 50vh;
    position: relative;
    display: flex;
  }

  .documentation-component ._component_ {
    border: 1px solid rgba(0,0,0,0.1);
  }

  ._component_ .editor {
    padding: 10px;
    font-size: 14px;
    background: #222;
    color: white;
    font-family: Menlo, Monaco, monospace;
  }

  ._component_ .preview {
    padding: 10px;
    font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
  }

  ._component_ .sizable {
    flex: 1 1 auto;
    width: 50%;
    min-width: 100px;
  }

  ._component_ table {
    border-collapse: collapse;
  }

  ._component_ tr {
    border-bottom: 1px solid var(--black-10);
  }

  ._component_ th,
  ._component_ td {
    padding: 5px 10px;
  }

  ._component_ th {
    background: var(--black-10);
  }
</style>
<textarea
  class="editor sizable"
  data-bind="value=_component_.source"
  data-event="input:_component_.update"
></textarea>
<div data-component="sizer"></div>
<div class="preview sizable"></div>
<script>
  /* global b8r, get, set, findOne */
  const {md} = await import('../lib/text-render.js');
  b8r.component('sizer');
  const source = `# Heading
![b8r logo](images/bindinator-logo-notext.svg)
Here is some text

    // and here is some code
    let x = x;

And here is a table:

|| Binding Target || Description
|  value          |  value property of a user-editable element
|  text           |  textContent of an element
|  attr(foo)      |  specified attribute of an element
`;
  const preview = findOne('.preview');
  const update = b8r.debounce(() => md({elt: preview, source: get('source'), renderTables: true}), 250);
  update();
  set ({
    update,
    source
  });
</script>
