<style>
  ._component_ {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 2px;
    content: "+";
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 18px;
    padding: 2px;
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--input-bg-color);
  }

  ._component_:hover {
    color: var(--text-color);
    background-color: var(--light-accent-color);
  }

  ._component_:active {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  .maxtoggle-target.fullscreen .maxtoggle-maximize {
    display: none;
  }

  .maxtoggle-target:not(.fullscreen) .maxtoggle-minimize {
    display: none;
  }
</style>
<span title="maximize (alt-space)" class="maxtoggle-maximize icon-enlarge7"></span>
<span title="reduce (alt-space)" class="maxtoggle-minimize icon-shrink7"></span>
<script>
  /* global component, on */
  const target = component.closest('.maxtoggle-target') || document.body;
  target.classList.add('maxtoggle-target')
  set('fullscreen', () => {
    target.classList.toggle('fullscreen')
  })
  on('mouseup', `_component_.fullscreen`)
</script>
