<style>
  .maxtoggle {
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 2px;
    content: "+";
    text-align: center;
    width: 16px;
    height: 16px;
    font-size: 12px;
    line-height: 18px;
    padding: 2px;
    cursor: pointer;
    color: var(--accent-color);
    background-color: var(--input-bg-color);
  }

  .maxtoggle:hover {
    color: var(--text-color);
    background-color: var(--light-accent-color);
  }

  .maxtoggle:active {
    color: var(--text-color);
    background-color: var(--accent-color);
  }

  body.fullscreen .maxtoggle-maximize {
    display: none;
  }

  body:not(.fullscreen) .maxtoggle-minimize {
    display: none;
  }
</style>
  <span class="maxtoggle-maximize icon-enlarge7"></span>
  <span class="maxtoggle-minimize icon-shrink7"></span>
<script>
  /* global component, on */
  component.classList.add('maxtoggle')
component.setAttribute('title', 'Toggle Maximize (alt-space)')
on('mouseup', 'demo.fullscreen')
</script>
