<style>
	.modal-dialog-backdrop {
		background-color: rgba(0,0,0,0.25);
		position: fixed; 
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0; 
		display: flex; 
		align-items: center; 
		justify-content: center; 
	}

	.modal-dialog {
		padding: 12px;
		min-width: 400px;
		background-color: white;
		box-shadow: 2px 6px 12px 0 rgba(0,0,0,0.5);
	}
</style>
<div class="modal-dialog-backdrop">
	<div class="modal-dialog">
		<div data-children>
			<h3 data-bind="text=.title">Title</h3>
			<p data-bind="text=.message" class="message">Message</p>
			<div style="text-align: right;">
				<button data-bind="text=.cancel" data-event="click:_component_.button" class="cancel">Cancel</button>
				<button class="default" data-bind="text=.ok" data-event="click:_component_.button" class="ok">OK</button>
			</div>
		</div>
	</div>
</div>
<script>
	BOM.bindAll(component, data);

	return {
		button: function(evt) {
			if (data && data.callback) {
				data.callback(evt);
			} else {
				console.log('dialog has no callback; user pressed', evt.target.textContent);
			}
			component.remove();
		},
	};
</script>