<!--
# modal
Copyright ©2016-2017 Tonio Loewald
-->
<style>
  .modal-dialog-backdrop {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-dialog {
    position: relative;
    padding: 12px;
    min-width: 400px;
    background-color: white;
    box-shadow: 1px 6px 12px 0 rgba(0,0,0,0.5);
  }

  .modal-dialog .modal-dialog-buttons {
    margin-top: 8px;
    text-align: right;
  }

  .modal-dialog button {
    margin-left: 5px;
  }

  .dialog-cancel .hidden {
    display: none;
  }
</style>
<div class="modal-dialog-backdrop" data-event="click:_component_.dismiss;">
  <div
    class="modal-dialog"
    tabindex="0"
    data-event="
      click:_component_.button;
      keydown(Enter),keydown(NumpadEnter):_component_.default;
      keyup(Escape):_component_.cancel;
    "
  >
  <button
    style="position: absolute; left: 7px; top: 8px;"
    class="iconic tiny circled cancel dialog-cancel hidden"
  >
    <span class="icon-x-solo"></span>
  </button>
    <div data-children>
      <h1 data-bind="text=_component_.title">Placeholder</h1>
      <label>
        <p data-bind="text=_component_.message">Here is some text</p>
        <input
          style="width: 100%"
          data-bind="
            value=_component_.text;
            hide_if(_null_)=_component_.text;
            attr(placeholder)=_component_.placeholder;
          "
        >
      </label>
      <div class="modal-dialog-buttons">
        <button
          data-list="_component_.buttons"
          tabindex="0"
          data-bind="
            text=.caption;
            class(default)=.default;
            class(cancel)=.cancel;
            class(close)=.close;
          "
        >Button Name</button>
      </div>
    </div>
  </div>
</div>
<script>
/* global data, findOne, component, b8r */
'use strict';
  const dialog = findOne('.modal-dialog');

  if (data.className) {
    dialog.classList.remove('modal-dialog');
    dialog.className += data.className;
  }

  if (data.needsClose) {
    b8r.findOneWithin(dialog, 'button.dialog-cancel').classList.remove('hidden');
  }

  if (data.backdropColor) {
    findOne('.modal-dialog-backdrop').style.backgroundColor = data.backdropColor;
  }

  dialog.focus();

  if (!data.buttons) {
    data.buttons = [{
      caption: 'Cancel',
      cancel: true
    },
    {
      caption: 'OK',
      default: true
    }];
  }

  data.cancel = () => b8r.trigger('click',
    findOne('[data-children] button.cancel')
    || findOne('button.cancel')
    || findOne('button.default'));
  data.default = () => b8r.trigger('click', findOne('button.default'));
  data.button = evt => {
    if (data && data.callback) {
      data.callback(evt, component, data);
    }

    if (
        evt.target instanceof HTMLButtonElement && evt.target.matches('.default,.cancel,.close') ||
        evt.target.parentElement.matches('.cancel')
    ) {
      component.remove();
    } else {
      return true;
    }
  };

  data.dismiss = (evt) => {
    if (evt.target.classList.value.indexOf('modal-dialog-backdrop') >= 0)
    {
      data.cancel();
    }
    return true;
  }

  const startTime = new Date().getTime();
  // Unless we create a component.ready() then we need the
  // timeout to give the dialog a change to get in the DOM.
  const setFocus = () => {
    let defaultWidget;
    if (typeof data.text === 'string') {
      defaultWidget = findOne('input');
    } else {
      defaultWidget = b8r.findOne('.default');
     }
    if (defaultWidget) {
      defaultWidget.focus();
    } else if ((new Date().getTime() - startTime) < 2000) {
      setTimeout(() => setFocus(), 100);
    }
  };

    requestAnimationFrame(() => setFocus());
</script>
