<!--
# modal test
Copyright ©2016-2017 Tonio Loewald

Demonstrates use of modal dialogs.
-->
<div>
	<h4>Modal Dialog Test</h4>
	<div data-children></div>
	<button data-event="click:_component_.dialog">Show Dialog</button>
	<button data-event="click:_component_.custom_dialog">Show Custom Dialog</button>
	<p class="result"></p>
</div>
<script>
	var result = findOne('.result');
	register({
		dialog: () => {
			b8r.component('components/modal').then(
				() => b8r.insertComponent(
					'modal',
					false,
					{ callback: evt => result.textContent = 'User clicked: ' + evt.target.textContent }
				)
			);
		},

		custom_dialog: () => {
			b8r.component('components/reactor-dialog').then(
				() => b8r.insertComponent(
					'reactor-dialog',
					false,
					{ callback: (evt, component) => result.textContent = 'reactor setting: ' + b8r.findOneWithin(component, 'input').value }
				)
			);
		}
	});
</script>
