<!--
# mondrian
A component for messing around with the `mondrian.js` layout library.
-->
<style>
  .mondrian {
    background: rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
  }

  .mondrian > * {
    object-fit: cover;
    border-radius: 0.5px; /* without this, object-fit is broken in Chrome */
    position: absolute;
    transition: 0.5s ease-out;
  }

  .mondrian-label {
    padding: 4px;
    display: inline-block;
  }
</style>
<div
  class="mondrian"
  data-bind="style(height)=_component_.containerHeight"
  data-event="click:_component_.focus"
>
  <video src="test/video/portrait1.mov" autoplay=true loop=true></video>
  <video src="test/video/portrait2.mov" autoplay=true loop=true></video>
  <video src="test/video/portrait3.mov" autoplay=true loop=true></video>
  <video src="test/video/landscape1.mov" autoplay=true loop=true></video>
  <div style="overflow: hidden">
    <video src="test/video/portrait3.mov" style="display: none" autoplay=true loop=true></video>
    <video
      style="width: 100%; height: 100%; object-fit: cover;"
      src="test/video/landscape2.mov"
      autoplay=true
      loop=true
    ></video>
  </div>
  <video src="test/video/landscape3.mov" autoplay=true loop=true></video>
  <img src="test/portraits/tentacle.png">
  <img src="test/portraits/weasel.png">
  <canvas width="128" height="128"></canvas>
</div>
<button class="hide" data-event="click:_component_.hideRandom">Hide Random</button>
<button class="show" data-event="click:_component_.showRandom">Show Random</button>
<label class="mondrian-label">
  <input class="randomChanges" type="checkbox" checked>Randomly add/remove/focus items
</label>
<label class="mondrian-label">
  <select
    data-bind="value=_component_.desiredAspectRatio"
  >
    <option value="0.33">3:1 Extreme Portrait</option>
    <option value="0.67">3:2 Portrait</option>
    <option value="1" selected>Square</option>
    <option value="1.33">4:3 Landscape</option>
    <option value="1.78">16:9 Widescreen</option>
    <option value="2">2:1 Extreme Widescreen</option>
    <option value="4">4:1 Extreme Widescreen</option>
  </select> Desired Aspect Ratio
</label>
  <select
    data-bind="value=_component_.containerHeight"
  >
    <option value="800px">Tall</option>
    <option value="400px">Normal</option>
    <option value="200px" selected>Wide</option>
  </select> Container Shape
</label>
<label class="mondrian-label">
  <input
    type="checkbox"
    data-bind="checked=_component_.focusEnabled"
    data-event="change:_component_.changeFocusEnabled"
  >
  Focus Enabled (click to toggle focus on elements)
</label>
<label class="mondrian-label">
  <input type="checkbox" data-bind="checked=_component_.letterboxEnabled">
  Letterbox Enabled
</label>
<label class="mondrian-label" data-bind="show_if=_component_.letterboxEnabled">
  <input type="range" min="1" max="2" step="0.05" data-bind="value=_component_.letterbox"
  >
  (<span data-bind="fixed(2)=_component_.letterbox"></span>) Letterbox Threshold
</label>
<script>
/* jshint latedef:false */
/* global find, findOne, register, b8r, on, get */
  const mondrian = await import('../lib/mondrian.js');
  const resize = await import('../lib/resize.js');
  const visible = () => find('.mondrian > *').filter(div => !div.matches('.hidden'));
  const hidden = () => find('.mondrian > .hidden');
  const randomChanges = findOne('.randomChanges');
  const canvas = findOne('canvas');
  on('change,update,resize', '_component_.update');
  /* test canvas */
  const g = canvas.getContext('2d');
  g.fillStyle = 'red';
  g.fillRect(0,0,64,64);
  g.fillStyle = 'green';
  g.fillRect(64,0,64,64);
  g.fillStyle = 'blue';
  g.fillRect(0,64,64,64);
  g.fillStyle = 'yellow';
  g.fillRect(64,64,64,64);
  const update = () => requestAnimationFrame(() => {
    mondrian.arrangeWithFocus(
      visible(),
      {
        aspectRatio: get('desiredAspectRatio'),
        letterbox: get('letterboxEnabled') && get('letterbox')
      }
    );
  });
  const container = findOne('.mondrian');
  resize.relayTo(container);
  function pickRandom(arr) {
    return arr[Math.floor(Math.random() * arr.length)];
  }
  function randomBehavior () {
    if(randomChanges.checked) {
      if(hidden().length === 0) {
        hideRandom();
      } else if (visible().length === 0) {
        showRandom();
      } else {
        switch (Math.floor(Math.random() * 4)) {
          case 0:
            hideRandom();
            break;
          case 1:
            showRandom();
            break;
          case 3:
            pickRandom(visible()).click();
            break;
        }
      }
    }
  }
  const {domInterval} = await import('../lib/dom-timers.js');
  domInterval(container, randomBehavior, 2000);
  function hideRandom () {
    const elt = pickRandom(visible());
    if (elt) {
      elt.classList.add('hidden');
      b8r.trigger('change', container);
    }
  }
  function showRandom () {
    const elt = pickRandom(hidden());
    if (elt) {
      elt.classList.remove('hidden');
      b8r.trigger('change', container);
    }
  }
  register ({
    hideRandom,
    showRandom,
    update,
    containerHeight: '400px',
    desiredAspectRatio: 1,
    focusEnabled: true,
    letterboxEnabled: true,
    letterbox: 1.25,
    changeFocusEnabled: () => {
      if (! get('focusEnabled')) {
        find('.mondrian-focus').forEach(elt => elt.classList.remove('mondrian-focus'));
        update();
      }
    },
    focus: evt => {
      if (! get('focusEnabled')) {
        return;
      }
      const target = evt.target.closest('.mondrian > *');
      if (target && target.classList.contains('mondrian-focus')) {
        target.classList.remove('mondrian-focus');
      } else {
        find('.mondrian-focus').forEach(elt => elt.classList.remove('mondrian-focus'));
        if (target) target.classList.add('mondrian-focus');
      }
      update();
    }
  });
  update();
</script>
