<style>
  .netflix-component {
    width: 1920px;
    height: 1080px;
    max-width: 100%;
  }

  .netflix-component > webview {
    width: 100%;
    height: 100%;
  }
</style>
<p>This component is experimental and under development and requires nwjs.</p>
<webview
  partition="persist:netflix"
  src="https://www.netflix.com/watch/70058031?trackId=141…02198%2C8b989470-c6d8-46b9-a0aa-634beb70b58d_ROOT"
>
</webview>
<script>
  /* global findOne */

  if (window.nw) findOne('.netflix-component > p').remove();

  const webview = findOne('webview');
  webview.addEventListener('contentload', () => {
    webview.addEventListener('consolemessage', evt => {
      console.log(evt);
    });
    webview.showDevTools(true);
    webview.executeScript({code: `
      setTimeout(() => {
        var script = document.createElement('script');
        script.textContent = \`
let netflix_player = false;

{
  const videoPlayer = netflix.
                    appContext.
                    state.
                    playerApp.
                    getAPI().
                    videoPlayer;

  const playerSessionId = videoPlayer.getAllPlayerSessionIds()[0];
  netflix_player = videoPlayer.getVideoPlayerBySessionId(playerSessionId);
}

setInterval(() => {
  const currentTime = netflix_player.getCurrentTime();
  const playing = ! netflix_player.getPaused();
  const duration = netflix_player.getDuration();
  console.log(JSON.stringify({type: 'netflix', currentTime, playing, duration}));
}, 500);

window.addEventListener('message', evt => {
  const {currentTime, playing} = evt.data;
  if (currentTime !== undefined) {
    netflix_player.seek(currentTime);
  }
  if (playing !== undefined) {
    if (playing) {
      netflix_player.play();
    } else {
      netflix_player.pause();
    }
  }
});
        \`;
        document.body.appendChild(script);
        console.log('"injected"');
      }, 1000)
    `});
  });
</script>
