<!--
# Offline Component

A simple component for indicating your application is offline.

Ideally it should be loaded as a singleton (e.g. using componentOnce).
-->
<style>
.offline {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  color: var(--text-color);
  background: var(--content-bg-color);
}
</style>
<div class="offline" data-children>
  <div class="centered b8r-color">
    <span class="icon-wifi-off" style="font-size: 128px;"></span><br>
    <span style="font-size: 36px; margin-top: 10px;">offline</span>
  </div>
</div>
<script>
/* global b8r, component */
'use strict'

const offline = () => {
  document.body.appendChild(component)
  b8r.show(component)
}

const online = () => b8r.hide(component)

if (navigator.onLine) {
  online()
} else {
  offline()
}

window.addEventListener('offline', offline)
window.addEventListener('online', online)
</script>
