<!--
# three.js particle system
-->
<style>
  .particles-component > .spawn-area {
    width: 100%;
    height: 400px;
    background: #ddd;
    padding: 20px;
    text-align: center;
    position: relative;
  }

  canvas.particle-controller {
    z-index: 3;
  }
</style>
<div class="spawn-area" data-event="mousedown,mousemove,touchstart,touchmove:_component_.spawn">
  <span
    style="position: absolute; bottom: 5px; right: 5px;"
    data-bind="text=${particle-controller.count} particles"
  ></span>
</div>
<div>
  <h3>Click on the rectangle to spawn a particle effect</h3>
  <label>Spawn on mouse move <input type="checkbox" data-bind="checked=_component_.spawn_on_move"></label>
  <label>How many? <input data-bind="value=_component_.particle_count" type="range" min="1" max="50" value="25"></label>
  <label>Size? <input data-bind="value=_component_.particle_size" type="range" min="1" max="256" value="48"></label>
  <div
    data-component="tab-selector"
    data-bind="value=_component_.mode"
  >
    <div name="random emoji">
      <label>One of these 😀 💜 👍 💩 🍆</label>
    </div>
    <div name="characters">
      <label>Character(s) to spawn <input data-bind="value=_component_.chars"></label>
    </div>
    <div name="canvas">
      <canvas width="64" height="64"></canvas>
    </div>
  </div>
</div>
<script>
/* global b8r, get, set, findOne */

  const {randomCssColor} = await import('../lib/color.js');
  const {particleController} = await import('../lib/particle-controller.js');

  b8r.component('tab-selector');

  const canvas = findOne('canvas');
  const g = canvas.getContext('2d');

  setInterval(() => {
    g.clearRect(0,0,64,64);
    for(let i = 0; i < 10; i++) {
      const x = Math.random() * 32 + 16;
      const y = Math.random() * 32 + 16;
      const w = Math.random() * 16;
      const h = Math.random() * 16;
      g.fillStyle = randomCssColor();
      if (Math.random() < 0.5) {
        g.fillRect(x - w, y - h, w * 2, h * 2);
      } else {
        g.beginPath();
        g.ellipse(x, y, w, h, 0, 0, Math.PI * 2);
        g.closePath();
        g.fill();
      }
    }
  }, 250);


  set({
    particle_count: 25,
    particle_size: 48,
    mode: 0,
    chars: '☁️,🌧,🌦,🌤,☀️',
    spawn: evt => {
      if (!get('spawn_on_move') && !evt.type.match(/mousedown|touchstart/)) {
        return;
      }
      const x = evt.clientX, y = evt.clientY;
      switch(get('mode')) {
        case 0:
          const emoji = ['😀', '💜', '👍', '💩', '🍆'][Math.floor(Math.random() * 5)];
          particleController.spawnAt(x, y, emoji, get('particle_count'), get('particle_size'));
          break;
        case 1:
          particleController.spawnAt(x, y, get('chars').split(','), get('particle_count'), get('particle_size'));
          break;
        case 2:
          particleController.spawnAt(x, y, [canvas], get('particle_count'), get('particle_size'));
          break;
      }
    },
  });
</script>
