<!--
# Path Browser
A tool for browsing objects.
-->
<style>
  .path-browser-component ul {
    margin: 0;
    padding: 0;
  }
  .path-browser-component li {
    list-style: none;
    cursor: pointer;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .path-browser-component li:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
  }
</style>
<select data-bind="value=_component_.value">
  <option data-list="_component_.history" data-bind="text=.path"></option>
</select>
<!--
<input data-bind="value=_component_.value">
-->
<ul>
  <li
    data-list="_component_.description(_component_.list,_component_.value):id"
    data-event="click:_component_.drill"
    data-bind="attr(path)=.path"
  >
    <b data-bind="text=.key"></b>
    <span data-bind="text=.val"></span>
  </li>
</ul>
<script>
/* global component, b8r, get, set, data, touch */
  const {uuid} = await import('../source/uuid.js');
  const {describe} = await import('../source/describe.js');
  const reset = path => {
    set({
      value: path,
      history: [], // {path}
      list: [],
    });
  };
  reset();
  if (component.matches('.example') && !data.value) {
    b8r.register('object-browser-test', {
      foo: 17,
      bar: 'hello world',
      baz: {
        lurman: false,
      },
      list: [{x: 0, y: 0}, {x: 1, y: 2}],
      complex: {a: 0, b: 1, c: 2, d: 3, e: 4},
      complex_list: [
        {a: 0, b: 1, c: 2, d: 3, e: 4},
        {a: 0, b: 1, c: 2, d: 3, e: 4},
        {a: 0, b: 1, c: 2, d: 3, e: 4}
      ],
      empty_list: [],
      null_value: null,
      nan_value: NaN,
      func_value: (a, b, c, d) => a + b + c + d,
    });
    set({value: 'object-browser-test'});
  }
  set({
    reset,
    description: (list, path) => {
      list.splice(0);
      if (!path) { // jshint ignore:line
        return [];
      }
      const obj = b8r.get(path);
      if (! get('history').find(item => item.path === path)) {
        get('history').push({path});
        touch('history');
      }
      if (obj == null) { // jshint ignore:line
        return [];
      }
      if (Array.isArray(obj)) {
        for (let i = 0; i < obj.length; i++) {
          list.push({id: uuid(), key: `[${i}]`, val: describe(obj[i]), path: `${path}[${i}]`});
        }
      } else if (obj && typeof obj === 'object') {
        for(let i = 0, keys = Object.keys(obj); i < keys.length; i++) {
          const key = keys[i];
          list.push({id: uuid(), key, val: describe(obj[key]), path: path && path !== '/' ? `${path}.${key}` : key});
        }
      } else {
        list.push({id: uuid(), key: typeof obj, val: describe(obj)});
      }
      return list;
    },
    drill: evt => {
      const obj = b8r.getListInstance(evt.target);
      if (obj.path) set('value', obj.path);
    }
  });
</script>
