<!--
# photo-tabs
Copyright ©2016-2017 Tonio Loewald
photos components composed with the tabs component
-->
<style>
  .photo-tabs .tab-selector-bodies {
    min-height: 400px;
  }
</style>
<div class="photo-tabs" data-component="tab-selector" style="text-align: center;">
  <div name="Cats" data-component="photos" tags="cat"></div>
  <div name="Puppies" data-component="photos" tags="puppy"></div>
  <div name="Flowers" data-component="photos" tags="flower"></div>
  <div name="Mountains" data-component="photos" tags="mountain"></div>
  <div name="Sunsets" data-component="photos" tags="sunset"></div>
  <div name="Cars" data-component="photos" tags="car"></div>
  <div name="Macro" data-component="photos" tags="macro"></div>
  <div name="Street" data-component="photos" tags="street"></div>
  <div name="Architecture" data-component="photos" tags="architecture"></div>
  <div name="Polar Bears" data-component="photos" tags="polar bear"></div>
</div>
<script>
  /* global b8r */
  b8r.component('tab-selector')
b8r.component('photos')
</script>
