<!--
# photos
Copyright ©2016-2022 Tonio Loewald
Display a bunch of photos from flickr. Photos are picked based on tags passed via the
component's "tags" attribute.
-->
<style>
  .flickr-image {
    box-sizing: border-box;
    padding: 1%;
    box-shadow: 0.5px 1.5px 6px 0 rgba(0,0,0,0.5);
    margin: 1%;
    min-width: 31%;
    max-width: 31%;
    vertical-align: middle;
  }
</style>
<img data-list="_component_.photos.items" data-bind="img=.media.m;attr(label)=.title">
<script>
  /* global findOne, component, set */
  findOne('img').classList.add(component.getAttribute('img-class') || 'flickr-image')
  var feed_url = 'https://api.flickr.com/services/feeds/photos_public.gne?format=json'
  if (component.getAttribute('tags')) {
    feed_url += '&tags=fave,' + escape(component.getAttribute('tags'))
  } else {
    feed_url += '&tags=fave,airshow'
  }
  b8r.jsonp(feed_url, 'jsoncallback').then(photos => set({photos}))
</script>
