<style>
	.flickr-image {
		box-sizing: border-box;
		padding: 1%;
		box-shadow: 0.5px 1.5px 6px 0 rgba(0,0,0,0.5);
		margin: 1%;
		min-width: 31%;
		max-width: 31%;
		vertical-align: middle;
	}

	.fade-in-when-loaded {
		opacity: 0;
		transition: 0.5s ease-out;
	}

	.fade-in-when-loaded.loaded {
		opacity: 1;
	}
</style>
<img class="fade-in-when-loaded" data-list=".items" data-bind="method(images.src_fadein)=.media.m;attr(label)=.title">
<script>
	var jsonp = 'jsonp' + Math.floor(Math.random() * 100000);

	findOne('img').classList.add(component.getAttribute('img-class') || 'flickr-image');

	function getFlickrData(url, callback) {
	    window[jsonp] = function(data) {
	        delete window[jsonp];
	        callback(data);
	        document.body.removeChild(script);
	    };

	    var script = document.createElement('script');
	    script.src = url;
	    document.body.appendChild(script);
	}

	b8r.register('images', {
		src_fadein: (element, value, data) => {
			const image = new Image();
			image.src = value;
			element.setAttribute('src', value);
			image.onload = () => element.classList.add('loaded');
		},
	});

	var feed_url = 'https://api.flickr.com/services/feeds/photos_public.gne?format=json&jsoncallback=' + jsonp;
	if (component.getAttribute('tags')) {
		feed_url += '&tags=fave,' + escape(component.getAttribute('tags'));
	} else {
		feed_url += '&tags=fave,airshow';
	}

	getFlickrData(feed_url, data => b8r.bindAll(component, data) );
</script>