<div data-component="tab-selector">
	<div name="Cats" data-component="photos" tags="cat"></div>
	<div name="Flowers" data-component="photos" tags="flower"></div>
	<div name="Mountains" data-component="photos" tags="mountain"></div>
	<div name="Sunsets" data-component="photos" tags="sunset"></div>
	<div name="Cars" data-component="photos" tags="car"></div>
	<div name="Macro" data-component="photos" tags="macro"></div>
	<div name="Underwater" data-component="photos" tags="underwater"></div>
</div>
<script>
	BOM.component('tab-selector', 'components/tab-selector');
	BOM.component('photos', 'components/photos');
</script>