<!--
# photos
Copyright ©2016-2017 Tonio Loewald

Display a bunch of photos from flickr. Photos are picked based on tags passed via the
component's "tags" attribute.
-->
<style>
	.flickr-image {
		box-sizing: border-box;
		padding: 1%;
		box-shadow: 0.5px 1.5px 6px 0 rgba(0,0,0,0.5);
		margin: 1%;
		min-width: 31%;
		max-width: 31%;
		vertical-align: middle;
	}
</style>
<img data-list="_component_.photos.items" data-bind="img=.media.m;attr(label)=.title">
<script>
	var jsonp = 'jsonp' + Math.floor(Math.random() * 100000);
	findOne('img').classList.add(component.getAttribute('img-class') || 'flickr-image');

	function getFlickrData(url, callback) {
	    window[jsonp] = function(data) {
	        delete window[jsonp];
	        callback(data);
	        document.body.removeChild(script);
	    };

	    var script = document.createElement('script');
	    script.src = url;
	    document.body.appendChild(script);
	}

	var feed_url = 'https://api.flickr.com/services/feeds/photos_public.gne?format=json&jsoncallback=' + jsonp;
	if (component.getAttribute('tags')) {
		feed_url += '&tags=fave,' + escape(component.getAttribute('tags'));
	} else {
		feed_url += '&tags=fave,airshow';
	}

	getFlickrData(feed_url, photos => set({photos}) );
</script>