<style>
	.photo-tabs > div {
		min-height: 400px;
		transition: 0.5s;
	}
</style>
<div class="photo-tabs" data-component="tab-selector" style="text-align: center;">
	<div name="Cats" data-component="photos" tags="cat"></div>
	<div name="Flowers" data-component="photos" tags="flower"></div>
	<div name="Mountains" data-component="photos" tags="mountain"></div>
	<div name="Sunsets" data-component="photos" tags="sunset"></div>
	<div name="Cars" data-component="photos" tags="car"></div>
	<div name="Macro" data-component="photos" tags="macro"></div>
	<div name="Street" data-component="photos" tags="street"></div>
</div>
<script>
	b8r.component('tab-selector', 'components/tab-selector');
	b8r.component('photos', 'components/photos');
</script>