<!--
# Podcasts
This is a Podcast application implemented using the iTunes
[media search API](https://affiliate.itunes.apple.com/resources/documentation/itunes-store-web-service-search-api/)
and a simple reflection service for consuming RSS feeds.
<a target="_blank" href="#body=components/podcasts">View Standalone</a>
-->
<style>
  ._component_ {
    position: relative;
    overflow: hidden;
    display: flex;
    font-size: 14px;
  }

  /* faux phone frame */
  .example._component_ {
    /* iPhone 11 Pro is 1124 x 2436 @458ppi, corner radius ~40px */
    border-radius: 40px;
    width: 375px;
    height: 812px;
    overflow: hidden;
    box-shadow: 0 0 0 10px #111,
    -0.5px -1px 1px 10px #eee,
    0.5px 1px 1px 10px #888,
    0 2px 20px 20px var(--shadow-50);
    margin: 40px;

    /* fools Safari into less bug rendering path; stops svg clipping error on push-scroll */
    transform: translateX(0px);
  }

  .example._component_:after {
    background: url(test/iphone-11-pro.svg);
    content: ' ';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
  }

  /* standalone */
  body > ._component_ {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  ._component_ a {
    cursor: default;
    display: inline-block;
    border: 0;
    padding: 2px 10px;
    border-radius: 99px;
    background: var(--black-5);
  }

  ._component_ a:hover {
    background: var(--black-10);
  }

  ._component_ a:active {
    background: var(--black-20);
  }

  ._component_ h4 {
    color: var(--text-color);
  }

  ._component_ .nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .podcasts h4 {
    text-align: center;
  }

  ._component_ > * {
    position: relative;
    padding: 30px 10px;
    overflow-x: hidden;
    overflow-y: overlay;
    flex: 0 0 100%;
    transition: var(--hover-transition);
  }

  ._component_[data-panel=podcast] > * {
    transform: translateX(-100%);
  }

  ._component_[data-panel=episode] > * {
    transform: translateX(-200%);
  }

  ._component_ .search {
    width: 100%;
    border-radius: 99px;
    padding: 5px 15px;
    margin-bottom: 10px;
  }

  ._component_ .close {
    cursor: default;
    color: var(--dark-accent-color);
    cursor: default;
    font-size: 16px;
    opacity: 0.75;
    padding: 5px 5px 5px 0;
  }

  ._component_ .podcasts > .podcast-summary-component:hover {
    background: var(--black-5);
  }

  ._component_ .podcasts > .podcast-summary-component:active {
    background: var(--black-10);
  }

  ._component_ .close:hover {
    opacity: 1;
  }
</style>
<div
  class="podcasts"
>
  <h4 class="nowrap">Podcasts</h4>
  <input
    class="search"
    placeholder="enter search terms"
    data-bind="value=_component_.searchTerms"
    data-event="change:_component_.doSearch"
  >
  <b8r-component
    name="podcast-summary"
    data-list="_component_.podcasts:collectionId"
    data-event="click:_component_.selectPodcast"
  ></b8r-component>
</div>
<b8r-component
  class="podcast"
  data-list="_component_.filterPodcasts(_component_.podcasts,_component_.selectedPodcast):collectionId"
  name="podcast-detail"
></b8r-component>
<b8r-component
  data-bind="value=_component_.selectedEpisode"
  name="podcast-episode"
></b8r-component>
<script>
  ['canplaythrough', 'loadstart', 'timeupdate'].forEach(b8r.implicitlyHandleEventsOfType);
  b8r.makeComponent('podcast-summary', {
    css: `
      ._component_ {
        cursor: default;
        display: flex;
        height: 100px;
        width: 100%;
        overflow: hidden;
      }
      ._component_ > img {
        flex: 0 0 100px;
        margin-right: 10px;
        height: 100px;
      }
      ._component_ > div {
        flex: 1 1 auto;
        position: relative;
      }
      ._component_ .title {
        margin-top: 5px;
        font-size: 18px;
      }
      ._component_ .artist {
        margin-top: 5px;
        font-size: 14px;
      }
      ._component_ .tags {
        font-size: 12px;
        margin-top: 20px;
        padding-bottom: 5px;
        white-space: nowrap;
        overflow-x: overlay;
        overflow-y: hidden;
      }
      ._component_ .tag {
        display: inline-block;
        background: var(--light-accent-color);
        color: var(--text-color);
        padding: 2px 10px;
        margin: 2px;
        border-radius: 99px;
      }`,
    html: `
      <img data-bind="img=.artworkUrl100">
      <div>
        <div class="title nowrap" data-bind="text=.collectionName"></div>
        <div class="artist nowrap">
          <a
            data-bind="text=.artistName"
            data-event="click:_component_.visitSite"
          ></a>
        </div>
        <div class="tags">
          <span class="tag" data-list=".genres" data-bind="text=." data-event="click:_component_.tagSearch"></span>
        </div>
      </div>`,
    load({set}) {
      set({
        visitSite(evt, elt) {
          const {collectionViewUrl} = b8r.getListInstance(elt);
          /* global open */
          open(collectionViewUrl, '_blank');
        }
      })
    }
  })
  b8r.makeComponent('podcast-detail', {
    css: `
      ._component_ > p {
        margin: 5px;
      }
      ._component_ .description {
        line-height: 1.4;
      }
      ._component_ .episode-title {
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      ._component_ .panel {
        margin: 10px 0;
      }
      ._component_ button {
        border: 0;
        background: var(--black-5);
        color: var(--dark-accent-color);
      }
      :disabled {
        opacity: 0.2;
        pointer-events: none;
      }
      ._component_ button {
        border: 0;
        opacity: 0.8;
      }
      ._component_ .on {
        background: var(--accent-color);
        color: var(--text-color);
      }
      ._component_ button:hover {
        opacity: 0.9;
      }
      ._component_ button:active {
        opacity: 1.0;
      }
      ._component_ .podcast-episode-summary-component:hover {
        background: var(--black-5);
      }
      ._component_ .podcast-episode-summary-component:active {
        background: var(--black-10);
      }
      ._component_ .loading-component {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0.5) ;
      }
      ._component_ .description {
        font-size: 16px;
      }`,
    html: `
      <h4 class="nowrap">
        <span class="close icon-arrow-left" data-event="click:_component_.showPanel" data-panel="library"></span>
        <span data-bind="text=.collectionName"></span>
      </h4>
      <b8r-component name="podcast-summary"></b8r-component>
      <div class="panel">
        <button
          data-event="click:_component_.toggleSubscribe"
          data-bind="class(on)=.subscribed"
        >
          <span data-bind="hide_if=.subscribed">Subscribe</span>
          <span data-bind="show_if=.subscribed">Subscribed</span>
        </button>
      </div>
      <b8r-component data-bind="hide_if=.feed" path="components/loading"></b8r-component>
      <p class="description" data-bind="text=.feed.description"></p>
      <b8r-component
        name="podcast-episode-summary"
        class="item"
        data-list=".feed.item:_auto_"
        data-event="click:_component_.selectEpisode"
      ></b8r-component>`,
  })
  b8r.makeComponent('podcast-episode-summary', {
    css: `
      ._component_ {
        cursor: default;
        padding: 5px 5px 10px;
        display: block;
      }
      ._component_ label {
        color: var(--dark-accent-color);
      }
      ._component_ label > * {
        color: var(--text-color);
      }
      ._component_ .episode-title {
        font-size: 16px;
        margin: 5px 0;
      }
      ._component_ .pubDate,
      ._component_ .duration {
        font-size: 11px;
      }
    `,
    html: `
      <div class="episode-title" data-bind="text=.title"></div>
      <div class="info">
        <label>
          Date
          <span class="pubDate" data-bind="text=.pubDate"></span>
        </label>
        <label>
          Duration
          <span class="duration" data-bind="text=.itunes_duration"></span>
        </label>
      </div>`,
  })
  b8r.makeComponent('podcast-episode', {
    css: `
      ._component_ {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        color: (--text-color);
      }
      ._component_ img {
        max-width: 100%;
      }
      ._component_ .description {
        line-height: 1.4;
      }
      ._component_ .flexfixed {
        flex: 0 0 auto;
      }
      ._component_ .flexible {
        flex: 1 1 auto;
        margin: 0 -10px;
        padding: 0 10px;
        overflow: overlay;
      }
      ._component_ [title=position] {
        flex: 0 1 200px;
      }
      ._component_ [title="playback rate"] {
        flex: 0 1 100px;
      }
      ._component_ .panel {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      ._component_ button {
        text-align: center;
        border-radius: 999px;
        width: 60px;
        height: 60px;
        font-size: 24px;
        transition: var(--hover-transition);
      }
      ._component_ .large-button {
        width: 80px;
        height: 80px;
        font-size: 40px;
      }
      ._component_ .player {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      ._component_ .flexfixed {
        flex: 0 0 auto;
      }
      ._component_ .flexible {
        flex: 1 1 auto;
        overflow: overlay;
      }`,
    html: `
      <div class="flexfixed">
        <h4 class="nowrap">
          <span class="close icon-arrow-left" data-event="click:_component_.showPanel" data-panel="podcast"></span>
          <span data-bind="text=_component_.value.item.title"></span>
        </h4>
      </div>
      <div class="flexible">
        <img data-bind="img=_component_.value.podcast.artworkUrl600">
        <h4 data-bind="text=_component_.value.item.title"></h3>
        <div>
          <a
            target="_blank"
            data-bind="
              attr(href)=_component_.value.podcast.collectionViewUrl
              text=_component_.value.podcast.artistName
            "
          ></a>
        </div>
        <p class="description" data-bind="text=_component_.value.item.description"></p>
      </div>
      <div style="margin: 10px 0" class="controls flexfixed">
        <div class="panel">
          <button
            class="icon-backward"
            data-offset="-30"
            data-bind="enabled_if=_component_.canplay"
            data-event="click:_component_.offsetPosition"
          ></button>
          <button
            class="large-button"
            data-bind="
              enabled_if=_component_.canplay
              class(icon-play|icon-pause)=_component_.value.paused
            "
            data-event="click:_component_.play"
          ></button>
          <button
            class="icon-forward"
            data-offset="30"
            data-bind="enabled_if=_component_.canplay"
            data-event="click:_component_.offsetPosition"
          ></button>
        </div>
        <div class="panel">
          <input
            title="position"
            type="range"
            min="0"
            max="100"
            data-bind="
              enabled_if=_component_.canplay
              attr(max)=_component_.value.duration
              value=_component_.value.position
            "
            data-event="
              input:_component_.pause
              change:_component_.setPosition
            "
          >
          <input
            title="playback rate"
            type="range"
            min="0.5"
            max="2"
            step="0.1"
            data-bind="
              enabled_if=_component_.canplay
              value=_component_.playbackRate
            "
          >
        </div>
        <audio
          class="hidden"
          data-bind="
            attr(src)=_component_.value.item.enclosure
            prop(playbackRate)=_component_.playbackRate
          "
          data-event="
            loadstart:_component_.audioLoading
            canplaythrough:_component_.audioCanplay
            timeupdate:_component_.timeUpdate
          "
        ></audio>
      </div>`,
      load({set}) {
        set({
          canplay: false,
          audioLoading() {
            set('canplay', false)
          },
          audioCanplay() {
            set('canplay', true)
          }
        })
      }
  })
  const childByTagName = (elt, tag) => [...elt.children].find(child => child.tagName === tag)
  const childrenByTagname = (elt, tag) => [...elt.children].filter(child => child.tagName === tag)
  const xmlToJson = (doc, spec) => {
    if (! doc) return null
    const obj = {}
    b8r.forEachKey(spec, (val, key) => {
      const prop = key.split(',')[0].replace(/:/g, '_')
      const tagName = key.split(',').find(k => childByTagName(doc, k))
      if (! key) return null
      if (! prop) return null;
      if (Array.isArray(val)) {
        obj[prop] = childrenByTagname(doc, tagName).map(child => xmlToJson(child, val[0]))
      } else if (typeof val === 'function') {
        const child = childByTagName(doc, tagName)
        obj[prop] = child ? val(child) : null
      } else if (typeof val === 'string') {
        obj[prop] = (childByTagName(doc, tagName) || {}).textContent
      } else if (typeof val === 'object') {
        obj[prop] = xmlToJson(childByTagName(doc, tagName), val)
      }
    })
    return obj
  }
  const showPanel = (whichPanel, element) => {
    // allow for list computation to finish
    requestAnimationFrame(() => {
      component.dataset.panel = typeof whichPanel === 'string' ? whichPanel : element.dataset.panel
    })
  }
  const cleanseText = elt => elt.textContent.replace(/<.+?>/g, '')
  const rssSpec = {
    title: 'text',
    'description,itunes:summary': cleanseText,
    image: {
      url: 'url',
      title: 'title'
    },
    item: [
      {
        title: 'text',
        description: 'text',
        'media:content': 'url',
        link: 'url',
        'itunes:subtitle': 'text',
        'description,itunes:summary': cleanseText,
        'itunes:duration': elt => {
          if (elt.textContent.includes(':')) {
            return elt.textContent.replace(/^[0:]+/g, '')
          }
          const date = new Date(null)
          date.setSeconds(parseInt(elt.textContent, 10))
          return date.toISOString().substr(11, 8).replace(/^[0:]+/g, '')
        },
        enclosure: elt => elt.getAttribute('url'),
        pubDate: elt => (new Date(elt.textContent)).toLocaleDateString(),
      }
    ],
  }
  const selectPodcast = async (evt, elt) => {
    const {collectionId, feedUrl} = b8r.getListInstance(elt)
    set('selectedPodcast', collectionId)
    showPanel('podcast')
    const feed = await b8r.xml(`https://bindinator.com/services/?rss=${feedUrl}`)
    set(`podcasts[collectionId=${collectionId}]`, {feed: xmlToJson(feed.querySelector('rss > channel'), rssSpec)})
    // update bug in b8r
    // efficient list updates prevent the list instance from being automatically updated by a late change
    b8r.find('.podcast-detail-component').forEach(b8r.bindAll)
  }
  const selectEpisode = (evt, elt) => {
    const collectionId = get('selectedPodcast')
    const podcast = get(`podcasts[collectionId=${collectionId}]`)
    const item = b8r.getListInstance(elt)
    set('selectedEpisode', { podcast, item, paused: true, position: 0 })
    showPanel('episode')
  }
  const timeUpdate = (evt, audio) => {
    if (audio.duration > 0) {
      set('selectedEpisode', {
        duration: audio.duration,
        position: audio.currentTime,
        paused: audio.paused,
      })
    }
  }
  const doSearch = async (searchTerms = '') => {
    if (typeof searchTerms === 'string') {
      set({searchTerms})
    } else {
      searchTerms = get('searchTerms')
    }
    const terms = searchTerms.replace(/\s+/g, '+')
    const data = await b8r.jsonp(`https://itunes.apple.com/search?term=${terms}&media=podcast&limit=20`)
    podcasts = data.results.map(p => ({
      ...p,
      genres: p.genres.filter(g => g.toLocaleLowerCase() !== 'podcasts')
    }))
    set({podcasts})
  }
  const setPosition = (position) => {
    const audio = findOne('audio')
    audio.currentTime = typeof position === 'number' ? position : parseFloat(get('selectedEpisode.position'))
    audio.play()
  }
  const setRate = (event, input) => {
    const rate = parseFloat(input.value)
    findOne('audio').playbackRate = !isNaN(rate) ? rate : parseFloat(get('playbackRate'))
  }
  set({
    playbackRate: 1,
    searchTerms: '',
    podcasts: [],
    doSearch,
    selectPodcast,
    showPanel,
    selectedPodcast: null,
    filterPodcasts (podcasts, collectionId) {
      return podcasts.filter(p => p.collectionId === collectionId)
    },
    selectEpisode,
    selectedEpisode: null,
    play() {
      const audio = findOne('audio')
      if(audio.paused) {
        audio.play()
      } else {
        audio.pause()
      }
    },
    pause () {
      findOne('audio').pause()
    },
    timeUpdate,
    setPosition,
    offsetPosition(evt, elt) {
      const offset = parseFloat(elt.dataset.offset)
      setPosition(get('selectedEpisode.position') + offset)
    },
    tagSearch (evt, elt) {
      doSearch(elt.textContent)
      showPanel('library')
    },
    setRate,
    toggleSubscribe (evt, elt) {
      b8r.setListInstance(elt, instance => ({
        ...instance,
        subscribed: !instance.subscribed
      }))
    }
  })
  doSearch('NPR')
</script>