<!--
# Radioset
Copyright ©2016-2017 Tonio Loewald

Radio buttons are a serious pain in the ass to deal with in HTML.
This component attempts to deal with the annoyances for you.
-->
<style>
  .radioset {
    display: block;
  }
</style>
<label class="radioset" data-list="_component_.options">
  <input
    type="radio"
    data-bind="
      attr(name)=_component_.name;
      attr(value)=.value;
      value=_component_.value;
    "
  >
  <span class="focus-follower">&nbsp;</span>
  <span data-bind="text=.text"></span>
</label>
<script>
/* global data, find, get, set, on */
'use strict'
const example = {
  value: '2',
  options: [
    { text: 'first', value: 1 },
    { text: 'second', value: 2 },
    { text: 'third', value: 3 }
  ]
}
if (!data.name) {
  data.name = 'test'
}

const update = () => {
  find('input').forEach(radio => {
    if (radio.getAttribute('value') == get('value')) {
      radio.checked = true
    }
  })
}

set({ update })

on('change', '_component_.update')

if (!data.options) {
  Object.assign(data, example)
}
</script>
