<!--
# Radioset
Copyright ©2016-2017 Tonio Loewald

Radio buttons are a serious pain in the ass to deal with in HTML.
This component attempts to deal with the annoyances for you.
-->
<style>
  .radioset {
    display: block;
  }

  .radioset > input {
    position: absolute;
    left: -10000px;
  }

  .radioset > input+span {
    display: inline-block;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    border-radius: 2px;
    background-color: #eee;
    border: 1px solid rgba(0,0,0,0.25);
  }

  .radioset > input:checked+span:after {
    content: " ";
    display: block;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background-color: #444;
    border-radius: 2px;
  }
</style>
<label class="radioset" data-list="_component_.options">
  <input
    type="radio"
    data-bind="
      attr(name)=_component_.name;
      attr(value)=.value;
      value=_component_.value;
    "
  >
  <span class="focus-follower">&nbsp;</span>
  <span data-bind="text=.text"></span>
</label>
<script>
/* global data, find, get, set, on */
'use strict'
const example = {
  value: '2',
  options: [
    { text: 'first', value: 1 },
    { text: 'second', value: 2 },
    { text: 'third', value: 3 }
  ]
}
if (!data.name) {
  data.name = 'test'
}

const update = () => {
  find('input').forEach(radio => {
    if (radio.getAttribute('value') == get('value')) {
      radio.checked = true
    }
  })
}

set({ update })

on('change', '_component_.update')

if (!data.options) {
  Object.assign(data, example)
}
</script>
