<!--
# RAW Viewer

Sorry, this demo is macOS and electron only.

1. It finds all the `NEF`, `CR2`, and `DNG` files using spotlight `mdfind`
2. It extracts all EXIF metadata using `mdls`
3. It generates previews in `/tmp/` using `sips`
4. It shows you the previews using `biggrid`

The previews are generated asynchronously up to three at a time. (I picked three
because chances are you have at least four virtual cores, but it looks like sips
parallelizes anyway — a little experimentation seems to indicate that doing more than
one file at a time has some benefit.)

Previews are generated in random order, but priority is given to previews for
grid cells that are currently in view.
-->
<style>
  .raw-viewer-component {
    display: flex;
  }

  .example.raw-viewer-component {
    height: 480px;
  }

  .raw-viewer-scroller {
    flex: 1 1 auto;
    line-height: 0;
    overflow-y: scroll;
    overflow-y: overlay;
    text-align: center;
    padding: 8px;
  }

  .raw-viewer-scroller.one-column {
    flex: 0 0 160px;
  }

  .raw-viewer-tile {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 128px;
    height: 128px;
    overflow: hidden;
    position: relative;
    background: #ddd;
    box-shadow: 0 2px 4px rgba(255,255,255,0.5);
    margin: 8px;
  }

  .raw-viewer-tile > span {
    position: absolute;
    display: block;
    color: white;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    opacity: 0.5;
    transition: 0.1s ease-out;
  }

  .raw-viewer-tile:hover > span,
  .raw-viewer-tile:focus > span {
    opacity: 1;
  }

  .raw-viewer-tile:focus {
    box-shadow: none;
    outline: none;
  }

  .raw-viewer-component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .raw-viewer-component img[data-orientation="1"] {
    transform: rotateZ(-90deg);
  }

  .raw-viewer-detail {
    flex: 1 1 auto;
    position: relative;
  }

  .raw-viewer-detail .icon-cross2 {
    position: absolute;
    color: white;
    font-size: 24px;
    line-height: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    top: 10px;
    right: 10px;
    cursor: default;
    background: rgba(0,0,0,0.5);
    border-radius: 2px;
    opacity: 0.5;
    transition: 0.1s ease-out;
  }

  .raw-viewer-detail .metadata {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    background: rgba(0,0,0,0.75);
    padding: 5px;
    border-radius: 5px;
    opacity: 0.5;
    transition: 0.1s ease-out;
  }

  .raw-viewer-detail .icon-cross2:hover,
  .raw-viewer-detail .metadata:hover {
    opacity: 1;
  }

  .raw-viewer-detail th {
    text-align: right;
    padding-right: 5px;
  }

  .raw-viewer-detail img {
    object-fit: contain;
    transition: opacity 0.5s ease-out;
  }

  .raw-viewer-detail.loading img {
    opacity: 0.75;
    image-rendering: pixelated;
  }

  .raw-viewer-tile.loading:after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    transform: translateX(-50%) translateY(-50%);
    animation: infinite loading 2s ease-in;
  }

  @keyframes loading {
    0% {
      width: 25%;
      height: 25%;
      background: rgba(0,0,0,0.25);
    }
    100% {
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0);
    }
  }
</style>
<div
  class="raw-viewer-scroller"
  data-bind="class(one-column)=_component_.rawfile"
>
  <div
    class="raw-viewer-tile"
    data-bind="class(loading)=.generating_preview"
    data-list="_component_.slice(_component_.rawfiles):_auto_"
    data-event="mouseup,keydown(Space):_component_.pick"
    tabindex="0"
  >
    <img data-bind="
      img=${.preview};
      data(orientation)=.metadata.Orientation;
    ">
    <span data-bind="text=.filename"></span>
  </div>
</div>
<div
  class="raw-viewer-detail"
  data-bind="
    class(loading)=_component_.rawfile.generating_fullsize;
    show_if=_component_.rawfile;
  "
>
  <img data-bind="img=_component_.rawfile.fullsize">
  <div
    class="icon-cross2"
    data-event="mouseup:_component_.closeDetail"
  ></div>
  <table
    class="metadata"
  >
    <tr data-bind="show_if=_component_.rawfile.metadata.DisplayName">
      <th>Display Name</th>
      <td data-bind="text=_component_.rawfile.metadata.DisplayName"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.ContentCreationDate">
      <th>Creation Data</th>
      <td data-bind="timestamp()=_component_.rawfile.metadata.ContentCreationDate"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.AcquisitionModel">
      <th>Camera</th>
      <td data-bind="text=_component_.rawfile.metadata.AcquisitionModel"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.LensModel">
      <th>Lens</th>
      <td data-bind="text=_component_.rawfile.metadata.LensModel"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.FocalLength">
      <th>Focal Length</th>
      <td data-bind="text=${_component_.rawfile.metadata.FocalLength}mm"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.FocalLength35mm">
      <th>35mm equiv.</th>
      <td data-bind="text=${_component_.rawfile.metadata.FocalLength35mm}mm"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.FNumber">
      <th>Aperture</th>
      <td data-bind="text=_component_.rawfile.metadata.FNumber"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.ExposureTimeSeconds">
      <th>Shutter Speed</th>
      <td data-bind="text=_component_.rawfile.metadata.ExposureTimeSeconds"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.ISOSpeed">
      <th>ISO</th>
      <td data-bind="text=_component_.rawfile.metadata.ISOSpeed"></td>
    </tr>
    <tr data-bind="show_if=_component_.rawfile.metadata.PixelWidth">
      <th>Resolution</th>
      <td data-bind="text=${_component_.rawfile.metadata.PixelWidth} ⨉ ${_component_.rawfile.metadata.PixelHeight}"></td>
    </tr>
  </table>
</div>
<script>
  /* global require, console, get, set, component, b8r, touch */
  'use strict';

  const biggrid = require('../lib/biggrid.js');
  const {imagePromise} = require('../source/b8r.imgSrc.js');

  if (! require.electron || window.process.platform !== 'darwin') {
    return;
  }

  if (! component.matches('.example')) {
    document.body.style.overflow = 'hidden';
  }

  const fs = require.globalRequire('fs');
  const {exec} = require.globalRequire('child_process');

  const MAX_PROCESSING = 3;
  const PREVIEW_SIZE = 256;
  const PREGENERATE_PREVIEWS = false;
  let rawfiles_visible = [];
  let processing = 0;

  const process = rawfile => {
    const {_auto_, filepath} = rawfile;
    const preview = '/tmp/' + rawfile.basename + `-${PREVIEW_SIZE}.jpg`;
    //console.log('generating', preview, {processing, waiting: waiting.length});
    set(`rawfiles[_auto_=${_auto_}].generating_preview`, true);

    const done = () => {
      // if the component has been removed, allows processing to stop cleanly
      if(document.body.contains(component)) {
        set(`rawfiles[_auto_=${_auto_}].generating_preview`, false);
        set(`rawfiles[_auto_=${_auto_}].preview`, 'file://' + preview);
        processing -= 1;
        dequeue();
      }
    };

    exec(
      `mdls "${filepath}"`,
      (err, stdout) => {
        if (err) {
          console.error(`${filepath} metadata extraction failed`, err);
        } else {
          const metadata = {orig: {}};
          stdout.split(/\nkMDItem|\nkMDFS/).forEach(item => {
            const [key, value] = item.split('=').map(s => s.trim());
            if (key && !value.match(/^(\s+|\(null\))$/)) {
              metadata[key] = value.match(/^"*(.*?)"*$/m)[1]; // strip outer quotation marks
            }
          });
          if (metadata.ExposureTimeSeconds < 1) {
            metadata.ExposureTimeSeconds = '1/' + Math.round(1/metadata.ExposureTimeSeconds);
          }
          set(`rawfiles[_auto_=${_auto_}].metadata`, metadata);
        }
      }
    );

    fs.access(preview, fs.constants.R_OK, err => {
      if (err) {
        exec(
          `sips -s format jpeg -s formatOptions 75 -Z ${PREVIEW_SIZE} "${filepath}" --out "${preview}"`,
          err => {
            if (err) {
              console.error(`${filepath} RAW conversion failed`, err);
            } else {
              done();
            }
          }
        );
      } else {
        done();
      }
    });
  };

  const dequeue = () => {
    if (processing >= MAX_PROCESSING) {
      return;
    }

    const waiting = rawfiles_visible.filter(f => ! f.preview);
    const list = waiting.length || ! PREGENERATE_PREVIEWS ? waiting : get('rawfiles').filter(f => ! f.preview);
    while(processing < MAX_PROCESSING && list.length) {
      const rand = Math.floor(Math.random() * list.length);
      processing += 1;
      const rawfile = list.splice(rand, 1)[0];
      process(rawfile);
      // if list is waiting_on_screen we also need to remove item from waiting
      if (waiting.indexOf(rawfile) > -1) {
        waiting.splice(waiting.indexOf(rawfile), 1);
      }
    }
  };

  const findFiles = extension => {
    const rawfiles = get('rawfiles');
    exec(
      `mdfind "kMDItemDisplayName == '*.${extension}'"`, 
      {maxBuffer: 1024 * 10000}, // 10MB buffer because 
      (err, stdout) => {
        if (err) {
          console.error('spotlight search failed', err);
        } else {
          stdout.split('\n').
          filter(f => !!f).
          forEach(
            filepath => {
              const filename = filepath.split('/').pop();
              rawfiles.push({
                filename,
                basename: filename.split('.').slice(0,-1).join('.'),
                filepath,
              });
            }
          );
          set({rawfiles});
        }
      }
    );
  };

  const pick = evt => {
    const rawfile = b8r.getListInstance(evt.target);
    if (!rawfile.fullsize) {
      const {filepath} = rawfile;
      rawfile.fullsize = rawfile.preview;
      const fullsize = '/tmp/' + rawfile.basename + '.jpg';
      rawfile.generating_fullsize = true;
      exec(`sips -s format jpeg -s formatOptions 90 "${filepath}" --out "${fullsize}"`, err => {
        if (err) {
          console.error(`${filepath} RAW conversion failed`, err);
        } else {
          imagePromise('file://' + fullsize).
          then(() => {
            rawfile.generating_fullsize = false;
            rawfile.fullsize = 'file://' + fullsize;
            touch('rawfile');
          });
        }
      });
    } else {
      rawfile.generating_fullsize = false;
    }
    set({rawfile});
    // force grid to resize
    touch('rawfiles');
  };

  const closeDetail = () => {
    set('rawfile', null);
    touch('rawfiles');
  };

  const slice = (list, container) => {
    rawfiles_visible = biggrid.slice(list, container);
    dequeue();
    return rawfiles_visible;
  };

  set({slice, pick, closeDetail, rawfiles: []});

  findFiles('NEF');
  findFiles('DNG');
  findFiles('CR2');
</script>
