<!--
# RAW Viewer

Sorry, this demo is macOS and electron only.

1. It finds all the `NEF`, `CR2`, and `DNG` files using spotlight `mdfind`
2. It generates previews in `/tmp/` using `sips`
3. It shows you the previews using `biggrid`

The previews are generated asynchronously up to three at a time. (I picked three
because chances are you have at least four virtual cores, but it looks like sips
parallelizes anyway — a little experimentation seems to indicate that doing more than
one file at a time has some benefit.)

Previews are generated in random order, but priority is given to previews for
grid cells that are currently in view.
-->
<style>
  .raw-viewer-component {
    line-height: 0;
    overflow-y: scroll;
    overflow-y: overlay;
  }

  .example.raw-viewer-component {
    height: 480px;
  }

  .raw-viewer-component > div {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 128px;
    height: 128px;
    overflow: hidden;
    position: relative;
  }

  .raw-viewer-component > div > span {
    position: absolute;
    display: block;
    color: white;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    opacity: 0.5;
  }

  .raw-viewer-component > div:hover > span {
    opacity: 1;
  }

  .raw-viewer-component img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<div data-list="biggrid.slice(_component_.rawfiles):_auto_">
  <img data-bind="
    method(_component_.convertRAW)=.filepath;
    img=${.preview};
  ">
  <span data-bind="text=.filename"></span>
</div>
<script>
  /* global require, console, get, set, data, findOne, component */
  'use strict';

  require('../lib/biggrid.js');

  if (! require.electron || window.process.platform !== 'darwin') {
    return;
  }

  const fs = require.globalRequire('fs');
  const {exec} = require.globalRequire('child_process');

  const MAX_PROCESSING = 3;
  const waiting = [];
  let processing = 0;
  const {component_id} = data;

  const process = rawfile => {
    const {_auto_, filepath} = rawfile;
    const preview = '/tmp/' + filepath.match(/^.*?([^/]+)\.nef$/i)[1] + '.jpg';
    //console.log('generating', preview, {processing, waiting: waiting.length});

    const done = () => {
      // if the component has been removed, allows processing to stop cleanly
      if(document.body.contains(component)) {
        set(`rawfiles[_auto_=${_auto_}].preview`, 'file://' + preview);
        processing -= 1;
        dequeue();
      }
    };

    fs.access(preview, fs.constants.R_OK, err => {
      if (err) {
        exec(`sips -s format jpeg -s formatOptions 75 -Z 512 "${filepath}" --out "${preview}"`, err => {
          if (err) {
            console.error('RAW conversion failed', err);
          } else {
            done();
          }
        });
      } else {
        done();
      }
    });
  };

  const dequeue = () => {
    const waiting_on_screen = waiting.filter(
      rawfile => findOne(`[data-list-instance="${component_id}.rawfiles[_auto_=${rawfile._auto_}]"]`)
    );
    const list = waiting_on_screen.length ? waiting_on_screen : waiting;
    while(processing < MAX_PROCESSING && list.length) {
      const rand = Math.floor(Math.random() * list.length);
      processing += 1;
      const rawfile = list.splice(rand, 1)[0];
      process(rawfile);
      // if list is waiting_on_screen we also need to remove item from waiting
      if (waiting.indexOf(rawfile) > -1) {
        waiting.splice(waiting.indexOf(rawfile), 1);
      }
    }
  };

  const convertRAW = (img, filepath) => {
    // console.log(filename, preview, ready);
    const rawfile = get(`rawfiles[filepath=${filepath}]`);
    if (! rawfile.queued) {
      rawfile.queued = true;
      waiting.push(rawfile);
      dequeue();
    }
  };

  const findFiles = extension => {
    exec(`mdfind "kMDItemDisplayName == '*.${extension}'"`, (err, stdout) => {
      if (err) {
        console.error('spotlight search failed', err);
      } else {
        stdout.split('\n').
        filter(f => !!f).
        forEach(
          filepath => {
            const filename = filepath.split('/').pop();
            rawfiles.push({
              filename,
              filepath,
              ready: false,
            });
          }
        );
        set({rawfiles});
      }
    });
  };

  set({convertRAW});

  // Nikon only right now
  let rawfiles = [];

  findFiles('NEF');
  findFiles('DNG');
  findFiles('CR2');
</script>
