<!--
# resizer

Makes the thing you stick it into resizable.
-->
<style>
  .resizer-component {
    position: absolute;
    cursor: nwse-resize;
    bottom: 0;
    right: 0;
    padding: 2px;
  }
</style>
<script>
  /* global component */
  const {trackDrag, listenForDragStart} = await import('../lib/track-drag.js')
  const parent = component.parentElement

  component.classList.add('icon-dots');
  listenForDragStart(component, (evt) => {
    const style = getComputedStyle(parent)
    const width = parseFloat(style.width)
    const height = parseFloat(style.height)
    const minWidth = parseFloat(style.minWidth) || 100
    const minHeight = parseFloat(style.minHeight) || 100
    trackDrag(evt, width, height, (x, y, _dx, _dy, doneResizing) => {
      if (x < minWidth) x = minWidth
      if (y < minHeight) y = minHeight
      parent.style.width = x + 'px'
      parent.style.height = y + 'px'
      if (doneResizing) {
        b8r.trigger('resize', component)
      }
    })
  })
</script>
