<!--
# Search Field
-->
<style>
.search-field-component {
  display: inline-block;
  position: relative;
}

.search-field-component .icon-search3,
.search-field-component .icon-cross2 {
  opacity: 0.5;
  position: absolute;
  top: 4px;
}

.search-field-component input {
  border-radius: 99px;
  padding-left: 24px;
  width: 100%;
}

.search-field-component input:focus+.icon-search3 {
  opacity: 0.75;
}

.search-field-component .icon-search3 {
  left: 8px;
}

.search-field-component .icon-cross2 {
  right: 4px;
  background: rgba(0,0,0,0.1);
  border-radius: 99px;
  padding: 2px;
  font-size: 10px
}

.search-field-component .icon-cross2:hover {
  opacity: 0.75;
}

.search-field-component .icon-cross2:active {
  opacity: 1;
}
</style>
<input 
  data-bind="attr(placeholder)=_component_.placeholder;value=_component_.value">
<span class="icon-search3"></span>
<span class="icon-cross2" data-event="mouseup,touchup:_component_.clear"></span>
<script>
  /* global get, set */
  'use strict'

  set({
    placeholder: component.dataset.placeholder || 'search field',
    clear: () => set('value', ''),
  })
</script>
