<!--
# Search Field
-->
<style>
.search-field-component {
  display: inline-flex;
  position: relative;
}

.search-field-component .icon-search,
.search-field-component .icon-cross {
  opacity: 0.5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-field-component input {
  border-radius: 99px;
  padding: 0 28px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  overflow: hidden;
}

.search-field-component input:not(:focus) {
  color: #8880;
}

.search-field-component input:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}

.search-field-component input:focus+.icon-search {
  opacity: 0.75;
}

.search-field-component .icon-search {
  pointer-events: none;
  left: 18px;
}

.search-field-component .icon-cross {
  right: 18px;
  background: rgba(0,0,0,0.1);
  border-radius: 99px;
  padding: 2px;
  font-size: 10px
}

.search-field-component .icon-cross:hover {
  opacity: 0.75;
}

.search-field-component .icon-cross:active {
  opacity: 1;
}
</style>
<input
  data-bind="attr(placeholder)=_component_.placeholder;value=_component_.value">
<span class="icon-search"></span>
<span class="icon-cross" data-event="mousedown,touchstart:_component_.clear"></span>
<script>
  /* global get, set */
  'use strict'
  set({
    placeholder: component.dataset.placeholder || 'search field',
    clear: () => set('value', ''),
  })
</script>
