<!--
# selector

This is a simple replacement for `<select>` elements.
-->
<style>
.selector-component > * {
  cursor: pointer;
}

.selector-component > [data-children] > :not([data-selected]) {
  color: #aaa;
}

.selector-component > [data-children] > *+* {
  margin-left: 0.5em;
}
</style>
<span
  data-children
  data-event="
    mouseup,keydown(Space):_component_.select;
    change:_component_.pick;
  "
  data-bind="method(_component_.pick)=_component_.value"
>
  <span>One</span>
  <span data-selected>Two</span>
  <span>Three</span>
  <span>Four</span>
</span>
<script>
/* global find, findOne, b8r, component, get, set, data */
'use strict';

  const _value = element => element.value || element.getAttribute('value') || element.textContent;

  const select = evt => {
    if (!evt.target.closest('[data-children] > *')) {
      return;
    }
    find('[data-children] > *:not([data-list])').forEach(child => {
      if (child === evt.target.closest('[data-children] > *')) {
        child.dataset.selected = '';
        set('value', _value(child));
      } else {
        delete child.dataset.selected;
      }
    });
    return true;
  };
  const pick = (_, value) => {
    if (_ instanceof Event) {
      value = get('value');
    }
    find('[data-children] > *:not([data-list])').forEach(child => {
      if ((child.getAttribute('value') || child.textContent) === value) {
        child.dataset.selected = '';
        set('value', _value(child));
        b8r.trigger('change', component);
      } else {
        delete child.dataset.selected;
      }
    });
  };

  const selected = findOne('[data-selected]');
  if(!data.value && selected) {
    set('value', _value(selected));
  }

  set({select, pick});
</script>
