<!--
# selector

This is a simple replacement for `<select>` elements.
-->
<style>
.selector-component > [data-children] {
  display: flex;
  align-items: center;
}
.selector-component > * {
  cursor: pointer;
}

.selector-component > [data-children] > :not([data-selected]) {
  opacity: 0.5;
}

.selector-component > [data-children] > * {
  margin: 0 0.25em;
}
</style>
<span
  data-children
  data-event="
    mouseup,keydown(Space):_component_.select;
    change:_component_.pick;
  "
  data-bind="method(_component_.pick)=_component_.value"
>
  <span>One</span>
  <span data-selected>Two</span>
  <span style="font-size: 36px;">3</span>
  <span style="font-size: 24px;">🕓</span>
</span>
<script>
/* global find, findOne, b8r, component, get, set, data */
'use strict';

  const _value = element => element.value !== undefined ? element.value :
                            element.dataset.value !== undefined ? element.dataset.value :
                            element.textContent;

  const select = evt => {
    if (!evt.target.closest('[data-children] > *')) {
      return;
    }
    find('[data-children] > *:not([data-list])').forEach(child => {
      if (child === evt.target.closest('[data-children] > *')) {
        child.dataset.selected = '';
        set('value', _value(child));
      } else {
        if (child.dataset.selected !== undefined) {
          delete child.dataset.selected;
        }
      }
    });
    return true;
  };
  const pick = (_, value) => {
    if (_ instanceof Event) {
      value = get('value');
    }
    find('[data-children] > *:not([data-list])').forEach(child => {
      if (_value(child) === value) {
        child.dataset.selected = '';
        set('value', _value(child));
        b8r.trigger('change', component);
      } else {
        if (child.dataset.selected !== undefined) {
          delete child.dataset.selected;
        }
      }
    });
  };

  const selected = findOne('[data-selected]');
  if(!data.value && selected) {
    set('value', _value(selected));
  }

  set({select, pick});
</script>
