<!--
# Sizer
Copyright ©2016-2017 Tonio Loewald
This is a horizontal sizer component. Place it between two elements in a flex (row)
and it lets the user dynamically resize them.
-->
<style>
  .sizer-component {
    width: 6px;
    min-width: 6px !important;
    overflow: hidden;
    flex-grow: 0 !important;
  }

  .ew-sizer {
    width: 6px;
    border-style: solid;
    border-left-color: rgba(0,0,0,0.05);
    border-right-color: rgba(0,0,0,0.1);
    border-width: 0 1px;
    cursor: ew-resize;
    margin: 0 0 -10000px;
    padding: 0 0 10000px;
  }

  .ew-sizer:hover {
    background-color: rgba(0,0,0,0.15);
  }

  .ew-sizer.active {
    background-color: rgba(0,0,0,0.25);
  }
</style>
<div class="ew-sizer"></div>
<script>
/* global findOne, b8r */
const {trackDrag, listenForDragStart} = await import('../lib/track-drag.js')
const sizer = findOne('.ew-sizer')
listenForDragStart(sizer, (evt) => {
  const style = getComputedStyle(sizer)
  const prevElt = component.previousElementSibling
  const nextElt = component.nextElementSibling
  const prevWidth = prevElt.offsetWidth
  const nextWidth = nextElt.offsetWidth
  const minX = parseFloat(getComputedStyle(prevElt).minWidth || 40) - prevWidth
  const maxX = nextWidth - parseFloat(getComputedStyle(nextElt).minWidth || 40)
  trackDrag(evt, 0, 0, (x) => {
    if (x < minX) x = minX
    if (x > maxX) x = maxX
    prevElt.style.width = prevWidth + x + 'px'
    nextElt.style.width = nextWidth - x + 'px'
  })
})
</script>
