<!--
# Sizer
Copyright ©2016-2017 Tonio Loewald

This is a horizontal sizer component. Place it between two elements in a flex (row)
and it lets the user dynamically resize them.
-->
<style>
  .sizer-component {
    width: 6px;
    min-width: 6px !important;
    overflow: hidden;
    flex-grow: 0 !important;
  }
  .ew-sizer {
    width: 6px;
    border-style: solid;
    border-left-color: rgba(0,0,0,0.05);
    border-right-color: rgba(0,0,0,0.1);
    border-width: 0 1px;
    cursor: ew-resize;
    margin: 0 0 -10000px;
    padding: 0 0 10000px;
  }

  .ew-sizer:hover {
    background-color: rgba(0,0,0,0.15);
  }

  .ew-sizer.active {
    background-color: rgba(0,0,0,0.25);
  }
</style>
<div data-event="mousedown:sizer.beginSizing" class="ew-sizer"></div>
<script>
/* global findOne, b8r */
'use strict'
var ew_sizer = findOne('.ew-sizer')
var next_elt
var prev_elt
var orig_x
var prev_width
var next_width
var total_width
var total_percentage
var parent_width
var prev_min
var next_min

function beginSizing (evt) {
  const sizer = evt.target.closest('.ew-sizer').parentElement
  orig_x = evt.pageX
  prev_elt = sizer.previousElementSibling
  next_elt = sizer.nextElementSibling
  parent_width = sizer.offsetParent.offsetWidth
  prev_width = prev_elt.offsetWidth
  next_width = next_elt.offsetWidth
  total_width = prev_width + next_width + sizer.offsetWidth
  total_percentage = total_width * 100 / parent_width
  prev_min = parseInt(getComputedStyle(prev_elt).minWidth, 10) || 40
  next_min = parseInt(getComputedStyle(next_elt).minWidth, 10) || 40
  ew_sizer.classList.add('active')
  b8r.onAny('mousemove', 'sizer', 'sizing')
  b8r.onAny('mouseup', 'sizer', 'endSizing')
}

function sizing (evt) {
  var offset = evt.pageX - orig_x
  offset = Math.min(offset, next_width - next_min) // min width for next element
  offset = Math.max(offset, prev_min - prev_width) // min width for previous element
  prev_elt.style.width = (prev_width + offset) / total_width * total_percentage + '%'
  next_elt.style.width = (next_width - offset) / total_width * total_percentage + '%'
}

function endSizing () {
  ew_sizer.classList.remove('active')
  b8r.offAny('mousemove', 'sizer', 'sizing')
  b8r.offAny('mouseup', 'sizer', 'endSizing')
}

b8r.register('sizer', { beginSizing, sizing, endSizing })
</script>
