<!--
# slider-numeric
Copyright ©2016-2022 Tonio Loewald
A simple example of binding. The range and number inputs are both bound to the same value.
-->
<style>
  .slider-number {
    width: 60px;
  }
</style>
<input class="slider-range" type="range" data-bind="value=_component_.value">
<input class="slider-number" type="number" data-bind="value=_component_.value">
<script>
  /* global component, get, set, findOne */
  const slider = findOne('[type="range"]')
slider.setAttribute('min', component.getAttribute('min') || get('min') || 0)
slider.setAttribute('max', component.getAttribute('max') || get('max') || 42)
set('value', get().value || 17)
</script>
