<!--
# slider-numeric
Copyright ©2016-2017 Tonio Loewald

A simple example of binding. The range and number inputs are both bound to the same value.
-->
<style>
  .slider-number {
    width: 40px;
  }
</style>
<input class="slider-range" type="range" data-bind="value=_data_">
<input class="slider-number" type="number" data-bind="value=_data_">
<script>
  const slider = findOne('[type="range"]');
  slider.setAttribute('min', component.getAttribute('min') || get('min') || 0);
  slider.setAttribute('max', component.getAttribute('max') || get('max') || 10);
  set('value', data.value || 5)
</script>
