<!--
# switch
Copyright ©2016-2017 Tonio Loewald

This is an input checkbox disguised as a sliding on/off switch. 
It uses a pair of nested `<span>` nodes to render the switch.
-->
<style>
	.checkbox-slider {
		display: inline-block;
		position: relative;
		overflow: hidden;
		min-height: 16px;
	}

	.checkbox-slider > input {
		position: absolute;
		top: -10000px;
	}

	.checkbox-slider > input + span {
		vertical-align: bottom;
		position: relative;
		display: inline-block;
		width: 26px;
		height: 14px;
		border-radius: 8px;
		margin-right: 4px;
		border: 1px solid rgba(0,0,0,0.5);
		transition-duration: 0.25s;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
	}
	.checkbox-slider > input:not(:checked) + span {
		background-color: #c66;
	}

	.checkbox-slider > input:checked + span {
		background-color: #4f4;
	}

	.checkbox-slider > input + span > span {
		content: " ";
		display: block;
		width: 14px;
		height: 14px;
		margin: -1px;
		background-color: #ccc;
		position: absolute;
		top: 0;
		border-radius: 8px;
		border: 1px solid rgba(0,0,0,0.5);
		box-shadow: inset 0 -0.5px 0.5px rgba(0,0,0,0.5);
		transition-duration: 0.25s;
	}

	.checkbox-slider > input:not(:checked) + span > span {
		left: 0;
	}

	.checkbox-slider > input:checked + span > span {
		left: 12px;
	}
</style>
<label class="checkbox-slider" style="overflow: visible;">
	<input type="checkbox"><span class="focus-follower"><span>&nbsp;</span></span><span data-children></span>
	This is a checkbox
</label>