<style>
	.bodies {
		border: 1px solid #ddd;
	}
	.bodies > * {
		display: none;
	}

	.bodies > .current {
		display: block;
	}

	.tabs {
		padding-top: 2px;
	}

	.tabs > .tab {
		padding: 3px 8px 2px;
		background-color: #ddd;
		display: inline-block;
		margin: 0 0 0 3px;
		border-radius: 4px 4px 0 0;
		border: 1px solid #ddd;
		border-bottom: 0;
		cursor: pointer;
	}

	.tabs > .tab:hover {
		background-color: #eee;
	}

	.tabs > .tab.current {
		background-color: white;
		border: 1px solid #ddd;
		border-bottom: 1px solid white;
		margin-bottom: -1px;
	}
</style>
<div>
	<div class="tabs">
		<h4
			class="tab"
			data-list="_DATA_"
			data-bind="text=.name"
			class="tab"
			data-event="
				mouseup,keydown(Space):_component_.select_tab;
				keydown(ArrowLeft):_component_.previous_tab;
				keydown(ArrowRight):_component_.next_tab
			"
			tabindex="0"
		>Tab Name</h4>
	</div>
	<div class="bodies" data-children>
		<div name="Tab A" style="text-align: center;">
			<span style="font-size: 200px; color: red;">A</span>
		</div>
		<div name="Tab B" style="text-align: center;">
			<span style="font-size: 200px; color: green;">B</span>
		</div>
		<div name="Tab C" style="text-align: center;">
			<span style="font-size: 200px; color: blue;">C</span>
		</div>
	</div>
</div>
<script>
	var current_tab;
	var bodies = b8r.makeArray(findOne('.bodies').children);
	var untitled = {name: 'Untitled'};
	var tab_info = bodies.map(body_element => { return { name: body_element.getAttribute('name')} || untitled; });
	b8r.bindAll(findOne('.tabs'), tab_info);
	var tabs = find('.tabs > .tab[data-list-instance]');

	function select_tab(which) {
		if (which === current_tab) {
			return;
		}
		bodies.forEach(body_element => body_element.classList.remove('current'));
		tabs.forEach(tab_element => tab_element.classList.remove('current'));
		tabs[which].classList.add('current');
		tabs[which].focus();
		bodies[which].classList.add('current');
		current_tab = which;
	}
	select_tab(parseInt(component.getAttribute('current'), 10) || 0);

	register({
		select_tab: evt => select_tab(tabs.indexOf(evt.target)),
		next_tab: evt => select_tab((current_tab + 1) % tabs.length),
		previous_tab: evt => select_tab((current_tab + tabs.length - 1) % tabs.length),
	});
</script>