<!--
# tab-selector
Copyright ©2016-2017 Tonio Loewald

The component's `value` indicates the currently visible tab.
-->
<style>
  .tab-selector-bodies {
    border: 1px solid var(--bright-accent-color);
  }

  .tab-selector-bodies > * {
    display: none;
  }

  .tab-selector-bodies > .tab-selector-current {
    display: block;
  }

  .tab-selector-tabs {
    display: flex;
    padding-top: 2px;
    z-index: 1;
  }

  .tab-selector-tabs > .tab-selector-tab {
    padding: 3px 8px 2px;
    display: inline-block;
    margin: 0 0 0 3px;
    border-radius: 4px 4px 0 0;
    background-color: var(--content-bg-color);
    border: 1px solid var(--light-accent-color);
    border-bottom: 0;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .tab-selector-tabs > .tab-selector-tab:hover {
    background-color: var(--light-accent-color);
  }

  .tab-selector-tabs > .tab-selector-tab.tab-selector-current {
    flex-shrink: 0;
    background-color: var(--content-bg-color);
    border: 1px solid var(--bright-accent-color);
    border-bottom: 1px solid var(--content-bg-color);
    margin-bottom: -1px;
  }

</style>
<div class="tab-selector-tabs">
  <h4
    data-list="_component_.tabs"
    data-bind="text,attr(title)=.name;class(tab-selector-current)=.active"
    class="tab-selector-tab"
    data-event="
      mouseup,keydown(Space):_component_.select_tab;
      keydown(ArrowLeft):_component_.previous_tab;
      keydown(ArrowRight):_component_.next_tab
    "
    tabindex="0"
  >Tab Name</h4>
</div>
<div class="tab-selector-bodies" data-children>
  <div name="Tab A" style="text-align: center;">
    <span style="font-size: 200px; color: red;">A</span>
  </div>
  <div name="Tab B" style="text-align: center;">
    <span style="font-size: 200px; color: green;">B</span>
  </div>
  <div name="Tab C" style="text-align: center;">
    <span style="font-size: 200px; color: blue;">C</span>
  </div>
</div>
<script>
/* global b8r, findOne, set, get, touch */
'use strict'
const bodies = () => b8r.makeArray(findOne('.tab-selector-bodies').children)

function select_tab (which) {
  if (which instanceof Event) {
    which = b8r.listIndex(which.target)
  }

  const value = which || 0

  set({ value })
  get('tabs').forEach((tab, idx) => tab.active = value === idx)
  touch('tabs')

  bodies().forEach((body, idx) => {
    if (value === idx) {
      body.classList.add('tab-selector-current')
      b8r.trigger('show', body)
    } else if (value !== idx && body.classList.contains('tab-selector-current')) {
      body.classList.remove('tab-selector-current')
      b8r.trigger('hide', body)
    }
  })
}

set({
  tabs: bodies().map(element => { return { name: element.getAttribute('name') || element.getAttribute('title') || 'Untitled' } }),
  select_tab,
  next_tab: () => select_tab((get('value') + 1) % get('tabs').length),
  previous_tab: () => select_tab((get('value') + get('tabs').length - 1) % get('tabs').length)
})

select_tab(get('value'))
</script>
