<!--
# Theme Editor
A simple tool that finds all the `:root` css-variables currently in the DOM
and lets you edit them directly.
## css-variable naming conventions
> **Note**: work in progress!
The theme editor is built on **naming conventions** so that designers and programmers
can tell what "type" a variable is.
- By **default** (i.e. if the variable name doesn't have a specific ending) it will be
  treated as text. In general, don't use obvious candidates for reserved words
  as the ending of variable names to avoid issues as new features get added. This
  covers all the crazy cases that would need a stateful parser,
  like `content`, `box-shadow`, `filter`, and `transform`.
- `-color` — an html color specification, e.g. `#f00` or `#e7e7e7` or `#ffffff22`
  or `rgb(0,0,255)` or `crimson` or `transparent`.
- `-font`, `-border` — the corresponding shorthand
- `-corners` — corner dimensions (e.g. `border-radius` shorthand)
- `-edges` — edge dimensions (e.g. `margin`, `padding`, `border-width`)
- `-size` — single dimensions (e.g. 100px, 20%, 50vw)
- `-font-family` — font family (e.g. "Helvetica, Arial, Sans-serif")
- `-weight` — font weight (e.g. normal, lighter, bold, 400, 700)
- `-url` is a `url()` (data or otherwise)
- `-image` is a `url()` that evaluates to an image of some kind (this means that `theme-editor`
  will one day let you pick an image from a file browser and convert it into a data-url
  if it's smaller than some size threshold automatically)
-->
<style>
  ._component_ input {
    font-size: 14px;
  }

  ._component_ label > span {
    font-size: 14px;
    display: inline-block;
    min-width: 200px;
    flex: 0 0;
  }

  ._component_ label {
    min-height: 20px;
    display: flex;
    align-items: flex-start;
  }

  ._component_ input[type=color] {
    flex: 0 0 auto;
  }

  ._component_ label > * {
    flex: 1 1;
  }
</style>
<h3>Theme Editor</h3>
<label>
  <span>Dark Mode:</span> <b data-bind="text=_component_.darkmode"></b>
</label>
<div data-list="_component_.cssVars:name">
  <label>
    <span data-bind="text=.name"></span>
    <b8r-component
      path="../components/color-picker.js"
      data-bind="
        value=.value
        show_if(color)=.type
      "
      data-event="change:_component_.setVar"
    ></b8r-component>
    <input data-bind="value=.value;hide_if(color)=.type" data-event="input,change:_component_.setVar">
  </label>
</div>
<script>
  const rootRules = [...document.styleSheets]
    .map(s => [...s.cssRules].filter(r => r.selectorText === ':root'))
    .flat()
  const cssVars = rootRules.map(r => [...r.style].map(name => {
    const value = b8r.cssVar(name).trim()
    type = value.match(/^(\#|rgb\(|rgba\()/) ? 'color' : name.split('-').pop()
    return {
      name,
      value,
      type
    }
  })).flat().sort((a, b) => b8r.sortAscending(a.name, b.name))
  const darkmode = window.matchMedia('(prefers-color-scheme: dark)')
  darkmode.addListener((e) => set('darkmode', e.matches))
  set({
    cssVars,
    setVar(evt, elt) {
      const {name, value} = b8r.getListInstance(elt)
      b8r.cssVar(name, value)
    },
    darkmode: darkmode.matches
  })
</script>
