<!--
# three.js example

[threejs](https://threejs.org//) is a 3D engine created by Ricardo Cabello.

It loads via require() but sets a global rather than passing back to module.exports.
-->
<canvas width="768" height="512" style="background: #888"></canvas>
<script>
/* global require, component, b8r, findOne */
'use strict';

const canvas = findOne('canvas');

const walktree = (node, f) => {
  f(node);
  if (node.children.length) {
    node.children.forEach(child => walktree(child, f));
  }
};

const load = async () => {
  await require.lazy('../third-party/threejs/three.min.js');
  await require.lazy('../third-party/threejs/GLTFLoader.js');

  const scene = new THREE.Scene();
  const camera = new THREE.PerspectiveCamera( 20, 1.5, 0.1, 1000 );
  const renderer = new THREE.WebGLRenderer({ canvas, alpha: true, antialias: true });

  camera.position.z = 4;

  renderer.shadowMap.enabled = true;
  renderer.shadowMap.type = THREE.PCFSoftShadowMap;
  renderer.setSize( canvas.width, canvas.height );;

  const sunlight = new THREE.DirectionalLight(0xddeeff, 1.25);
  sunlight.castShadow = true;
  sunlight.position.set(10, 10, 10);
  scene.add(sunlight);
  sunlight.shadow.mapSize.width = 2048;
  sunlight.shadow.mapSize.height = 2048;
  sunlight.shadow.camera.near = 0.01;
  sunlight.shadow.camera.far = 500;

/*
  const helper = new THREE.CameraHelper( sunlight.shadow.camera );
  scene.add( helper );
*/

  const ambient = new THREE.AmbientLight(0x603000);
  scene.add(ambient);

  const plane_geometry = new THREE.PlaneGeometry( 1.5, 1.5, 2 );
  const plane_mat = new THREE.MeshStandardMaterial( {color: 0x707070 });
  const plane = new THREE.Mesh( plane_geometry, plane_mat );
  plane.receiveShadow = true;
  plane.position.y = -0.5;
  plane.rotation.x = Math.PI * -0.5;
  scene.add(plane);

  const loader = new THREE.GLTFLoader();
  const load = async path => {
    return await new Promise(resolve => loader.load(path, gltf => resolve(gltf)));
  };

  const scout = (await load('test/scoutship.gltf')).scene.children[0];
  // pirate.children[0].material.roughness = 1;

  const materials = {};
  const meshes = {};

  // tweak materials and meshes
  walktree(scout, n => {
    if (n.material) {
      if (n.material.name === 'Cockpit') {
        n.material.transparent = true;
        n.material.roughness = 0.1;
        n.material.metalness = 0.5;
        n.material.opacity = 0.4;
      } else {
        n.material.roughness = 0.25;
      }
    }
    if (n.type === 'Mesh') {
      meshes[n.name] = n;
    }
    if (n.material) {
      materials[n.material.name] = n.material;
    }
    n.castShadow = true;
    n.receiveShadow = true;
  });
  scout.position.y = -0.5;
  scene.add(scout);

  // shove this stuff in globals so you can play with it
  window.threejs_stuff = {scene, camera, renderer, sunlight, scout, plane, materials, meshes};

  const update = () => {
    const mouse = b8r.get('threejs-demo.mouse');
    if (mouse) {
      sunlight.position.x = mouse.x * 20;
      sunlight.position.y = Math.max(-0.4, (mouse.y - 0.5) * -20);
    }
    scout.rotation.y -= 0.001;
  };

  b8r.onAny('mousemove', 'threejs-demo.mousemove');
  b8r.register('threejs-demo', {
    mousemove: evt => {
      if (b8r.isInBody(component)) {
        const x = (evt.clientX / window.innerWidth - 0.5) * 2;
        const y = (evt.clientY / window.innerHeight - 0.5) * 2;
        b8r.set('threejs-demo.mouse', {x, y});
      } else {
        b8r.remove('threejs-demo');
        b8r.offAny('mousemove', 'threejs-demo.mousemove');
      }
      return true;
    }
  });

  function render() {
    if(b8r.isInBody(canvas)) {
      update();
      requestAnimationFrame( render );
      renderer.render( scene, camera );
    }
  }
  render();
}

load();
</script>
