<!--
# Timeline

A simple example which shows how you can turn an SVG into a dynamic visualization component with
a few bindings.

In this case a [Sketch](https://www.sketchapp.com/) document was exported as SVG and a few
attributes added to groups in the exported document. (A few unnecessary tags were removed as well.)

You can extract SVGs from web pages in Chrome using the
[SVG Crowbar](http://nytimes.github.io/svg-crowbar/) bookmarklet (use the v2).

The component is driven by properties:

- `defaultColor` colors the timeline itself and each item not otherwise colored
- `heading` (optional) is the heading
- `history` is a list of items with properties:
  - `title` and `info` (optional) text
  - `time` assumed to be a year (AD)
  - `below` (optional) if you want to force the item above or below, otherwise they alternate
  - `color` (optional) if you want to color the item
-->
<style>
  .timeline-component .item { transition: 0.25s ease-out; }

  .timeline-component:hover .item { opacity: 0.5; }

  .timeline-component:hover .item:hover { opacity: 1; }

  .timeline-component {
    cursor: default;
  }
</style>
<svg width="100%" viewBox="0 -128 1300 768" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g class="timeline" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">

    <text id="Heading" text-anchor="middle" font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="48" font-weight="bold" fill="var(--text-color)">
        <tspan x="600" y="-64" data-bind="text=_component_.heading"></tspan>
    </text>
    <g transform="translate(10.000000, 244.000000)" data-bind="attr(fill)=_component_.defaultColor">
      <rect id="Rectangle" x="24" y="8" width="1024" height="8"></rect>
      <polygon id="Triangle" points="0 12 24 0 24 24"></polygon>
      <polygon id="Triangle-Copy" transform="translate(1058.000000, 12.000000) rotate(-180.000000) translate(-1058.000000, -12.000000) " points="1046 12 1070 0 1070 24"></polygon>
    </g>
    <g
      class="item"
      data-list="_component_.history:_auto_"
      data-bind="attr(transform)=translate(${.x}, 72.0)"
    >
      <g transform="translate(108.398755, 280.398755) rotate(-315.000000) translate(-108.398755, -280.398755) translate(-4.101245, 259.398755)" data-bind="show_if=.below;attr(fill)=.color">
        <rect id="Rectangle-2"  transform="translate(26.297944, 16.251263) rotate(-360.000000) translate(-26.297944, -16.251263) " x="0.297943853" y="12.2512627" width="52" height="8"></rect>
        <rect id="Rectangle-3" transform="translate(88.000000, 16.000000) rotate(-360.000000) translate(-88.000000, -16.000000) " x="52" y="0" width="72" height="32" rx="4"></rect>
        <text id="Heading" transform="translate(178.500000, 15.000000) rotate(-360.000000) translate(-178.500000, -15.000000) " font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="24" font-weight="400" fill="var(--text-color)">
          <tspan x="132" y="24" data-bind="text=.title">Heading</tspan>
        </text>
        <text id="2004" transform="translate(89.000000, 15.000000) rotate(-360.000000) translate(-89.000000, -15.000000) " font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="24" font-weight="bold" fill="var(--text-color)">
          <tspan x="62.312" y="24" data-bind="text=.time">2004</tspan>
        </text>
        <text id="Info" transform="translate(142.500000, 34.500000) rotate(-360.000000) translate(-142.500000, -34.500000) " font-family="HelveticaNeue-Light, Helvetica Neue" font-size="12" font-weight="300" fill="var(--text-color)">
          <tspan x="133" y="39" data-bind="text=.info">Info</tspan>
        </text>
      </g>
      <g transform="translate(114.398755, 94.398755) rotate(-45.000000) translate(-114.398755, -94.398755) translate(1.898755, 73.398755)" data-bind="hide_if=.below;attr(fill)=.color">
        <rect id="Rectangle-2" transform="translate(26.297944, 16.251263) rotate(-360.000000) translate(-26.297944, -16.251263) " x="0.297943853" y="12.2512627" width="52" height="8"></rect>
        <rect id="Rectangle-3" transform="translate(88.000000, 16.000000) rotate(-360.000000) translate(-88.000000, -16.000000) " x="52" y="0" width="72" height="32" rx="4"></rect>
        <text id="Heading" transform="translate(178.500000, 15.000000) rotate(-360.000000) translate(-178.500000, -15.000000) " font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="24" font-weight="400" fill="var(--text-color)">
          <tspan x="132" y="24" data-bind="text=.title">Heading</tspan>
        </text>
        <text id="2004" transform="translate(89.000000, 15.000000) rotate(-360.000000) translate(-89.000000, -15.000000) " font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="24" font-weight="bold" fill="var(--text-color)">
          <tspan x="62.312" y="24" data-bind="text=.time">2004</tspan>
        </text>
        <text id="Info" transform="translate(142.500000, 34.500000) rotate(-360.000000) translate(-142.500000, -34.500000) " font-family="HelveticaNeue-Light, Helvetica Neue" font-size="12" font-weight="300" fill="var(--text-color)">
          <tspan x="133" y="39" data-bind="text=.info">Info</tspan>
        </text>
      </g>
      <g transform="translate(0.000000, 164.000000)" data-bind="attr(fill)=.color">
        <circle id="Oval" cx="20" cy="20" r="20"></circle>
        <circle id="Oval-Copy" fill="var(--text-color)" cx="20" cy="20" r="12"></circle>
      </g>
    </g>
  </g>
</svg>
<script>
  /* global data, get, set */
  if (!data.history) {
    set('heading', 'Quantum Computing vs HTML Centering')
    set('history', [
      { time: 1980, below: false, color: 'orange', title: 'Proposal', info: 'Yuri Manin Proposes Quantum Computing' },
      { time: 1993, below: false, color: 'orange', title: 'Theory', info: 'Theory that true teleportation is possible' },
      { time: 1996, below: false, color: 'orange', title: 'Success Criteria', info: 'DiVincenzo\'s Critera' },
      { time: 2001, below: false, color: 'orange', title: 'Practical Demo', info: 'Shor\'s algorithm demonstrated' },
      { time: 2009, below: false, color: 'orange', title: 'Solid-State', info: 'First solid-state quantum computer' },
      { time: 2011, below: false, color: 'orange', title: 'Commercial', info: 'D-Wave One announced' },
      { time: 2011, below: false, color: 'orange', title: 'Teleportation', info: 'Chinese scientists demonstrate macro teleportation' },
      { time: 2016, below: false, color: 'orange', title: 'Practical', info: 'First reprogrammable quantum computer' },
      { time: 2018, below: false, color: 'orange', title: 'Advancement', info: 'Google BristleCone 72 qubit processor' },

      { time: 1960, below: true, color: 'green', title: 'Project Xanadu', info: 'Ted Nelson founds ultimate hypertext project' },
      { time: 1991, below: true, color: 'blue', title: 'Web Invented', info: 'Sir Tim Berners-Lee' },
      { time: 1993, below: true, color: 'purple', title: '<H1> is centered', info: 'HTML 1.2 Internal Draft' },
      { time: 1995, below: true, color: 'purple', title: 'ALIGN=CENTER', info: 'HTML 2.0' },
      { time: 1996, below: true, color: 'purple', title: '<CENTER>', info: 'HTML 3.2' },
      { time: 1996, below: true, color: 'crimson', title: 'text-align: center', info: 'CSS 1' },
      { time: 1998, below: true, color: 'crimson', title: 'position: absolute', info: 'CSS 2' },
      { time: 2011, below: true, color: 'crimson', title: 'transform: translateY(-50%)', info: 'CSS 3' },
      { time: 2015, below: true, color: 'crimson', title: 'justify-content: middle', info: 'CSS 4, Flexbox' }
    ])
  }
  if (!data.defaultColor) {
    set('defaultColor', 'var(--accent-color)')
  }
  const history = get('history')
  history.sort((a, b) => a.time - b.time)
  const start = history[0].time
  const finish = history[history.length - 1].time
  const scale = finish - start
  history.forEach((item, idx) => {
    // spread out overlapping items
    const t = (item.time - start) / scale // time relative to scale
    const l = idx / history.length // position in sequence
    item.x = (63 + (l * 2 + t) * 0.33 * 900).toFixed(1)
    if (item.below === undefined) {
      item.below = !!(idx % 2)
    }
    if (!item.color) {
      item.color = get('defaultColor')
    }
  })
</script>
