<!--
# to do list
Copyright ©2016-2017 Tonio Loewald

Since a to-do list example has become a cliche these days, here's a `b8r` implementation.

Items can be marked done or deleted and have their priorities set. Items automatically sort by
priority, with completed items having low priority.

Note that this example is bound to the global `app` path, but could just as easily be written
to attach to private data.
-->
<style>
  ._component_ {
    border: 1px solid rgba(128,128,128,0.25);
    padding: 10px;
    max-width: 400px;
  }
  ._component_ hr {
    height: 0;
    border: 1px solid rgba(128,128,128,0.25);
    border-width: 0 0 1px 0;
  }
</style>
<h3>To Do List</h3>
<div>
  <button
    data-bind="enabled_if=_app_history.canUndo"
    data-event="click:_app_history.undo"
  >Undo</button>
  <button
    data-bind="enabled_if=_app_history.canRedo"
    data-event="click:_app_history.redo"
  >Redo</button>
</div>
<div data-list="app.sort(app.todolist):id" data-event="change:app.touchList">
  <input title="done" type="checkbox" data-bind="checked=.done">
  <input data-bind="value=.text">
  <select data-type="number" data-bind="value=.priority">
    <option value="1">Important!</option>
    <option value="2">Normal</option>
    <option value="3">Low</option>
  </select>
  <button 
    title="delete item"
    data-event="click:app.remove"
  >&times;</button>
</div>
<hr>
<h4>Create Reminder</h4>
<label>
  Priority
  <select data-type="number" data-bind="value=app.composer.priority">
    <option value="1">Important!</option>
    <option value="2">Normal</option>
    <option value="3">Low</option>
  </select>
</label>
<input 
  data-bind="value=app.composer.text" 
  data-event="keydown(Enter):app.addItem"
  placeholder="Write a reminder…"
>
<script>
  /* global b8r */
  'use strict'
  const {HistoryManager} = await import('../lib/history.js');
  const comparePriority = (a, b) => (a.done ? a.priority + 3 : a.priority) - (b.done ? b.priority + 3 : b.priority)
  let id = 0

  /*
  example of registering a type which will be verified after changes to the registry item
  try creating a few items and then calling 
      b8r.set('app.todolist[0].priority', false)
  in the console
  */
 
  b8r.registerType('app', {
    todolist:[{
      done: false,
      id: 1,
      text: "something to do",
      priority: 2
    }],
    composer:{
      text: "",
      priority: 2
    }
  })


  b8r.register('app', {
    todolist: [],
    composer: { text: '', priority: 2 },
    addItem () {
      id++
      const item = Object.assign(
        { done: false, id },
        b8r.get('app.composer')
      )
      b8r.push('app.todolist', item, list => list.sort(comparePriority))
      b8r.set('app.composer.text', '')
    },
    sort: list => list.sort(comparePriority),
    touchList: () => b8r.touch('app.todolist'),
    remove: evt => b8r.removeListInstance(evt.target),
  })

  new HistoryManager('app.todolist')
</script>