<!--
# toolbar
Copyright ©2016-2017 Tonio Loewald

The toolbar component merely styles its children and adds shortcut support.
-->
<style>
  .toolbar-component {
    margin: 0;
    padding: 0 var(--spacing-size);
    height: 40px;
    background-color: var(--black-5);
    box-sizing: border-box;
    border-bottom: 1px solid var(--black-20);
    display: flex;
  }

  .toolbar-component hr {
    border: 0;
    display: block;
    flex-grow: 1;
  }

  .toolbar-component hr.fixed {
    flex-grow: 0;
    width: var(--spacing-size);
  }

  .toolbar-component > button + button {
    margin-left: var(--narrowest-spacing-size);
  }
</style>
<script>
  /*
    ^^^
    Note that the toolbar component has no actual elements of its own — it simply decorates
    the component.
  */
  import('../lib/shortcuts.js').then(({update}) => {
    update()
  })
</script>
