<!--
# Web Components

This shows b8r working with a simple [web component](https://www.webcomponents.org/).
-->
<label>
  <span>Toggle Me</span>
  <b8r-switch
    data-bind="value=web-component-demo.toggle"></b8r-switch>
</label>
<label>
  <span>Toggle Me</span>
  <b8r-switch
    data-bind="value=web-component-demo.other_toggle"></b8r-switch>
</label>
<script>
  /* global require, b8r */
  require('../web-components/switch.js');

  if (! b8r.get('web-component-demo')) {
    b8r.register('web-component-demo', {toggle: false, other_toggle: true});
  }
</script>
