<!--
# Web Components

This shows b8r working with custom elements (see [web components](https://www.webcomponents.org/)).

The custom elements used on this page are `checkbox-switch`, `select-bar`, `select-pop`, and
`select-option`, all created using the helper functions from [web-components.js](#source=lib/web-components.js).

Note that none of this has any dependency on `b8r`.
-->
<div>
  <h2>Bound to Different Paths</h2>
  <label>
    <span>Toggle Me</span>
    <checkbox-switch
      height="12px"
      data-bind="
        value=web-component-demo.toggle;
        attr(onColor)=web-component-demo.onColor;
        attr(color)=web-component-demo.offColor;
      " 
    />
  </label>
  <label>
    <span>Toggle Me</span>
    <checkbox-switch data-bind="value=web-component-demo.other_toggle" thumbsize="20px" height="24px" />
  </label>
</div>
<div>
  <h2>Bound to Same Path</h2>
  <select-bar data-bind="value=web-component-demo.select">
    <select-option 
      data-list="web-component-demo.options:value"
      data-bind="value=.value"
    ><span data-bind="text=.label">…</span></select-option>
  </select-bar>
  <select-bar style="font-size: 24px; border-width: 4px" background="#aaa" data-bind="value=web-component-demo.select">
    <select-option 
      data-list="web-component-demo.options:value"
      data-bind="value=.value"
    ><span data-bind="text=.label">label</span></select-option>
  </select-bar>
  <select-pop data-bind="value=web-component-demo.select">
    <select-option 
      data-list="web-component-demo.options:value"
      data-bind="value=.value"
    ><span data-bind="text=.label">label</span></select-option>
  </select-pop>
</div>
<script>
  /* global require, b8r */
  require('../web-components/switch.js');
  require('../web-components/select.js');

  if (! b8r.get('web-component-demo')) {
    b8r.register('web-component-demo', {
      toggle: false, 
      other_toggle: true,
      onColor: 'red',
      offColor: 'pink',
      select: 2,
      options: [
        {value: 1, label: 'One'},
        {value: 2, label: 'Two'},
        {value: 3, label: 'Three'},
        {value: 4, label: 'Four'},
      ],
    });
  }
</script>
