<!--
# Web Components
This shows b8r working with custom elements (see [web components](https://www.webcomponents.org/)).
`b8r` provides a [simple convenience library](?source=source/web-components) for creating web components.
The custom elements used on this page are `b8r-switch`, `b8r-select-bar`, `b8r-select`, and
`b8r-option`, all created using the helper functions from [web-components.js](?source=source/web-components).
Note that none of these examples have any dependency on `b8r`. The only provision any of them makes for b8r is that some filter out `data-list` templates (so that if you dynamically generate options in a `<select>`-like component, it doesn't display the template as an option -- the way Safari, for example, does.)
> **Note**: it's my current intention to move `b8r` towards `web-components` and away from the original HTML components. Even though I think the idea of HTML components is sound, there are advantages to a "pure javascript" architecture:
>
> - Static analysis of code and dependencies (also autocomplete, etc.)
> - Doubling down on standards:
>   - Replacing `require` with `import` where possible
>   - Web-components have no dependency on `b8r` at all
> - It will be possible to build a `<b8r-context>` component that neatly encapsulates all (almost! -- see below) of b8r's virtues in a web-component, allowing `b8r` to "live" anywhere -- inside, outside, or without other frameworks.
> - It should be possible to provide a neat way to migrate old HTML components to the new model (wrap them in web-components).
>
> The one thing a `<b8r-context>` component wouldn't be able to do is intercepting all events (see [b8r.anyEvent.js](?source=source/b8r.anyEvent.js)), but pretty close.
-->
<div>
  <h2>Bound to Different Paths</h2>
  <label>
    <span>Toggle Me</span>
    <b8r-switch
      height="12px"
      data-bind="
        value=web-component-demo.toggle;
        attr(onColor)=web-component-demo.onColor;
        attr(color)=web-component-demo.offColor;
      "
    ></b8r-switch>
  </label>
  <label>
    <span>Toggle Me</span>
    <b8r-switch data-bind="value=web-component-demo.otherToggle" thumbsize="20px" height="24px"
    ></b8r-switch>
  </label>
  <label>
    <span>Disabled (but linked) Toggle</span>
    <b8r-switch disabled data-bind="value=web-component-demo.otherToggle" thumbsize="20px" height="24px"
    ></b8r-switch>
  </label>
</div>
<div>
  <h2>Bound to Same Path</h2>
  <b8r-select-bar data-bind="value=web-component-demo.select">
    <b8r-option
      data-list="web-component-demo.options:value"
      data-bind="value=.value"
    ><span data-bind="text=.label">…</span></b8r-option>
  </b8r-select-bar>
  <b8r-select-bar style="font-size: 24px; border-width: 4px" data-bind="value=web-component-demo.select">
    <b8r-option
      data-list="web-component-demo.options:value"
      data-bind="value=.value"
    ><span data-bind="text=.label">label</span></b8r-option>
  </b8r-select-bar>
  <b8r-select data-bind="value=web-component-demo.select">
    <b8r-option
      data-list="web-component-demo.options:value"
      data-bind="value=.value"
    ><span data-bind="text=.label">label</span></b8r-option>
  </b8r-select>
</div>
<div>
  <h2>Markdown</h2>
  <b8r-markdown
    style="border: 1px solid #ccc; padding: 10px; height: 200px; overflow-y: scroll;"
    data-bind="value=web-component-demo.markdown"
  >
  </b8r-markdown>
  </b8r-tab-selector>
</div>
<div>
  <h2>Tab Selector</h2>
  <b8r-tab-selector data-bind="value=web-component-demo.select" data-type="number">
    <div
      style="margin: 10px;"
      data-list="web-component-demo.options"
      data-bind="text=.body;attr(name)=.label"
    ></div>
  </b8r-tab-selector>
</div>
<div>
  <h2>Super Simple Markdown Editor</h2>
  <b8r-tab-selector>
    <textarea
      name="Source"
      style="padding: 10px; border: 0; height: 200px; width: 100%; overflow-y: scroll; background: transparent;"
      data-bind="value=web-component-demo.markdown"
    ></textarea>
    <b8r-markdown
      style="padding: 10px; height: 200px; overflow-y: scroll;"
      name="Rendered"
      data-bind="value=web-component-demo.markdown"
    ></b8r-markdown>
  </b8r-tab-selector>
</div>
<script>
  /* global b8r */
  // we need to load web-components before we bind to them (unlike b8r components)
  await Promise.all(
    [
      import('../web-components/switch.js'),
      import('../web-components/select.js'),
      import('../web-components/markdown.js'),
      import('../web-components/tabs.js')
    ]
  )

  // retain values across navigation, just for fun
  if (! b8r.get('web-component-demo')) {
    b8r.register('web-component-demo', {
      toggle: false,
      otherToggle: true,
      onColor: 'red',
      offColor: 'pink',
      select: 2,
      options: [
        {value: 0, label: 'One', body: 'I am the first body'},
        {value: 1, label: 'Two', body: 'I am the second body'},
        {value: 2, label: 'Three', body: 'I am the third body'},
        {value: 3, label: 'The Fourth Item', body: 'I am the fourth body'},
      ],
      markdown: "#### Markdown Support\n> Here's some simple [markdown](https://daringfireball.net/projects/markdown/syntax).",
    })
  }
</script>
