<!--
# WebRTC

WebRTC configuration (pick audio and video source). Exposes functionality in webrtc lib.
-->
<style>
  .webrtc-component {
    display: block;
    width: 256px;
  }
  .webrtc-component label,
  .webrtc-component video {
    display: block;
  }
  .webrtc-component select {
    margin-left: 10px;
    border: 1px solid rgba(0,0,0,0.5);
  }
</style>
<div>
  <h4 class="floater-title">WebRTC Settings</h4>
  <div style="padding: 5px 10px;">
    <label>
      Video Source
      <select
        data-bind="value=webrtc-devices.settings.videoinput"
      >
        <option
          data-list="webrtc-devices.sources.videoinput"
          data-bind="text=.label;value=.deviceId"
        ></option>
      </select>
    </label>
    <label>
      Audio Source
      <select
        data-bind="value=webrtc-devices.settings.audioinput"
      >
        <option
          data-list="webrtc-devices.sources.audioinput"
          data-bind="text=.label;value=.deviceId"
        ></option>
      </select>
    </label>
  </div>
</div>
<script>
/* global require, b8r, component */
'use strict';
  require('../lib/webrtc.js');
  b8r.component('floater');
  b8r.wrapWithComponent('floater', component, null, {style: 'width: 280px; right: 200px; top: 100px;'});
</script>
