@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eeqhhu');
  src:  url('fonts/icomoon.eot?eeqhhu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eeqhhu') format('truetype'),
    url('fonts/icomoon.woff?eeqhhu') format('woff'),
    url('fonts/icomoon.svg?eeqhhu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f00c";
}
.icon-cross:before {
  content: "\f00d";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-thumbs-o-down:before {
  content: "\f088";
}
.icon-eye2:before {
  content: "\ecb2";
}
.icon-eye-blocked2:before {
  content: "\ecb3";
}
.icon-dots:before {
  content: "\ed4e";
}
.icon-home5:before {
  content: "\e913";
}
.icon-file-empty:before {
  content: "\e99d";
}
.icon-file-empty2:before {
  content: "\e99e";
}
.icon-folder:before {
  content: "\e9d0";
}
.icon-folder-search:before {
  content: "\e9d1";
}
.icon-folder-upload:before {
  content: "\e9d3";
}
.icon-search3:before {
  content: "\eb36";
}
.icon-wrench:before {
  content: "\eb58";
}
.icon-cog2:before {
  content: "\eb61";
}
.icon-arrow-down3:before {
  content: "\edc1";
}
.icon-umbrella:before {
  content: "\ecd5";
}
.icon-plus2:before {
  content: "\ed5b";
}
.icon-cross2:before {
  content: "\ed6d";
}
.icon-link3:before {
  content: "\ec9d";
}
.icon-unlink3:before {
  content: "\ec9e";
}
.icon-enlarge7:before {
  content: "\eb48";
}
.icon-shrink7:before {
  content: "\eb49";
}
.icon-download2:before {
  content: "\ec7d";
}
.icon-upload2:before {
  content: "\ec7f";
}
.icon-undo:before {
  content: "\eaa5";
}
.icon-redo:before {
  content: "\eaa6";
}
.icon-list-numbered:before {
  content: "\ec58";
}
.icon-list2:before {
  content: "\ec5a";
}
.icon-bold2:before {
  content: "\ee9d";
}
.icon-underline2:before {
  content: "\ee9e";
}
.icon-italic2:before {
  content: "\ee9f";
}
.icon-strikethrough3:before {
  content: "\eea0";
}
.icon-paragraph-left3:before {
  content: "\eec1";
}
.icon-paragraph-center3:before {
  content: "\eec2";
}
.icon-paragraph-right3:before {
  content: "\eec3";
}
.icon-paragraph-justify3:before {
  content: "\eec4";
}
.icon-indent-increase2:before {
  content: "\eec5";
}
.icon-indent-decrease2:before {
  content: "\eec6";
}
.icon-wifi-off:before {
  content: "\e911";
}
.icon-wifi:before {
  content: "\e912";
}
.icon-bindinator-logo .path1:before {
  content: "\e900";
  color: rgb(220, 20, 60);
}
.icon-bindinator-logo .path2:before {
  content: "\e901";
  margin-left: -1.087890625em;
  color: rgb(135, 206, 250);
}
.icon-bindinator-logo .path3:before {
  content: "\e902";
  margin-left: -1.087890625em;
  color: rgb(220, 20, 60);
}
.icon-bindinator-logo .path4:before {
  content: "\e903";
  margin-left: -1.087890625em;
  color: rgb(135, 206, 250);
}
.icon-bindinator-logo .path5:before {
  content: "\e904";
  margin-left: -1.087890625em;
  color: rgb(220, 20, 60);
}
.icon-bindinator-logo .path6:before {
  content: "\e905";
  margin-left: -1.087890625em;
  color: rgb(220, 20, 60);
}
.icon-bindinator-logo .path7:before {
  content: "\e906";
  margin-left: -1.087890625em;
  color: rgb(135, 206, 250);
}
.icon-bindinator-logo-notext-mono .path1:before {
  content: "\e907";
  color: rgb(105, 105, 105);
}
.icon-bindinator-logo-notext-mono .path2:before {
  content: "\e908";
  margin-left: -1.3798828125em;
  color: rgb(245, 245, 245);
}
.icon-bindinator-logo-notext-mono .path3:before {
  content: "\e909";
  margin-left: -1.3798828125em;
  color: rgb(105, 105, 105);
}
.icon-bindinator-logo-notext-mono .path4:before {
  content: "\e90a";
  margin-left: -1.3798828125em;
  color: rgb(245, 245, 245);
}
.icon-bindinator-logo-notext-mono .path5:before {
  content: "\e90b";
  margin-left: -1.3798828125em;
  color: rgb(105, 105, 105);
}
.icon-bindinator-logo-notext .path1:before {
  content: "\e90c";
  color: rgb(220, 20, 60);
}
.icon-bindinator-logo-notext .path2:before {
  content: "\e90d";
  margin-left: -1.3798828125em;
  color: rgb(135, 206, 250);
}
.icon-bindinator-logo-notext .path3:before {
  content: "\e90e";
  margin-left: -1.3798828125em;
  color: rgb(220, 20, 60);
}
.icon-bindinator-logo-notext .path4:before {
  content: "\e90f";
  margin-left: -1.3798828125em;
  color: rgb(135, 206, 250);
}
.icon-bindinator-logo-notext .path5:before {
  content: "\e910";
  margin-left: -1.3798828125em;
  color: rgb(220, 20, 60);
}
