@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?axlj78');
  src:  url('fonts/icomoon.eot?axlj78#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?axlj78') format('truetype'),
    url('fonts/icomoon.woff?axlj78') format('woff'),
    url('fonts/icomoon.svg?axlj78#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
  content: "\eaa5";
}
.icon-redo:before {
  content: "\eaa6";
}
.icon-list-numbered:before {
  content: "\ec58";
}
.icon-list2:before {
  content: "\ec5a";
}
.icon-bold2:before {
  content: "\ee9d";
}
.icon-underline2:before {
  content: "\ee9e";
}
.icon-italic2:before {
  content: "\ee9f";
}
.icon-strikethrough3:before {
  content: "\eea0";
}
.icon-paragraph-left3:before {
  content: "\eec1";
}
.icon-paragraph-center3:before {
  content: "\eec2";
}
.icon-paragraph-right3:before {
  content: "\eec3";
}
.icon-paragraph-justify3:before {
  content: "\eec4";
}
.icon-indent-increase2:before {
  content: "\eec5";
}
.icon-indent-decrease2:before {
  content: "\eec6";
}

